<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-interior-armario-dentro-heading" jhiTranslate="torgaPedidosApp.interiorArmarioDentro.home.createOrEditLabel">Create or edit a Interior Armario Dentro</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!interiorArmarioDentro.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="interiorArmarioDentro.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interiorArmarioDentro.imagen" for="field_imagen">Imagen</label>
                    <div>
                        <img [src]="'data:' + interiorArmarioDentro.imagenContentType + ';base64,' + interiorArmarioDentro.imagen" style="max-height: 100px;" *ngIf="interiorArmarioDentro.imagen" alt="interiorArmarioDentro image"/>
                        <div *ngIf="interiorArmarioDentro.imagen" class="form-text text-danger clearfix">
                            <span class="pull-left">{{interiorArmarioDentro.imagenContentType}}, {{byteSize(interiorArmarioDentro.imagen)}}</span>
                            <button type="button" (click)="clearInputImage('imagen', 'imagenContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imagen" (change)="setFileData($event, interiorArmarioDentro, 'imagen', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                        [(ngModel)]="interiorArmarioDentro.imagen" />
                    <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                        [(ngModel)]="interiorArmarioDentro.imagenContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interiorArmarioDentro.ancho" for="field_ancho">Ancho</label>
                    <input type="number" class="form-control" name="ancho" id="field_ancho"
                        [(ngModel)]="interiorArmarioDentro.ancho" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interiorArmarioDentro.precio" for="field_precio">Precio</label>
                    <input type="number" class="form-control" name="precio" id="field_precio"
                        [(ngModel)]="interiorArmarioDentro.precio" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interiorArmarioDentro.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="interiorArmarioDentro.nombre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interiorArmarioDentro.precioLuz" for="field_precioLuz">Precio Luz</label>
                    <input type="number" class="form-control" name="precioLuz" id="field_precioLuz"
                        [(ngModel)]="interiorArmarioDentro.precioLuz" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interiorArmarioDentro.interioresArmarios" for="field_interioresArmarios">Interiores Armarios</label>
                    <select class="form-control" id="field_interioresArmarios" name="interioresArmarios" [(ngModel)]="interiorArmarioDentro.interioresArmarios" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="interioresArmariosOption.id === interiorArmarioDentro.interioresArmarios?.id ? interiorArmarioDentro.interioresArmarios : interioresArmariosOption" *ngFor="let interioresArmariosOption of interioresarmarios; trackBy: trackInterioresArmariosById">{{interioresArmariosOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interiorArmarioDentro.productosDormitorio" for="field_productosDormitorio">Productos Dormitorio</label>
                    <select class="form-control" id="field_productosDormitorio" name="productosDormitorio" [(ngModel)]="interiorArmarioDentro.productosDormitorio" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productosDormitorioOption.id === interiorArmarioDentro.productosDormitorio?.id ? interiorArmarioDentro.productosDormitorio : productosDormitorioOption" *ngFor="let productosDormitorioOption of productosdormitorios; trackBy: trackProductosDormitorioById">{{productosDormitorioOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
