<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-acabados-productos-presupuesto-pedido-heading" jhiTranslate="torgaPedidosApp.acabadosProductosPresupuestoPedido.home.createOrEditLabel">Create or edit a Acabados Productos Presupuesto Pedido</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!acabadosProductosPresupuestoPedido.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="acabadosProductosPresupuestoPedido.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.acabadosProductosPresupuestoPedido.acabados" for="field_acabados">Acabados</label>
                    <select class="form-control" id="field_acabados" name="acabados" [(ngModel)]="acabadosProductosPresupuestoPedido.acabados" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="acabadosOption.id === acabadosProductosPresupuestoPedido.acabados?.id ? acabadosProductosPresupuestoPedido.acabados : acabadosOption" *ngFor="let acabadosOption of acabados; trackBy: trackAcabadosById">{{acabadosOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.acabadosProductosPresupuestoPedido.productosPresupuestoPedidos" for="field_productosPresupuestoPedidos">Productos Presupuesto Pedidos</label>
                    <select class="form-control" id="field_productosPresupuestoPedidos" name="productosPresupuestoPedidos" [(ngModel)]="acabadosProductosPresupuestoPedido.productosPresupuestoPedidos" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productosPresupuestoPedidosOption.id === acabadosProductosPresupuestoPedido.productosPresupuestoPedidos?.id ? acabadosProductosPresupuestoPedido.productosPresupuestoPedidos : productosPresupuestoPedidosOption" *ngFor="let productosPresupuestoPedidosOption of productospresupuestopedidos; trackBy: trackProductosPresupuestoPedidosById">{{productosPresupuestoPedidosOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
