<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-casco-heading" jhiTranslate="torgaPedidosApp.casco.home.createOrEditLabel">Create or edit a Casco</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!casco.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="casco.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.casco.ancho" for="field_ancho">Ancho</label>
                    <input type="number" class="form-control" name="ancho" id="field_ancho"
                        [(ngModel)]="casco.ancho" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.casco.alto" for="field_alto">Alto</label>
                    <input type="number" class="form-control" name="alto" id="field_alto"
                        [(ngModel)]="casco.alto" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.casco.precio" for="field_precio">Precio</label>
                    <input type="number" class="form-control" name="precio" id="field_precio"
                        [(ngModel)]="casco.precio" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.casco.precioCostado" for="field_precioCostado">Precio Costado</label>
                    <input type="number" class="form-control" name="precioCostado" id="field_precioCostado"
                        [(ngModel)]="casco.precioCostado" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.casco.anchoMin" for="field_anchoMin">Ancho Min</label>
                    <input type="number" class="form-control" name="anchoMin" id="field_anchoMin"
                        [(ngModel)]="casco.anchoMin" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.casco.anchoMax" for="field_anchoMax">Ancho Max</label>
                    <input type="number" class="form-control" name="anchoMax" id="field_anchoMax"
                        [(ngModel)]="casco.anchoMax" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.casco.altoMin" for="field_altoMin">Alto Min</label>
                    <input type="number" class="form-control" name="altoMin" id="field_altoMin"
                        [(ngModel)]="casco.altoMin" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.casco.altoMax" for="field_altoMax">Alto Max</label>
                    <input type="number" class="form-control" name="altoMax" id="field_altoMax"
                        [(ngModel)]="casco.altoMax" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.casco.codigo" for="field_codigo">Codigo</label>
                    <input type="text" class="form-control" name="codigo" id="field_codigo"
                        [(ngModel)]="casco.codigo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.casco.piloto" for="field_piloto">Piloto</label>
                    <input type="number" class="form-control" name="piloto" id="field_piloto"
                        [(ngModel)]="casco.piloto" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.casco.armario" for="field_armario">Armario</label>
                    <select class="form-control" id="field_armario" name="armario" [(ngModel)]="casco.armario" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="armarioOption.id === casco.armario?.id ? casco.armario : armarioOption" *ngFor="let armarioOption of armarios; trackBy: trackArmarioById">{{armarioOption.mensaje}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
