<div>
    <h2 id="page-heading">
        <span jhiTranslate="torgaPedidosApp.casco.home.title">Cascos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-casco" [routerLink]="['/casco/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="torgaPedidosApp.casco.home.createLabel">
            Create new Casco
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cascos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ancho"><span jhiTranslate="torgaPedidosApp.casco.ancho">Ancho</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="alto"><span jhiTranslate="torgaPedidosApp.casco.alto">Alto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="precio"><span jhiTranslate="torgaPedidosApp.casco.precio">Precio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="precioCostado"><span jhiTranslate="torgaPedidosApp.casco.precioCostado">Precio Costado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="anchoMin"><span jhiTranslate="torgaPedidosApp.casco.anchoMin">Ancho Min</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="anchoMax"><span jhiTranslate="torgaPedidosApp.casco.anchoMax">Ancho Max</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="altoMin"><span jhiTranslate="torgaPedidosApp.casco.altoMin">Alto Min</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="altoMax"><span jhiTranslate="torgaPedidosApp.casco.altoMax">Alto Max</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigo"><span jhiTranslate="torgaPedidosApp.casco.codigo">Codigo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="piloto"><span jhiTranslate="torgaPedidosApp.casco.piloto">Piloto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="armario.id"><span jhiTranslate="torgaPedidosApp.casco.armario">Armario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let casco of cascos ;trackBy: trackId">
                <td><a [routerLink]="['/casco', casco.id, 'view' ]">{{casco.id}}</a></td>
                <td>{{casco.ancho}}</td>
                <td>{{casco.alto}}</td>
                <td>{{casco.precio}}</td>
                <td>{{casco.precioCostado}}</td>
                <td>{{casco.anchoMin}}</td>
                <td>{{casco.anchoMax}}</td>
                <td>{{casco.altoMin}}</td>
                <td>{{casco.altoMax}}</td>
                <td>{{casco.codigo}}</td>
                <td>{{casco.piloto}}</td>
                <td>
                    <div *ngIf="casco.armario">
                        <a [routerLink]="['../armario', casco.armario?.id, 'view' ]" >{{casco.armario?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/casco', casco.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/casco', casco.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'casco/'+ casco.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="cascos && cascos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
