<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categorias_Dormitorio">
            <h2><span jhiTranslate="torgaPedidosApp.categorias_Dormitorio.detail.title">Categorias Dormitorio</span> {{categorias_Dormitorio.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="torgaPedidosApp.categorias_Dormitorio.nombreCategoriaDormitorio">Nombre Categoria Dormitorio</span></dt>
                <dd>
                    <span>{{categorias_Dormitorio.nombreCategoriaDormitorio}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/categorias-dormitorio', categorias_Dormitorio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
