<div>
    <h2 id="page-heading">
        <span jhiTranslate="torgaPedidosApp.exposicion.home.title">Exposicions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-exposicion" [routerLink]="['/exposicion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="torgaPedidosApp.exposicion.home.createLabel">
            Create new Exposicion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="exposicions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codCli"><span jhiTranslate="torgaPedidosApp.exposicion.codCli">Cod Cli</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idDireccion"><span jhiTranslate="torgaPedidosApp.exposicion.idDireccion">Id Direccion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idCatalogo"><span jhiTranslate="torgaPedidosApp.exposicion.idCatalogo">Id Catalogo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tiene"><span jhiTranslate="torgaPedidosApp.exposicion.tiene">Tiene</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="color"><span jhiTranslate="torgaPedidosApp.exposicion.color">Color</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let exposicion of exposicions ;trackBy: trackId">
                <td><a [routerLink]="['/exposicion', exposicion.id, 'view' ]">{{exposicion.id}}</a></td>
                <td>{{exposicion.codCli}}</td>
                <td>{{exposicion.idDireccion}}</td>
                <td>{{exposicion.idCatalogo}}</td>
                <td>{{exposicion.tiene}}</td>
                <td>{{exposicion.color}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/exposicion', exposicion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/exposicion', exposicion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'exposicion/'+ exposicion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="exposicions && exposicions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
