<div>
	<div class="modal fade" id="modalCuadroMensajito" role="dialog" style="margin-top:10%;z-index: 1000000000000;">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-body">
				<p STYLE="TEXT-ALIGN:CENTER">SE HA ACTUALIZADO CORRECTAMENTE</p>
	        </div>
	        <div class="modal-footer">
	          <p style="text-align:center;width:100%"><button type="button" class="btn btn-default" data-dismiss="modal">OK</button></p>
	        </div>
	      </div>
	      
	    </div>
	  </div>
    <h2 id="page-heading" style="margin-top:5%">
        <span>GESTION</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pagos-tienda" (click)="actualizarNumeros()" data-toggle="modal" data-target="#modalCuadroMensajito" disabled>
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Actualizar
            </span>
        </button>
        <button class="btn btn-primary float-right" style="margin-right:30px" routerLink="../register">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            	Crear Usuario
            </span>
        </button>
        
    </h2>
    <br/>
    <div class="table-responsive" *ngIf="pagosTiendas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th><span >Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th><span>Pedidos</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th><span>valoracion</span> <fa-icon [icon]="'sort'"></fa-icon></th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pagosTienda of pagosTiendas ;trackBy: trackId">
                <td><a [routerLink]="['/pagos-tienda', pagosTienda.id, 'view' ]">{{pagosTienda.fecha}}</a></td>
                <td>{{pagosTienda.numero}}</td>
                <td>{{pagosTienda.valoracion}} &euro;</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="pagosTiendas && pagosTiendas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
