<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pagosTienda">
            <h2><span jhiTranslate="torgaPedidosApp.pagosTienda.detail.title">Pagos Tienda</span> {{pagosTienda.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="torgaPedidosApp.pagosTienda.pago">Pago</span></dt>
                <dd>
                    <span>{{pagosTienda.pago}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.pagosTienda.descuento">Descuento</span></dt>
                <dd>
                    <span>{{pagosTienda.descuento}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.pagosTienda.precioTienda">Precio Tienda</span></dt>
                <dd>
                    <span>{{pagosTienda.precioTienda}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.pagosTienda.datosUsuario">Datos Usuario</span></dt>
                <dd>
                    <div *ngIf="pagosTienda.datosUsuario">
                        <a [routerLink]="['/datos-usuario', pagosTienda.datosUsuario?.id, 'view']">{{pagosTienda.datosUsuario?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pagos-tienda', pagosTienda.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
