<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-pagos-tienda-heading" jhiTranslate="torgaPedidosApp.pagosTienda.home.createOrEditLabel">Create or edit a Pagos Tienda</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pagosTienda.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pagosTienda.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.pagosTienda.pago" for="field_pago">Pago</label>
                    <input type="text" class="form-control" name="pago" id="field_pago"
                        [(ngModel)]="pagosTienda.pago" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.pagosTienda.descuento" for="field_descuento">Descuento</label>
                    <input type="text" class="form-control" name="descuento" id="field_descuento"
                        [(ngModel)]="pagosTienda.descuento" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.pagosTienda.precioTienda" for="field_precioTienda">Precio Tienda</label>
                    <input type="number" class="form-control" name="precioTienda" id="field_precioTienda"
                        [(ngModel)]="pagosTienda.precioTienda" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.pagosTienda.datosUsuario" for="field_datosUsuario">Datos Usuario</label>
                    <select class="form-control" id="field_datosUsuario" name="datosUsuario" [(ngModel)]="pagosTienda.datosUsuario" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="datosUsuarioOption.id === pagosTienda.datosUsuario?.id ? pagosTienda.datosUsuario : datosUsuarioOption" *ngFor="let datosUsuarioOption of datosusuarios; trackBy: trackDatosUsuarioById">{{datosUsuarioOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
