<div id="productosPrincipal" style="width:100% !important;padding-left:0px ! important;">
	 <h2 style="text-align:center;margin-top:-15px;margin-left:0%;" id="page-heading">
        <!-- <div id="idNativComedoresDiv" style="z-index:2;margin-bottom: 65px;border-bottom: 1px solid;padding-bottom: 35px;position: fixed;width: 100%;background-color: white;padding-top: 110px;top: 0;"><span style="font-size: 38px;letter-spacing: 15px;padding-bottom: 15px;" id="textoStrongNativ"><strong>NATIV COMEDORES</strong></span></div>
        -->
        <h1 style="font-size: 46px;margin-top: 40px;letter-spacing: 2px;">DESCARGAS</h1>
         <div style="width:100%;padding-top: 55px;float:left;padding-bottom: 100px;" id="idDivDentroImagenes">
        	<div style="float:left;border:1px solid;margin-right:5px;margin-top:10px;margin-bottom:10px;" id="pruebahoverdiv">
        		<a href="https://pedidostorga:Torga56pedidos123.@pedidospdftorga.com/confirmaciones/descargas/CATALOGO_COMEDORES.pdf" target="_blank"><img id="imagenDeCadaTipoNativ" style="padding-right: 5px;" src="../../../content/images/comedores/CATALOGO_COMEDORES.jpeg"></a>
        	</div>
        	<div style="float: left;border:1px solid;margin-right:5px;margin-top:10px;margin-bottom:10px;" id="pruebahoverdiv">
        		<a href="https://pedidostorga:Torga56pedidos123.@pedidospdftorga.com/confirmaciones/descargas/CATALOGO_DORMITORIOS.pdf" target="_blank"><img id="imagenDeCadaTipoNativ" style="padding-right: 5px;" src="../../../content/images/comedores/CATALOGO_DORMITORIOS.jpeg"></a>
        	</div>
        	<div style="float: left;border:1px solid;margin-right:5px;margin-top:10px;margin-bottom:10px;"  id="pruebahoverdiv">
        		<a href="https://pedidostorga:Torga56pedidos123.@pedidospdftorga.com/confirmaciones/descargas/FOTOGRAFIAS.zip" target="_blank"><img id="imagenDeCadaTipoNativ" style="padding-right: 5px;" src="../../../content/images/comedores/FOTOGRAFIAS.jpg"></a>
        	</div>
        	<div style="float:left;border:1px solid;margin-right:5px;margin-top:10px;margin-bottom:10px;"  id="pruebahoverdiv">
        		<a href="https://pedidostorga:Torga56pedidos123.@pedidospdftorga.com/confirmaciones/descargas/TARIFA_COMEDORES.pdf" target="_blank"><img id="imagenDeCadaTipoNativ" style="padding-right: 5px;" src="../../../content/images/comedores/TARIFA_COMEDORES.jpeg"></a>
        	</div>
        	<div style="float: left;border:1px solid;margin-right:5px;margin-top:10px;margin-bottom:10px;"  id="pruebahoverdiv">
        		<a href="https://pedidostorga:Torga56pedidos123.@pedidospdftorga.com/confirmaciones/descargas/TARIFA_DORMITORIOS.pdf" target="_blank"><img id="imagenDeCadaTipoNativ" style="padding-right: 5px;" src="../../../content/images/comedores/TARIFA_DORMITORIOS.jpg"></a>
        	</div>
        </div>
         <h1 style="font-size: 46px;letter-spacing: 2px;">VIDEOS</h1>
         <div style="width:100%;padding-top: 55px;float:left" id="idDivDentroImagenes">
        	<div style="float:left;border:1px solid;margin-right:5px;margin-top:10px;margin-bottom:10px;" id="pruebahoverdiv" data-toggle="modal" data-target="#modalVideo1">
        		<img id="imagenDeCadaTipoNativ" style="padding-right: 5px;" src="../../../content/images/comedores/VIDEO_VITRINA.jpeg">
			</div>
        </div>
     </h2>
	<div class="modal fade" id="modalVideo1" role="dialog" style="z-index: 1000000000000;">
	    <div class="modal-dialog modal-lg">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title">Video Vitrina</h4>
	        </div>
	        <div class="modal-body">
				<p style="text-align:center"><iframe width="350" height="615" src="https://www.youtube.com/embed/LF1su7Urj8I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>
</div>
   