<div style="position: fixed;width: 100%;height: 100%;top:0;">
	<!-- <img id="imagenFOndoMueble" alt="" src="../../../content/images/TG_D20_Sc23_01.jpg"> -->
	<!-- <img id="imagenFOndoMueble" alt="" src="../../../content/images/FONDOTORGAMESACENTRO.jpg"> -->
	<p id="textoPantallaInicioCentral"><span>PLAZO DE ENTREGA</span><p id="textoPantallaInicioCentral1">ACTUAL</p><p id="textoPantallaInicioCentral1" style="font-weight: 400;" class="estoPonerTextoDavid">{{navbarComponent.presupuestoPedidoService.fechaBarraAzul}}</p><p id="textoPantallaInicioCentral1" STYLE="COLOR:RED" class="claseQueNoSeMuestre">CONSULTE NUESTRA NUEVA</p><p id="textoPantallaInicioCentral1" STYLE="COLOR:RED" class="claseQueNoSeMuestre1">SECCION DE ARMARIO</p></p>
</div>
   