<div>
    <h2 id="page-heading">
        <span jhiTranslate="torgaPedidosApp.enmarcados.home.title">Enmarcados</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-enmarcados" [routerLink]="['/enmarcados/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="torgaPedidosApp.enmarcados.home.createLabel">
            Create new Enmarcados
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="enmarcados">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigo"><span jhiTranslate="torgaPedidosApp.enmarcados.codigo">Codigo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="precio"><span jhiTranslate="torgaPedidosApp.enmarcados.precio">Precio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="anchoMin"><span jhiTranslate="torgaPedidosApp.enmarcados.anchoMin">Ancho Min</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="anchoMax"><span jhiTranslate="torgaPedidosApp.enmarcados.anchoMax">Ancho Max</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="piloto"><span jhiTranslate="torgaPedidosApp.enmarcados.piloto">Piloto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="armario.id"><span jhiTranslate="torgaPedidosApp.enmarcados.armario">Armario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let enmarcados of enmarcados ;trackBy: trackId">
                <td><a [routerLink]="['/enmarcados', enmarcados.id, 'view' ]">{{enmarcados.id}}</a></td>
                <td>{{enmarcados.codigo}}</td>
                <td>{{enmarcados.precio}}</td>
                <td>{{enmarcados.anchoMin}}</td>
                <td>{{enmarcados.anchoMax}}</td>
                <td>{{enmarcados.piloto}}</td>
                <td>
                    <div *ngIf="enmarcados.armario">
                        <a [routerLink]="['../armario', enmarcados.armario?.id, 'view' ]" >{{enmarcados.armario?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/enmarcados', enmarcados.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/enmarcados', enmarcados.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'enmarcados/'+ enmarcados.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="enmarcados && enmarcados.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
