<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fecha_entrega">
            <h2><span jhiTranslate="torgaPedidosApp.fecha_entrega.detail.title">Fecha Entrega</span> {{fecha_entrega.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="torgaPedidosApp.fecha_entrega.fecha">Fecha</span></dt>
                <dd>
                    <span>{{fecha_entrega.fecha}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fecha-entrega', fecha_entrega.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
