<div>
    <h2 id="page-heading">
        <span jhiTranslate="torgaPedidosApp.fecha_entrega.home.title">Fecha Entregas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fecha-entrega" [routerLink]="['/fecha-entrega/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="torgaPedidosApp.fecha_entrega.home.createLabel">
            Create new Fecha Entrega
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="fecha_entregas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha"><span jhiTranslate="torgaPedidosApp.fecha_entrega.fecha">Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fecha_entrega of fecha_entregas ;trackBy: trackId">
                <td><a [routerLink]="['/fecha-entrega', fecha_entrega.id, 'view' ]">{{fecha_entrega.id}}</a></td>
                <td>{{fecha_entrega.fecha}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/fecha-entrega', fecha_entrega.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fecha-entrega', fecha_entrega.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fecha-entrega/'+ fecha_entrega.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="fecha_entregas && fecha_entregas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
