<div>
    <h2 id="page-heading">
        <span jhiTranslate="torgaPedidosApp.productosComposicion.home.title">Productos Composicions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-productos-composicion" [routerLink]="['/productos-composicion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="torgaPedidosApp.productosComposicion.home.createLabel">
            Create new Productos Composicion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productosComposicions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productosDormitorio.id"><span jhiTranslate="torgaPedidosApp.productosComposicion.productosDormitorio">Productos Dormitorio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dimensionesProductoTipo.id"><span jhiTranslate="torgaPedidosApp.productosComposicion.dimensionesProductoTipo">Dimensiones Producto Tipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="composicion.id"><span jhiTranslate="torgaPedidosApp.productosComposicion.composicion">Composicion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoProducto.id"><span jhiTranslate="torgaPedidosApp.productosComposicion.tipoProducto">Tipo Producto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tiposApoyo.id"><span jhiTranslate="torgaPedidosApp.productosComposicion.tiposApoyo">Tipos Apoyo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="iluminacion.id"><span jhiTranslate="torgaPedidosApp.productosComposicion.iluminacion">Iluminacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productosComposicion of productosComposicions ;trackBy: trackId">
                <td><a [routerLink]="['/productos-composicion', productosComposicion.id, 'view' ]">{{productosComposicion.id}}</a></td>
                <td>
                    <div *ngIf="productosComposicion.productosDormitorio">
                        <a [routerLink]="['../productos-dormitorio', productosComposicion.productosDormitorio?.id, 'view' ]" >{{productosComposicion.productosDormitorio?.nombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productosComposicion.dimensionesProductoTipo">
                        <a [routerLink]="['../dimensiones-producto-tipo', productosComposicion.dimensionesProductoTipo?.id, 'view' ]" >{{productosComposicion.dimensionesProductoTipo?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productosComposicion.composicion">
                        <a [routerLink]="['../composicion', productosComposicion.composicion?.id, 'view' ]" >{{productosComposicion.composicion?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productosComposicion.tipoProducto">
                        <a [routerLink]="['../tipo-producto', productosComposicion.tipoProducto?.id, 'view' ]" >{{productosComposicion.tipoProducto?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productosComposicion.tiposApoyo">
                        <a [routerLink]="['../tipos-apoyo', productosComposicion.tiposApoyo?.id, 'view' ]" >{{productosComposicion.tiposApoyo?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productosComposicion.iluminacion">
                        <a [routerLink]="['../iluminacion', productosComposicion.iluminacion?.id, 'view' ]" >{{productosComposicion.iluminacion?.productosDormitorio.nombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/productos-composicion', productosComposicion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/productos-composicion', productosComposicion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'productos-composicion/'+ productosComposicion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="productosComposicions && productosComposicions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
