<div>
    <h2 id="page-heading">
        <span jhiTranslate="torgaPedidosApp.logistica.home.title">Logisticas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-logistica" [routerLink]="['/logistica/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="torgaPedidosApp.logistica.home.createLabel">
            Create new Logistica
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="logisticas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numPedido"><span jhiTranslate="torgaPedidosApp.logistica.numPedido">Num Pedido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ruta"><span jhiTranslate="torgaPedidosApp.logistica.ruta">Ruta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="carro"><span jhiTranslate="torgaPedidosApp.logistica.carro">Carro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaEntrega"><span jhiTranslate="torgaPedidosApp.logistica.fechaEntrega">Fecha Entrega</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaPedido"><span jhiTranslate="torgaPedidosApp.logistica.fechaPedido">Fecha Pedido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="referenciaclientes.referenciaCliente"><span jhiTranslate="torgaPedidosApp.logistica.referenciaclientes">Referenciaclientes</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estados.estadoPedido"><span jhiTranslate="torgaPedidosApp.logistica.estados">Estados</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="transportistas.transportistaPedido"><span jhiTranslate="torgaPedidosApp.logistica.transportistas">Transportistas</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let logistica of logisticas ;trackBy: trackId">
                <td><a [routerLink]="['/logistica', logistica.id, 'view' ]">{{logistica.id}}</a></td>
                <td>{{logistica.numPedido}}</td>
                <td>{{logistica.ruta}}</td>
                <td>{{logistica.carro}}</td>
                <td>{{logistica.fechaEntrega | date:'mediumDate'}}</td>
                <td>{{logistica.fechaPedido | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="logistica.referenciaclientes">
                        <a [routerLink]="['../referencia-clientes', logistica.referenciaclientes?.id, 'view' ]" >{{logistica.referenciaclientes?.referenciaCliente}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="logistica.estados">
                        <a [routerLink]="['../estados', logistica.estados?.id, 'view' ]" >{{logistica.estados?.estadoPedido}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="logistica.transportistas">
                        <a [routerLink]="['../transportistas', logistica.transportistas?.id, 'view' ]" >{{logistica.transportistas?.transportistaPedido}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/logistica', logistica.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/logistica', logistica.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'logistica/'+ logistica.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="logisticas && logisticas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
