<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="interiorArmarioMedida">
            <h2><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.detail.title">Interior Armario Medida</span> {{interiorArmarioMedida.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.numeroHueco">Numero Hueco</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.numeroHueco}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.est1">Est 1</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.est1}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.est2">Est 2</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.est2}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.est3">Est 3</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.est3}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.est4">Est 4</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.est4}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.est5">Est 5</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.est5}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.est6">Est 6</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.est6}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.est7">Est 7</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.est7}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.est8">Est 8</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.est8}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.est9">Est 9</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.est9}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.est10">Est 10</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.est10}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.tubo1">Tubo 1</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.tubo1}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.tubo2">Tubo 2</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.tubo2}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.tubo3">Tubo 3</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.tubo3}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.cajSue1">Caj Sue 1</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.cajSue1}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.cajSue2">Caj Sue 2</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.cajSue2}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.cajSue3">Caj Sue 3</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.cajSue3}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.cajSue4">Caj Sue 4</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.cajSue4}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.cajSue5">Caj Sue 5</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.cajSue5}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.hang">Hang</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.hang}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.camisero">Camisero</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.camisero}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.estCris1">Est Cris 1</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.estCris1}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.estCris2">Est Cris 2</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.estCris2}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.estCris3">Est Cris 3</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.estCris3}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.estCris4">Est Cris 4</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.estCris4}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.estCris5">Est Cris 5</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.estCris5}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.estCris6">Est Cris 6</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.estCris6}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.estCris7">Est Cris 7</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.estCris7}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.estCris8">Est Cris 8</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.estCris8}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.estCris9">Est Cris 9</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.estCris9}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.estCris10">Est Cris 10</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.estCris10}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.cajonVol1">Cajon Vol 1</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.cajonVol1}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.cajonVol2">Cajon Vol 2</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.cajonVol2}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.cajonVol3">Cajon Vol 3</span></dt>
                <dd>
                    <span>{{interiorArmarioMedida.cajonVol3}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interiorArmarioMedida.presupuestoArmario">Presupuesto Armario</span></dt>
                <dd>
                    <div *ngIf="interiorArmarioMedida.presupuestoArmario">
                        <a [routerLink]="['/presupuesto-armario', interiorArmarioMedida.presupuestoArmario?.id, 'view']">{{interiorArmarioMedida.presupuestoArmario?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/interior-armario-medida', interiorArmarioMedida.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
