<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="acabados">
            <h2><span jhiTranslate="torgaPedidosApp.acabados.detail.title">Acabados</span> {{acabados.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="torgaPedidosApp.acabados.nombre">Nombre</span></dt>
                <dd>
                    <span>{{acabados.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.acabados.precio">Precio</span></dt>
                <dd>
                    <span>{{acabados.precio}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.acabados.imagenFondo">Imagen Fondo</span></dt>
                <dd>
                    <div *ngIf="acabados.imagenFondo">
                        <a (click)="openFile(acabados.imagenFondoContentType, acabados.imagenFondo)">
                            <img [src]="'data:' + acabados.imagenFondoContentType + ';base64,' + acabados.imagenFondo" style="max-width: 100%;" alt="acabados image"/>
                        </a>
                        {{acabados.imagenFondoContentType}}, {{byteSize(acabados.imagenFondo)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/acabados', acabados.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
