<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="datosUsuario">
            <h2><span jhiTranslate="torgaPedidosApp.datosUsuario.detail.title">Datos Usuario</span> {{datosUsuario.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.nombreCompleto">Nombre Completo</span></dt>
                <dd>
                    <span>{{datosUsuario.nombreCompleto}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.email">Email</span></dt>
                <dd>
                    <span>{{datosUsuario.email}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.telefono">Telefono</span></dt>
                <dd>
                    <span>{{datosUsuario.telefono}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.nombreComercial">Nombre Comercial</span></dt>
                <dd>
                    <span>{{datosUsuario.nombreComercial}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.direccion">Direccion</span></dt>
                <dd>
                    <span>{{datosUsuario.direccion}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.codPostal">Cod Postal</span></dt>
                <dd>
                    <span>{{datosUsuario.codPostal}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.logo">Logo</span></dt>
                <dd>
                    <div *ngIf="datosUsuario.logo">
                        <a (click)="openFile(datosUsuario.logoContentType, datosUsuario.logo)">
                            <img [src]="'data:' + datosUsuario.logoContentType + ';base64,' + datosUsuario.logo" style="max-width: 100%;" alt="datosUsuario image"/>
                        </a>
                        {{datosUsuario.logoContentType}}, {{byteSize(datosUsuario.logo)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.cif">Cif</span></dt>
                <dd>
                    <span>{{datosUsuario.cif}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.nombreFiscal">Nombre Fiscal</span></dt>
                <dd>
                    <span>{{datosUsuario.nombreFiscal}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.codigo">Codigo</span></dt>
                <dd>
                    <span>{{datosUsuario.codigo}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.estado">Estado</span></dt>
                <dd>
                    <span>{{datosUsuario.estado}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.fAlta">F Alta</span></dt>
                <dd>
                    <span>{{datosUsuario.fAlta}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.fBaja">F Baja</span></dt>
                <dd>
                    <span>{{datosUsuario.fBaja}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.prioridadCarga">Prioridad Carga</span></dt>
                <dd>
                    <span>{{datosUsuario.prioridadCarga}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.apIVA">Ap IVA</span></dt>
                <dd>
                    <span>{{datosUsuario.apIVA}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.apReq">Ap Req</span></dt>
                <dd>
                    <span>{{datosUsuario.apReq}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.valAlbaran">Val Albaran</span></dt>
                <dd>
                    <span>{{datosUsuario.valAlbaran}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.facXAlbaran">Fac X Albaran</span></dt>
                <dd>
                    <span>{{datosUsuario.facXAlbaran}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.dto1">Dto 1</span></dt>
                <dd>
                    <span>{{datosUsuario.dto1}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.dto2">Dto 2</span></dt>
                <dd>
                    <span>{{datosUsuario.dto2}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.dto3">Dto 3</span></dt>
                <dd>
                    <span>{{datosUsuario.dto3}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.dtoTras">Dto Tras</span></dt>
                <dd>
                    <span>{{datosUsuario.dtoTras}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.idGc">Id Gc</span></dt>
                <dd>
                    <span>{{datosUsuario.idGc}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.valPedido">Val Pedido</span></dt>
                <dd>
                    <span>{{datosUsuario.valPedido}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.valPuntos">Val Puntos</span></dt>
                <dd>
                    <span>{{datosUsuario.valPuntos}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.dPago1">D Pago 1</span></dt>
                <dd>
                    <span>{{datosUsuario.dPago1}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.dPago2">D Pago 2</span></dt>
                <dd>
                    <span>{{datosUsuario.dPago2}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.dPago3">D Pago 3</span></dt>
                <dd>
                    <span>{{datosUsuario.dPago3}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.desdeVaca">Desde Vaca</span></dt>
                <dd>
                    <span>{{datosUsuario.desdeVaca}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.hastaVaca">Hasta Vaca</span></dt>
                <dd>
                    <span>{{datosUsuario.hastaVaca}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.web">Web</span></dt>
                <dd>
                    <span>{{datosUsuario.web}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.movil">Movil</span></dt>
                <dd>
                    <span>{{datosUsuario.movil}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.fax">Fax</span></dt>
                <dd>
                    <span>{{datosUsuario.fax}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.ctaContable">Cta Contable</span></dt>
                <dd>
                    <span>{{datosUsuario.ctaContable}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.observaciones">Observaciones</span></dt>
                <dd>
                    <span>{{datosUsuario.observaciones}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.observacionesPed">Observaciones Ped</span></dt>
                <dd>
                    <span>{{datosUsuario.observacionesPed}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.observacionesAlb">Observaciones Alb</span></dt>
                <dd>
                    <span>{{datosUsuario.observacionesAlb}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.observacionesFac">Observaciones Fac</span></dt>
                <dd>
                    <span>{{datosUsuario.observacionesFac}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.noGiroVaca">No Giro Vaca</span></dt>
                <dd>
                    <span>{{datosUsuario.noGiroVaca}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.observacionesDireccion">Observaciones Direccion</span></dt>
                <dd>
                    <span>{{datosUsuario.observacionesDireccion}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.provincias">Provincias</span></dt>
                <dd>
                    <div *ngIf="datosUsuario.provincias">
                        <a [routerLink]="['/provincias', datosUsuario.provincias?.id, 'view']">{{datosUsuario.provincias?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.municipios">Municipios</span></dt>
                <dd>
                    <div *ngIf="datosUsuario.municipios">
                        <a [routerLink]="['/municipios', datosUsuario.municipios?.id, 'view']">{{datosUsuario.municipios?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.user">User</span></dt>
                <dd>
                    {{datosUsuario.user?.login}}
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.repreGCompra">Repre G Compra</span></dt>
                <dd>
                    <div *ngIf="datosUsuario.repreGCompra">
                        <a [routerLink]="['/repre-g-compra', datosUsuario.repreGCompra?.id, 'view']">{{datosUsuario.repreGCompra?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.fPago">F Pago</span></dt>
                <dd>
                    <div *ngIf="datosUsuario.fPago">
                        <a [routerLink]="['/f-pago', datosUsuario.fPago?.id, 'view']">{{datosUsuario.fPago?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.zonas">Zonas</span></dt>
                <dd>
                    <div *ngIf="datosUsuario.zonas">
                        <a [routerLink]="['/zonas', datosUsuario.zonas?.id, 'view']">{{datosUsuario.zonas?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.datosUsuario.transportistaTabla">Transportista Tabla</span></dt>
                <dd>
                    <div *ngIf="datosUsuario.transportistaTabla">
                        <a [routerLink]="['/transportista-tabla', datosUsuario.transportistaTabla?.id, 'view']">{{datosUsuario.transportistaTabla?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/datos-usuario', datosUsuario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
