<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-datos-usuario-heading" jhiTranslate="torgaPedidosApp.datosUsuario.home.createOrEditLabel">Create or edit a Datos Usuario</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!datosUsuario.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="datosUsuario.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.nombreCompleto" for="field_nombreCompleto">Nombre Completo</label>
                    <input type="text" class="form-control" name="nombreCompleto" id="field_nombreCompleto"
                        [(ngModel)]="datosUsuario.nombreCompleto" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="datosUsuario.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.telefono" for="field_telefono">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="field_telefono"
                        [(ngModel)]="datosUsuario.telefono" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.nombreComercial" for="field_nombreComercial">Nombre Comercial</label>
                    <input type="text" class="form-control" name="nombreComercial" id="field_nombreComercial"
                        [(ngModel)]="datosUsuario.nombreComercial" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.direccion" for="field_direccion">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="field_direccion"
                        [(ngModel)]="datosUsuario.direccion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.codPostal" for="field_codPostal">Cod Postal</label>
                    <input type="text" class="form-control" name="codPostal" id="field_codPostal"
                        [(ngModel)]="datosUsuario.codPostal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.logo" for="field_logo">Logo</label>
                    <div>
                        <img [src]="'data:' + datosUsuario.logoContentType + ';base64,' + datosUsuario.logo" style="max-height: 100px;" *ngIf="datosUsuario.logo" alt="datosUsuario image"/>
                        <div *ngIf="datosUsuario.logo" class="form-text text-danger clearfix">
                            <span class="pull-left">{{datosUsuario.logoContentType}}, {{byteSize(datosUsuario.logo)}}</span>
                            <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_logo" (change)="setFileData($event, datosUsuario, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="logo" id="field_logo"
                        [(ngModel)]="datosUsuario.logo" />
                    <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                        [(ngModel)]="datosUsuario.logoContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.cif" for="field_cif">Cif</label>
                    <input type="text" class="form-control" name="cif" id="field_cif"
                        [(ngModel)]="datosUsuario.cif" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.nombreFiscal" for="field_nombreFiscal">Nombre Fiscal</label>
                    <input type="text" class="form-control" name="nombreFiscal" id="field_nombreFiscal"
                        [(ngModel)]="datosUsuario.nombreFiscal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.codigo" for="field_codigo">Codigo</label>
                    <input type="number" class="form-control" name="codigo" id="field_codigo"
                        [(ngModel)]="datosUsuario.codigo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.estado" for="field_estado">Estado</label>
                    <input type="text" class="form-control" name="estado" id="field_estado"
                        [(ngModel)]="datosUsuario.estado" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.fAlta" for="field_fAlta">F Alta</label>
                    <input type="text" class="form-control" name="fAlta" id="field_fAlta"
                        [(ngModel)]="datosUsuario.fAlta" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.fBaja" for="field_fBaja">F Baja</label>
                    <input type="text" class="form-control" name="fBaja" id="field_fBaja"
                        [(ngModel)]="datosUsuario.fBaja" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.prioridadCarga" for="field_prioridadCarga">Prioridad Carga</label>
                    <input type="number" class="form-control" name="prioridadCarga" id="field_prioridadCarga"
                        [(ngModel)]="datosUsuario.prioridadCarga" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.apIVA" for="field_apIVA">Ap IVA</label>
                    <input type="text" class="form-control" name="apIVA" id="field_apIVA"
                        [(ngModel)]="datosUsuario.apIVA" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.apReq" for="field_apReq">Ap Req</label>
                    <input type="text" class="form-control" name="apReq" id="field_apReq"
                        [(ngModel)]="datosUsuario.apReq" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.valAlbaran" for="field_valAlbaran">Val Albaran</label>
                    <input type="text" class="form-control" name="valAlbaran" id="field_valAlbaran"
                        [(ngModel)]="datosUsuario.valAlbaran" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.facXAlbaran" for="field_facXAlbaran">Fac X Albaran</label>
                    <input type="text" class="form-control" name="facXAlbaran" id="field_facXAlbaran"
                        [(ngModel)]="datosUsuario.facXAlbaran" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.dto1" for="field_dto1">Dto 1</label>
                    <input type="number" class="form-control" name="dto1" id="field_dto1"
                        [(ngModel)]="datosUsuario.dto1" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.dto2" for="field_dto2">Dto 2</label>
                    <input type="number" class="form-control" name="dto2" id="field_dto2"
                        [(ngModel)]="datosUsuario.dto2" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.dto3" for="field_dto3">Dto 3</label>
                    <input type="number" class="form-control" name="dto3" id="field_dto3"
                        [(ngModel)]="datosUsuario.dto3" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.dtoTras" for="field_dtoTras">Dto Tras</label>
                    <input type="number" class="form-control" name="dtoTras" id="field_dtoTras"
                        [(ngModel)]="datosUsuario.dtoTras" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.idGc" for="field_idGc">Id Gc</label>
                    <input type="text" class="form-control" name="idGc" id="field_idGc"
                        [(ngModel)]="datosUsuario.idGc" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.valPedido" for="field_valPedido">Val Pedido</label>
                    <input type="text" class="form-control" name="valPedido" id="field_valPedido"
                        [(ngModel)]="datosUsuario.valPedido" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.valPuntos" for="field_valPuntos">Val Puntos</label>
                    <input type="text" class="form-control" name="valPuntos" id="field_valPuntos"
                        [(ngModel)]="datosUsuario.valPuntos" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.dPago1" for="field_dPago1">D Pago 1</label>
                    <input type="number" class="form-control" name="dPago1" id="field_dPago1"
                        [(ngModel)]="datosUsuario.dPago1" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.dPago2" for="field_dPago2">D Pago 2</label>
                    <input type="number" class="form-control" name="dPago2" id="field_dPago2"
                        [(ngModel)]="datosUsuario.dPago2" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.dPago3" for="field_dPago3">D Pago 3</label>
                    <input type="number" class="form-control" name="dPago3" id="field_dPago3"
                        [(ngModel)]="datosUsuario.dPago3" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.desdeVaca" for="field_desdeVaca">Desde Vaca</label>
                    <input type="text" class="form-control" name="desdeVaca" id="field_desdeVaca"
                        [(ngModel)]="datosUsuario.desdeVaca" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.hastaVaca" for="field_hastaVaca">Hasta Vaca</label>
                    <input type="text" class="form-control" name="hastaVaca" id="field_hastaVaca"
                        [(ngModel)]="datosUsuario.hastaVaca" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.web" for="field_web">Web</label>
                    <input type="text" class="form-control" name="web" id="field_web"
                        [(ngModel)]="datosUsuario.web" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.movil" for="field_movil">Movil</label>
                    <input type="text" class="form-control" name="movil" id="field_movil"
                        [(ngModel)]="datosUsuario.movil" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.fax" for="field_fax">Fax</label>
                    <input type="text" class="form-control" name="fax" id="field_fax"
                        [(ngModel)]="datosUsuario.fax" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.ctaContable" for="field_ctaContable">Cta Contable</label>
                    <input type="number" class="form-control" name="ctaContable" id="field_ctaContable"
                        [(ngModel)]="datosUsuario.ctaContable" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.observaciones" for="field_observaciones">Observaciones</label>
                    <input type="text" class="form-control" name="observaciones" id="field_observaciones"
                        [(ngModel)]="datosUsuario.observaciones" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.observacionesPed" for="field_observacionesPed">Observaciones Ped</label>
                    <input type="text" class="form-control" name="observacionesPed" id="field_observacionesPed"
                        [(ngModel)]="datosUsuario.observacionesPed" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.observacionesAlb" for="field_observacionesAlb">Observaciones Alb</label>
                    <input type="text" class="form-control" name="observacionesAlb" id="field_observacionesAlb"
                        [(ngModel)]="datosUsuario.observacionesAlb" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.observacionesFac" for="field_observacionesFac">Observaciones Fac</label>
                    <input type="text" class="form-control" name="observacionesFac" id="field_observacionesFac"
                        [(ngModel)]="datosUsuario.observacionesFac" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.noGiroVaca" for="field_noGiroVaca">No Giro Vaca</label>
                    <input type="text" class="form-control" name="noGiroVaca" id="field_noGiroVaca"
                        [(ngModel)]="datosUsuario.noGiroVaca" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.observacionesDireccion" for="field_observacionesDireccion">Observaciones Direccion</label>
                    <input type="text" class="form-control" name="observacionesDireccion" id="field_observacionesDireccion"
                        [(ngModel)]="datosUsuario.observacionesDireccion" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.provincias" for="field_provincias">Provincias</label>
                    <select class="form-control" id="field_provincias" name="provincias" [(ngModel)]="datosUsuario.provincias" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="provinciasOption.id === datosUsuario.provincias?.id ? datosUsuario.provincias : provinciasOption" *ngFor="let provinciasOption of provincias; trackBy: trackProvinciasById">{{provinciasOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.municipios" for="field_municipios">Municipios</label>
                    <select class="form-control" id="field_municipios" name="municipios" [(ngModel)]="datosUsuario.municipios" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="municipiosOption.id === datosUsuario.municipios?.id ? datosUsuario.municipios : municipiosOption" *ngFor="let municipiosOption of municipios; trackBy: trackMunicipiosById">{{municipiosOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="datosUsuario.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === datosUsuario.user?.id ? datosUsuario.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.repreGCompra" for="field_repreGCompra">Repre G Compra</label>
                    <select class="form-control" id="field_repreGCompra" name="repreGCompra" [(ngModel)]="datosUsuario.repreGCompra" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="repreGCompraOption.id === datosUsuario.repreGCompra?.id ? datosUsuario.repreGCompra : repreGCompraOption" *ngFor="let repreGCompraOption of repregcompras; trackBy: trackRepreGCompraById">{{repreGCompraOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.fPago" for="field_fPago">F Pago</label>
                    <select class="form-control" id="field_fPago" name="fPago" [(ngModel)]="datosUsuario.fPago" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fPagoOption.id === datosUsuario.fPago?.id ? datosUsuario.fPago : fPagoOption" *ngFor="let fPagoOption of fpagos; trackBy: trackFPagoById">{{fPagoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.zonas" for="field_zonas">Zonas</label>
                    <select class="form-control" id="field_zonas" name="zonas" [(ngModel)]="datosUsuario.zonas" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="zonasOption.id === datosUsuario.zonas?.id ? datosUsuario.zonas : zonasOption" *ngFor="let zonasOption of zonas; trackBy: trackZonasById">{{zonasOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.datosUsuario.transportistaTabla" for="field_transportistaTabla">Transportista Tabla</label>
                    <select class="form-control" id="field_transportistaTabla" name="transportistaTabla" [(ngModel)]="datosUsuario.transportistaTabla" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="transportistaTablaOption.id === datosUsuario.transportistaTabla?.id ? datosUsuario.transportistaTabla : transportistaTablaOption" *ngFor="let transportistaTablaOption of transportistatablas; trackBy: trackTransportistaTablaById">{{transportistaTablaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
