<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="presupuestoArmario">
            <h2><span jhiTranslate="torgaPedidosApp.presupuestoArmario.detail.title">Presupuesto Armario</span> {{presupuestoArmario.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="torgaPedidosApp.presupuestoArmario.ancho">Ancho</span></dt>
                <dd>
                    <span>{{presupuestoArmario.ancho}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.presupuestoArmario.alto">Alto</span></dt>
                <dd>
                    <span>{{presupuestoArmario.alto}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.presupuestoArmario.fondo">Fondo</span></dt>
                <dd>
                    <span>{{presupuestoArmario.fondo}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.presupuestoArmario.cascoPrecio">Casco Precio</span></dt>
                <dd>
                    <span>{{presupuestoArmario.cascoPrecio}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.presupuestoArmario.armario">Armario</span></dt>
                <dd>
                    <div *ngIf="presupuestoArmario.armario">
                        <a [routerLink]="['/armario', presupuestoArmario.armario?.id, 'view']">{{presupuestoArmario.armario?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.presupuestoArmario.acabadosCasco">Acabados Casco</span></dt>
                <dd>
                    <div *ngIf="presupuestoArmario.acabadosCasco">
                        <a [routerLink]="['/acabados', presupuestoArmario.acabadosCasco?.id, 'view']">{{presupuestoArmario.acabadosCasco?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.presupuestoArmario.acabados">Acabados</span></dt>
                <dd>
                    <div *ngIf="presupuestoArmario.acabados">
                        <a [routerLink]="['/acabados', presupuestoArmario.acabados?.id, 'view']">{{presupuestoArmario.acabados?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.presupuestoArmario.acabadosInterior">Acabados Interior</span></dt>
                <dd>
                    <div *ngIf="presupuestoArmario.acabadosInterior">
                        <a [routerLink]="['/acabados', presupuestoArmario.acabadosInterior?.id, 'view']">{{presupuestoArmario.acabadosInterior?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.presupuestoArmario.productosPresupuestoPedidos">Productos Presupuesto Pedidos</span></dt>
                <dd>
                    <div *ngIf="presupuestoArmario.productosPresupuestoPedidos">
                        <a [routerLink]="['/productos-presupuesto-pedidos', presupuestoArmario.productosPresupuestoPedidos?.id, 'view']">{{presupuestoArmario.productosPresupuestoPedidos?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/presupuesto-armario', presupuestoArmario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
