<div style="margin-top: 50px;">

    <br/>
   
    	<p style="text-align:center;font-size: 28PX;margin-bottom: 40PX;">PEDIDOS</p>
    	<p *jhiHasAnyAuthority="['ROLE_REPRESENTATE','ROLE_ADMIN']" style="text-align:center;"><select style="height: 50px;width: 300px;" id="filtroos" (change)="filtrosBuscados()">
    		<option>TODOS</option>
    		<!--  <option>FECHA PEDIDO</option>
    		<option *jhiHasAnyAuthority="'ROLE_ADMIN'">CODIGO CLIENTE</option>-->
    		<option *jhiHasAnyAuthority="'ROLE_ADMIN'">NOMBRE FISCAL</option>
    		<option *ngIf="currentAccount.authorities[0] == 'ROLE_REPRESENTATE'">NOMBRE FISCAL</option>
    		<!-- <option>REFERENCIA CLIENTE</option>-->
    	</select></p>
    	<p *jhiHasAnyAuthority="['ROLE_REPRESENTATE','ROLE_ADMIN']" style="text-align:center;display: none" id="textoDemasFiltros" ><input list="listaBuena" style="height: 50px;width: 300px;" type="text" id="inputFiltro"></p>
    	<p *jhiHasAnyAuthority="['ROLE_REPRESENTATE','ROLE_ADMIN']" style="text-align:center;display: none" id="nombreFiscalTextFiltros" ><input style="text-align:center;height: 50px;width: 300px;" id="nombreFiscalInput" type="text"> <button style="width: 140px;height: 44px;font-size: 20px;letter-spacing: 3px;color: white;background: #B5BABD;border: 0;" (click)="cargarSelectTexto()">CARGAR</button></p>
    	<p *jhiHasAnyAuthority="['ROLE_REPRESENTATE','ROLE_ADMIN']" style="text-align:center;display: none" id="nombreFiscalSelectFiltros" ><select style="text-align:center;height: 50px;width: 300px;" id="nombreFiscalSelect" ><option></option></select></p>
    	<p *jhiHasAnyAuthority="['ROLE_REPRESENTATE','ROLE_ADMIN']" style="text-align:center;display: none" id="fechaFiltrado" ><input style="height: 50px;width: 300px;" type="date" id="fechaBus"></p>
        <p *jhiHasAnyAuthority="['ROLE_REPRESENTATE','ROLE_ADMIN']" style="text-align:center;"><button style="width: 140px;height: 44px;font-size: 20px;letter-spacing: 3px;color: white;background: #B5BABD;border: 0;" (click)="buscarPresu()">BUSCAR</button></p>
		 <div class="table-responsive" *ngIf="presupuestoPedidos" >
        <table class="table table-striped" id="presupuestoPedidosTabla">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th><span>Numero Pedido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
             <th (click) = "ordenarPorFecha()"><span >Fecha Pedido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigo" ><span >Referencia Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigo" ><span >Estado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigo" ><span >Transportista</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigo" ><span >Previsi&#243;n Entrega</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login" *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>Codigo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login" *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>Nombre Fiscal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th *ngIf="currentAccount.authorities[0] == 'ROLE_REPRESENTATE'" >
                    <span>Nombre Fiscal</span> <fa-icon [icon]="'sort'"></fa-icon>
			</th>
			
            <th></th>
            <th></th>
            <th></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let presupuestoPedido of presupuestoPedidos;">
            	<td>{{presupuestoPedido.numero_pedido}}</td>
            	<td >{{presupuestoPedido.fecha_pedido}}</td>
                <td ><i *ngIf="presupuestoPedido != undefined">{{presupuestoPedido.codigo}}</i></td>
                <td >
                    <a (click)="funcionmostrarmensajemodal(presupuestoPedido.estado)" data-toggle="modal" data-target="#modalmostrarmensajeestado"><i *ngIf="presupuestoPedido != undefined" class="blink1" style="border-bottom: 1px solid red;">{{presupuestoPedido.estado}}</i></a>
                </td>
                <td >
                    <i *ngIf="presupuestoPedido != undefined">{{presupuestoPedido.transportista}}</i>
                </td>
                <td >
                    <i *ngIf="presupuestoPedido != undefined" class="blink">{{presupuestoPedido.fecha_prevista}}</i>
                </td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'" >
                    <i *ngIf="presupuestoPedido != undefined">{{presupuestoPedido.user?.login}}</i>
                </td>
                
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'" >
                    <i *ngIf="presupuestoPedido != undefined">{{presupuestoPedido.user?.firstName}}</i>
                </td>
                <td *ngIf="currentAccount.authorities[0] == 'ROLE_REPRESENTATE'" >
                    <i *ngIf="presupuestoPedido != undefined">{{presupuestoPedido.user?.firstName}}</i>
                </td>
                
                <td *ngIf="presupuestoPedido != undefined" class="text-right">
                   
                    
                    
                    <!-- 
                     <div class="btn-group flex-btn-group-container" style="float: right;margin-left:20px">
                        <button *ngIf="presupuestoPedido.puntos != 'NULL'" (click)="cogerIdPresupuesto(presupuestoPedido.id)" type="submit"
                                [routerLink]="['/presupuesto-puntos' ]"
                                class="btn btn-info btn-sm">
                            <span class="d-none d-md-inline" >PRESUPUESTO <br>EN PRECIO <BR> TIENDA</span>
                        </button>
                        
                        <button *ngIf="presupuestoPedido.puntos == 'NULL'" (click)="cogerIdPresupuesto(presupuestoPedido.id)" type="submit"
                                data-toggle="modal" data-target="#modalPasar"
                                class="btn btn-info btn-sm">
                            <span class="d-none d-md-inline" >PRESUPUESTO <br>EN PRECIO <BR> TIENDA</span>
                        </button>   
                                   
                    </div>
                    
                    <div class="btn-group flex-btn-group-container" style="float: right;margin-left:20px">
                        <button (click)="cogerIdPresupuesto(presupuestoPedido.id)" type="submit"
                                [routerLink]="['/presupuesto-precios' ]"
                                class="btn btn-info btn-sm">
                            <span class="d-none d-md-inline" >PRESUPUESTO <br>EN PRECIO <BR> FABRICA</span>
                        </button>           
                    </div>
                     -->
                     
                     
                   
                     <a id="estosoloparadescargar" style="display:none"></a>
                     <div *jhiHasAnyAuthority ="'ROLE_USER'" class="btn-group flex-btn-group-container" id="divBotonPedidoBueno" style="float: right;margin-left:20px;z-index: 1;right: 10px;">
                        <button *ngIf="presupuestoPedido.web == 1" (click)="cogerIdPresupuesto(presupuestoPedido.id)" type="submit"
                                [routerLink]="['/pedidos-producto' ]"
                                class="btn btn-info btn-sm">
                            <span class="d-md-inline">VER PEDIDO</span>
                        </button>
                        <button *ngIf="presupuestoPedido.web != 1" class="btn btn-info btn-sm" style="background-color:#B5BABD;BORDER:0;" data-toggle="modal" data-target="#modalmostrarmensajenodispo4">
                            <span class="d-md-inline">VER PEDIDO</span>
                        </button>       
                    </div>
                    
                    <a id="soloAbrirModalNoAdmin" style="display:none" data-toggle="modal" data-target="#modalmostrarmensajeDesplazar"></a>
                    
                    
                    
                    <!-- <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group flex-btn-group-container" style="float: right;margin-left:20px;POSITION: absolute;z-index: 2;right: 10px;">
                        <button *ngIf="presupuestoPedido.visto == 0" style="background-color:red" (click)="cogerIdPresupuesto1(presupuestoPedido.id)" type="submit"
                                class="btn btn-info btn-sm">
                            <span class="d-none d-md-inline">VER PEDIDO</span>
                        </button>  
                        <button *ngIf="presupuestoPedido.visto == 1" (click)="cogerIdPresupuesto(presupuestoPedido.id)" type="submit"
                                [routerLink]="['/pedidos-producto' ]"
                                class="btn btn-info btn-sm">
                            <span class="d-none d-md-inline">VER PEDIDO</span>
                        </button>         
                    </div>
                     -->
                    
                    
                    
                    
                </td>
                <td *ngIf="presupuestoPedido != undefined" class="text-right">
                	  <div *jhiHasAnyAuthority ="'ROLE_USER'" class="btn-group flex-btn-group-container" id="divBotonPedidoBueno" style="float: right;margin-left:20px;z-index: 1;right: 10px;">
                        <button *ngIf="presupuestoPedido.estapedido == 0" class="btn btn-info btn-sm" style="background-color:#B5BABD;BORDER:0;" data-toggle="modal" data-target="#modalmostrarmensajenodispo">
                            <span class="d-md-inline">CONFIRMACION</span>
                        </button>
                        <button *ngIf="presupuestoPedido.estapedido == 1"  class="btn btn-info btn-sm">
                            <span (click)="descargarconfirmacion(presupuestoPedido.numero_pedido)" class="d-md-inline">CONFIRMACION</span>
                        </button>          
                    </div>
                </td>
                <td *ngIf="presupuestoPedido != undefined" class="text-right">
                	<div *jhiHasAnyAuthority ="'ROLE_USER'" class="btn-group flex-btn-group-container" id="divBotonPedidoBueno" style="float: right;margin-left:20px;z-index: 1;right: 10px;">
                        <button *ngIf="presupuestoPedido.estafactura == 0" class="btn btn-info btn-sm" style="background-color:#B5BABD;BORDER:0;" data-toggle="modal" data-target="#modalmostrarmensajenodispo1">
                            <span class="d-md-inline">FACTURA</span>
                        </button>
                        <button *ngIf="presupuestoPedido.estafactura == 1" class="btn btn-info btn-sm" >
                            <span (click)="descargarconfirmacion1(presupuestoPedido.numero_factura)" class="d-md-inline">FACTURA</span>
                        </button>           
                    </div>
                </td>
                
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'" class="text-right">
                    <div class="btn-group flex-btn-group-container" id="divBotonPedidoBueno" style="float: right;margin-left:20px;z-index: 1;right: 10px;">
                        <button class="btn btn-info btn-sm" style="background-color:RED;BORDER:0;" (click)="cogerIdPresupuesto(presupuestoPedido.id)" data-toggle="modal" data-target="#modalmostrarmensajenodispo2">
                            <span class="d-md-inline">BORRAR</span>
                        </button>
       
                    </div>
                </td>
            </tr>
            <tr></tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="presupuestoPedidos && presupuestoPedidos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    
    <div class="modal fade" id="modalPasar" role="dialog" style="margin-top: 100px;">
	    <div class="modal-dialog modal-sm">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-body">
	        	<p style="text-align:center">No se ha establecido un <br>valor de punto para este <br>pedido/presupuesto</p>
				<p style="text-align:center"><label>Valor del punto</label><input type="number" id="inputPunto"></p>
	         <p style="float:left"> <button style="width:100px;background-color:#9FF781" (click)="anadirValorPunto()" data-dismiss="modal" >Confirmar</button></p>
	         <p style="float:right"> <button style="width:100px;background-color:#9CDBDF" data-dismiss="modal">Cancelar</button></p>
	        </div>
	        	<p id="verPresupuesto" style="display:none"> <a data-dismiss="modal" routerLink="../presupuesto-usuario"  routerLinkActive="active"><span>Abrir Presupuesto</span></a></p>
	      </div>
	      
	    </div>
	  </div>
	  
	  <div class="modal fade" id="modalmostrarmensajenodispo" role="dialog" style="margin-top: 100px;z-index: 1000000000000;">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	       
	        <div class="modal-body">
	        	<p>EL PEDIDO HA LLEGADO A FABRICA.</p>
	        	<p>LE NOTIFICAREMOS TAN PRONTO CUANDO TENGAMOS LA CONFIRMACION DEL PEDIDO DISPONIBLE.</p>
	        	<p style="text-align:center"> <button style="width:100px;background-color:#9CDBDF" data-dismiss="modal">CERRAR</button></p>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  
	   <div class="modal fade" id="modalmostrarmensajeestado" role="dialog" style="z-index: 1000000000000;">
	    <div class="modal-dialog" style="height:100%;">
	    
	      <!-- Modal content-->
	      <div class="modal-content" style="height: 1380px;margin-bottom: 20px;">
	       	<div class="modal-header" style="z-index: 10;">
		          <button type="button" class="close" data-dismiss="modal"><span>x</span></button>
		        </div>
	        <div class="modal-body">
	        	<div id="divmetertextoEstado">
	        	
	        	</div>
	        	<div><p style="text-align:center"> <button style="width:100px;background-color:#9CDBDF" data-dismiss="modal">CERRAR</button></p></div>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  
	  <div class="modal fade" id="modalmostrarmensajenodispo1" role="dialog" style="margin-top: 100px;z-index: 1000000000000;">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	       
	        <div class="modal-body">
	        	<p style="text-align:center">SU FACTURA AUN NO ESTA DISPONIBLE.</p>
	        	<p style="text-align:center">LO ESTARA CUANDO EL PEDIDO SALGA DE FABRICA.</p>
	        	<p style="text-align:center"> <button style="width:100px;background-color:#9CDBDF" data-dismiss="modal">CERRAR</button></p>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  <div class="modal fade" id="modalmostrarmensajeDesplazar" role="dialog" style="margin-top: 100px;z-index: 1000000000000;">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	       
	        <div class="modal-body">
	        	<p style="text-align:center;color:red;font-size:32px">&#161;OJO!</p>
	        	<p style="text-align:center;color:red;font-size:32px">PUEDES DESPLAZAR LA TABLA HACIA LOS LADOS.</p>
	        	<p style="text-align:center"><button style="width:100px;" data-dismiss="modal">CERRAR</button></p>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  <div class="modal fade" id="modalmostrarmensajenodispo4" role="dialog" style="margin-top: 100px;z-index: 1000000000000;">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	       
	        <div class="modal-body">
	        	<p style="text-align:center">ESTE PEDIDO NO SE HA TRAMITADO A TRAVES DE LA WEB, POR ELLO, SU VISUALIZACION NO ESTA DISPONIBLE.</p>
	        	<p style="text-align:center"> <button style="width:100px;background-color:#9CDBDF" data-dismiss="modal">CERRAR</button></p>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  
	  <div class="modal fade" id="modalmostrarmensajenodispo2" role="dialog" style="margin-top: 100px;z-index: 1000000000000;">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	       
	        <div class="modal-body">
	        	<p style="text-align:center">VA A BORRAR UN PEDIDO.</p>
	        	<p style="text-align:center">&#191;ESTAS SEGURO?</p>
	        	<p style="text-align:center"> <button style="width:100px;background-color: #17a2b8;border-color: #17a2b8;color:white;margin-right:25px" data-dismiss="modal" (click)="ponercomoborrado()">SI</button><button style="width:100px;background-color:#B5BABD;BORDER:0;" data-dismiss="modal">NO</button></p>
	        </div>
	      </div>
	      
	    </div>
	  </div>
</div>


