<div id="imprimir">
	<div id="estoParaImprimir">
	    <br/>
		
			    <div class="primerDivPresu" style="margin-top:50px;float:left;width:100%;margin-bottom:40px;" *ngFor="let productosPresupuestoPedidos of productosPresupuestoPedidos ;trackBy: trackId; let i=index;" id="esteDiv{{i}}">
		    	<div *ngIf="i == 0">
					<p style="text-align:center;font-size:34px">PEDIDO</p>
					<p style="text-align:center;font-size:22px">REFERENCIA PEDIDO: {{productosPresupuestoPedidos.presupuestoPedido?.codigo}}</p>
					<p style="text-align:center;font-size:22px">FECHA PEDIDO: {{productosPresupuestoPedidos.presupuestoPedido?.fecha_pedido}}</p>
				</div>
		    	<div style="width:100%;float:left;margin-bottom:30px;display:none" id="primeroMeterMargin" class="cabecerapedidostodo{{i}}" *ngIf="i == 0">
		    		<img src="../../../content/images/Logo.jpg" style="width: 5%;position: absolute;left: 10%;" id="imagenlogopedidosprod">
		    		<div>
		    			<p style="text-align:center;font-size:17px;margin-top: 5px;margin-bottom: 5px;">MUEBLES TORGA, S.L.</p>
		    			<p style="text-align:center;font-size:17px;margin-top: 5px;margin-bottom: 5px;">CTR. UBEDA - MALAGA, KM. 37,5</p>
		    			<p style="text-align:center;font-size:17px;margin-top: 5px;margin-bottom: 5px;">23100 - MANCHA REAL (JAEN)</p>
		    			<p style="text-align:center;font-size:17px;margin-top: 5px;margin-bottom: 5px;color: grey;">pedidos@mueblestorga.com</p>
		    			<p style="text-align:center;font-size:17px;margin-top: 5px;margin-bottom: 5px;">Tel: 953 35 03 63 Fax: 935 35 06 10</p>
		    		</div>
		    		
		    		<div id="divderechapedidodatos">
		    			<p id="textoPedido" style="font-size:17px"><span style="border-right: 1px solid;border-bottom: 1px solid;padding-left: 12.5%;padding-right: 12.5%;padding-bottom: 4%;padding-top: 1%;">PEDIDO</span></p>
		    			<p id="textoPedido" style="font-size:17px"><span style="margin-left: 10px;">Fecha:</span><span style="float: right;margin-right: 10px;">{{productosPresupuestoPedidos.presupuestoPedido?.fecha_pedido}}</span></p>
		    		</div>
		    		<div style="margin-top:40px;border: 1px solid;" id="clienteDivDireccion" *ngIf="precioFinalPresuService.todos !== undefined && precioFinalPresuService.todos.direccionTiendas !== null">
		    			<p style="font-size:16px;background-color:black;color:white" id="metertamanotienda">MERCANCIA ENTREGADA EN:</p>
		    			<p style="font-size:16px" id="pmetidoimprimir">{{precioFinalPresuService.todos.direccionTiendas.nombre}}</p>
		    			<p style="font-size:16px" id="pmetidoimprimir">{{precioFinalPresuService.todos.direccionTiendas.direccion}}</p>
		    			<p style="font-size:16px" id="pmetidoimprimir">{{precioFinalPresuService.todos.direccionTiendas.codPostal}}-{{precioFinalPresuService.todos.direccionTiendas.provincias}}</p>
		    			<p style="font-size:16px" id="pmetidoimprimir">Fijo: {{precioFinalPresuService.todos.direccionTiendas.fijo}}</p>
		    			<p style="font-size:16px" id="pmetidoimprimir">Email: {{precioFinalPresuService.todos.direccionTiendas.email}}</p>
		    			<p style="font-size:16px" id="pmetidoimprimir">Ref. Cliente: {{productosPresupuestoPedidos.presupuestoPedido?.codigo}}</p>
		    			<p style="font-size:16px;border-top: 1px solid;margin-bottom: 0;" id="elultimopadentrop">Transportista: {{precioFinalPresuService.todos.direccionTiendas.transportista}}</p>
		    		</div>
		    		
		    		<div style="margin-top:40px;border:1px solid;" id="clienteDivTienda">
		    			<p style="font-size:16px;background-color:black;color:white" id="metertamanotienda">CLIENTE: {{datosUsuarioService.tiendaCargadaPresu.codigo}}</p>
		    			<p style="font-size:16px" id="pmetidoimprimir">{{datosUsuarioService.tiendaCargadaPresu.nombreComercial}}</p>
		    			<p style="font-size:16px" id="pmetidoimprimir">{{datosUsuarioService.tiendaCargadaPresu.direccion}}</p>
		    			<p style="font-size:16px" id="pmetidoimprimir">{{datosUsuarioService.tiendaCargadaPresu.codPostal}}-{{datosUsuarioService.tiendaCargadaPresu.provincias}}</p>
		    			<p style="font-size:16px" id="pmetidoimprimir">Fijo: {{numero}}</p>
		    			<p style="font-size:16px" id="pmetidoimprimir">Email: {{datosUsuarioService.tiendaCargadaPresu.email}}</p>
		    			<p style="font-size:16px" id="pmetidoimprimir">Cif: {{datosUsuarioService.tiendaCargadaPresu.cif}}</p>
		    			<p style="font-size:16px;border-top: 1px solid;margin-bottom: 0;" id="elultimopadentrop">Representante: {{datosUsuarioService.tiendaCargadaPresu.repreGCompra.nombre}}</p>
		    		</div>
		    		<!--  <a style="float:right;margin-right:20%;margin-bottom:50px;" (click)="mostrarPrecioFabrica()"><img style="max-width:50px;" src="../../../content/images/fabrica.png"/></a>-->
		    	</div>
		    	<div style="display:none" id="divreferenciapedido" *ngIf="i == 0">
		    		<p id="referenciapdivreferencia">REFERENCIA</p>
		    		<p style="text-align:center;font-size:14px">{{productosPresupuestoPedidos.dimensionesProductoTipo?.mensaje}}</p>
		    	</div>
		    	<div style="display:none" id="divUnidadespedido" *ngIf="i == 0">
		    		<p id="referenciapdivreferencia">Ud.</p>
		    		<p style="text-align:center;font-size:14px">1</p>
		    	</div>
		    	<div id="divparaimagendatosmeter">
		    		<p id="referenciapdivreferencia" class="queremosquenosevea" style="display:none" *ngIf="i == 0">DESCRIPCION</p>
		    		<strong class="queremosquenosevea" style="display:none;text-align: center;">{{productosPresupuestoPedidos.productosDormitorio?.nombre}}</strong>
			    	<div style="float:left;width:40%;margin-left:100px;height:333px;margin-top:4%;" id="imagen{{i}}">
			    	</div>
			    	<div class="{{productosPresupuestoPedidos.id}}Datos" id="datosMeter{{i}}" style="float:right;width:25%;font-size:12px;letter-spacing:1px;" *ngIf="productosPresupuestoPedidos.dimensionesProductoTipo !== null && productosPresupuestoPedidos.productosDormitorio.categoriasDormi.id !== 32 && productosPresupuestoPedidos.productosDormitorio.categoriasDormi.id !== 31">
			    		<p style="font-size:16px;"><strong>{{productosPresupuestoPedidos.productosDormitorio?.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i  style="float:right;margin-right:20%;FONT-WEIGHT:600">TOTAL: <span id="precioTotal{{i}}">{{productosPresupuestoPedidos.dimensionesProductoTipo?.precio}}</span> pp</i></strong><i id="precioFabrica{{i}}" style="display:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;198<strong>&euro;</strong></i><i id="precioGanancias{{i}}" style="display:none"></i></p>
			    		<p id="pimprimirdatostexto"><span style="font-weight:600">Codigo</span> &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.mensaje}}</p>
			    		<p id="pimprimirdatostexto"><span style="font-weight:600" id="anchoSoloSecambiaEspecial">Ancho</span> &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.ancho}}</p>
			    		<p id="pimprimirdatostexto" *ngIf="productosPresupuestoPedidos.textoEspecial === 'Ancho especial'"><span style="font-weight:600">Incremento especial</span> {{productosPresupuestoPedidos.precioEspecial}}</p>
			    		<p id="pimprimirdatostexto"><span style="font-weight:600" id="altoSoloSecambiaEspecial">Alto</span> &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.alto}}</p>
			    		<p id="pimprimirdatostexto" *ngIf="productosPresupuestoPedidos.textoEspecial === 'Alto especial'"><span style="font-weight:600">Incremento especial</span> {{productosPresupuestoPedidos.precioEspecial}}</p>
			    		<p id="pimprimirdatostexto"><span style="font-weight:600" id="fondoSoloSecambiaEspecial">Fondo</span> &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.fondo}}</p>
			    		<p id="pimprimirdatostexto" *ngIf="productosPresupuestoPedidos.textoEspecial === 'Fondo especial'"><span style="font-weight:600">Incremento especial</span> {{productosPresupuestoPedidos.precioEspecial}}</p>
			    		<div *ngIf="productosPresupuestoPedidos.dimensionesProductoTipo.incremento !== undefined">
			    			<p>Incremento del 30% &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.incremento}} PP</p>
			    		</div>
			    		<div id="primeroint"></div>
			    		<div id="segundopuerta"></div>
			    	</div>
			    	<div class="{{productosPresupuestoPedidos.id}}Datos" id="datosMeter{{i}}" style="float:right;width:25%;font-size:12px;letter-spacing:1px;" *ngIf="productosPresupuestoPedidos.dimensionesProductoTipo !== null && productosPresupuestoPedidos.productosDormitorio.categoriasDormi.id === 32">
			    		<p style="font-size:16px;"><strong>DISE&Ntilde;O PROPIO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i  style="float:right;margin-right:20%;FONT-WEIGHT:600">TOTAL: <span id="precioTotal{{i}}">{{productosPresupuestoPedidos.dimensionesProductoTipo?.precio}}</span> pp</i></strong><i id="precioFabrica{{i}}" style="display:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;198<strong>&euro;</strong></i><i id="precioGanancias{{i}}" style="display:none"></i></p>
			    	</div>
			    	<div class="{{productosPresupuestoPedidos.id}}Datos" id="datosMeter{{i}}" style="float:right;width:25%;font-size:12px;letter-spacing:1px" *ngIf="productosPresupuestoPedidos.productosDormitorio.categoriasDormi.id === 31">
			    		<p style="font-size:16px;"><strong>{{productosPresupuestoPedidos.productosDormitorio.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i  style="float:right;margin-right:20%;FONT-WEIGHT:600">TOTAL: <i id="precioTotal{{i}}">{{productosPresupuestoPedidos.precioTotal}}</i> pp</i></strong><i id="precioFabrica{{i}}" style="display:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;198<strong>&euro;</strong></i><i id="precioGanancias{{i}}" style="display:none"></i></p>
			    		<p id="pimprimirdatostexto">Ancho &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.ancho}}</p>
			    		<p id="pimprimirdatostexto">Alto &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.alto}}</p>
			    		<p id="pimprimirdatostexto">Grosor &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.grosor}}</p>
			    		<p id="pimprimirdatostexto">Canteado &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.canteado}}</p>
			    	</div>
			    	<div class="{{productosPresupuestoPedidos.id}}Datos" id="datosMeter{{i}}" style="float:right;width:25%;font-size:12px;letter-spacing:1px" *ngIf="productosPresupuestoPedidos.dimensionesProductoTipo === null && productosPresupuestoPedidos.productosDormitorio.categoriasDormi.id !== 31 && productosPresupuestoPedidos.productosDormitorio.categoriasDormi.id !== 9">
			    		<p  style="font-size:16px;"><strong>{{productosPresupuestoPedidos.tiposApoyo.productoApoyo?.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i  style="float:right;margin-right:20%;FONT-WEIGHT:600">TOTAL: <i id="precioTotal{{i}}">{{productosPresupuestoPedidos.tiposApoyo?.precio}}</i> pp</i></strong><i id="precioFabrica{{i}}" style="display:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;198<strong>&euro;</strong></i><i id="precioGanancias{{i}}" style="display:none"></i></p>
			    		<p id="pimprimirdatostexto">Ancho &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.tiposApoyo?.ancho}}</p>
			    		<p id="pimprimirdatostexto">Alto &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.tiposApoyo?.alto}}</p>
			    		<p id="pimprimirdatostexto">Fondo &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.tiposApoyo?.fondo}}</p>
			    	</div>
			    </div>
			    <div style="display:none" id="divUnidadespedido" *ngIf="i == 0">
		    		<p id="referenciapdivreferencia">PRECIO</p>
		    		<p style="text-align:center;font-size:14px">{{productosPresupuestoPedidos.precioTotal}} PP</p>
		    	</div>
		    	<div style="display:none" id="divUnidadespedido" *ngIf="i == 0">
		    		<p id="referenciapdivreferencia">IMPORTE</p>
		    		<p style="text-align:center;font-size:14px">{{productosPresupuestoPedidos.precioTotal}} PP</p>
		    	</div>
		    	
		    </div>
		    
		    
		    <div id="estoparaesconderenmovilpc" *ngFor="let orden of arraysaberimagenes ;trackBy: trackId; let i=index;" style="float: left;display:none;WIDTH:100%" class="paraverespacio{{i}}">
		    	
		    	<div class="estoesundivparaprobar" style="margin-top:50px;float:left;width:100%;margin-bottom:40px;display:none;" id="esteDivPrueba{{i}}">
			    	<div style="width:100%;float:left;margin-bottom:15px;" id="primeroMeterMargin" class="cabecerapedidostodo{{i}}">
			    		<img src="../../../content/images/Logo.jpg" style="width: 5%;position: absolute;left: 10%;" id="imagenlogopedidosprod">
			    		<div>
			    			<p style="text-align:center;font-size:17px;margin-top: 5px;margin-bottom: 5px;">MUEBLES TORGA, S.L.</p>
			    			<p style="text-align:center;font-size:17px;margin-top: 5px;margin-bottom: 5px;">CTR. UBEDA - MALAGA, KM. 37,5</p>
			    			<p style="text-align:center;font-size:17px;margin-top: 5px;margin-bottom: 5px;">23100 - MANCHA REAL (JAEN)</p>
			    			<p style="text-align:center;font-size:17px;margin-top: 5px;margin-bottom: 5px;color: grey;">pedidos@mueblestorga.com</p>
			    			<p style="text-align:center;font-size:17px;margin-top: 5px;margin-bottom: 5px;">Tel: 953 35 03 63 Fax: 935 35 06 10</p>
			    		</div>
			    		
			    		<div id="divderechapedidodatos">
			    			<p id="textoPedido" style="font-size: 15px;text-align: center;">CONFIRMACION DE PEDIDO</p>
			    			<p id="textoPedido" style="font-size:17px;margin-top: 0;"><span style="margin-left: 10px;">Fecha:</span><span style="float: right;margin-right: 10px;">{{productosPresupuestoPedidos[0].presupuestoPedido?.fecha_pedido}}</span></p>
			    		</div>
			    		<div style="margin-top:40px;border: 1px solid;" id="clienteDivDireccion" *ngIf="precioFinalPresuService.todos !== undefined && precioFinalPresuService.todos.direccionTiendas !== null">
			    			<p style="font-size:16px;background-color:black;color:white" id="metertamanotienda">MERCANCIA ENTREGADA EN:</p>
			    			<p style="font-size:16px" id="pmetidoimprimir">{{precioFinalPresuService.todos.direccionTiendas.nombre}}</p>
			    			<p style="font-size:16px" id="pmetidoimprimir">{{precioFinalPresuService.todos.direccionTiendas.direccion}}</p>
			    			<p style="font-size:16px" id="pmetidoimprimir">{{precioFinalPresuService.todos.direccionTiendas.codPostal}}-{{precioFinalPresuService.todos.direccionTiendas.provincias}}</p>
			    			<p style="font-size:16px" id="pmetidoimprimir">Fijo: {{precioFinalPresuService.todos.direccionTiendas.fijo}}</p>
			    			<p style="font-size:16px" id="pmetidoimprimir">Email: {{precioFinalPresuService.todos.direccionTiendas.email}}</p>
			    			<p style="font-size:16px" id="pmetidoimprimir">Ref. Cliente: {{productosPresupuestoPedidos.presupuestoPedido?.codigo}}</p>
			    			<p style="font-size:16px;border-top: 1px solid;margin-bottom: 0;" id="elultimopadentrop">Transportista: {{precioFinalPresuService.todos.direccionTiendas.transportista}}</p>
			    		</div>
			    		
			    		<div style="margin-top:40px;border:1px solid;" id="clienteDivTienda">
			    			<p style="font-size:16px;background-color:black;color:white" id="metertamanotienda">CLIENTE: {{datosUsuarioService.tiendaCargadaPresu.codigo}}</p>
			    			<p style="font-size:16px" id="pmetidoimprimir">{{datosUsuarioService.tiendaCargadaPresu.nombreComercial}}</p>
			    			<p style="font-size:16px" id="pmetidoimprimir">{{datosUsuarioService.tiendaCargadaPresu.direccion}}</p>
			    			<p style="font-size:16px" id="pmetidoimprimir">{{datosUsuarioService.tiendaCargadaPresu.codPostal}}-{{datosUsuarioService.tiendaCargadaPresu.provincias}}</p>
			    			<p style="font-size:16px" id="pmetidoimprimir">Fijo: {{numero}}</p>
			    			<p style="font-size:16px" id="pmetidoimprimir">Email: {{datosUsuarioService.tiendaCargadaPresu.email}}</p>
			    			<p style="font-size:16px" id="pmetidoimprimir">Cif: {{datosUsuarioService.tiendaCargadaPresu.cif}}</p>
			    			<p style="font-size:16px;border-top: 1px solid;margin-bottom: 0;" id="elultimopadentrop">Representante: {{datosUsuarioService.tiendaCargadaPresu.repreGCompra.nombre}}</p>
			    		</div>
			    		<!--  <a style="float:right;margin-right:20%;margin-bottom:50px;" (click)="mostrarPrecioFabrica()"><img style="max-width:50px;" src="../../../content/images/fabrica.png"/></a>-->
			    	</div>
			    	<div style="display:none" id="divreferenciapedido">
			    		<p id="referenciapdivreferencia">REFERENCIA</p>
			    		<div *ngFor="let productosPresupuestoPedidos of productosPresupuestoPedidos ;let u = index;">
			    			<p style="text-align:center;font-size:14px" *ngIf="i == 0 && orden > u">{{productosPresupuestoPedidos.dimensionesProductoTipo?.mensaje}}</p>
			    			<p style="text-align:center;font-size:14px" *ngIf="i != 0 && orden > u && u>= arraysaberimagenes[i-1]">{{productosPresupuestoPedidos.dimensionesProductoTipo?.mensaje}}</p>
			    			<div *ngIf="i == 0 && orden > u" style="float:left;width:40%;margin-left:100px;height:333px;margin-top:4%;" id="imagen{{u}}">
			    			</div>
			    			<div *ngIf="i != 0 && orden > u && u>= arraysaberimagenes[i-1]" style="float:left;width:40%;margin-left:100px;height:333px;margin-top:4%;" id="imagen{{u}}">
			    			</div>
			    		</div>
			    	</div>
			    	<div style="display:none" id="divUnidadespedido" >
			    		<p id="referenciapdivreferencia">Ud.</p>
			    		<div  *ngFor="let productosPresupuestoPedidos of productosPresupuestoPedidos ;let u = index;" >
			    			<div *ngIf="i == 0 && orden > u" style="height:350px;">
			    				<p style="text-align:center;font-size:14px">1</p>
			    			</div>
			    			<div *ngIf="i != 0 && orden > u && u>= arraysaberimagenes[i-1]" style="height:350px;">
			    				<p style="text-align:center;font-size:14px">1</p>
			    			</div>
			    		</div>
			    	</div>
			    	<div id="divparaimagendatosmeter">
			    		<p id="referenciapdivreferencia" class="queremosquenosevea" style="display:none">DESCRIPCION</p>
			    		<div  *ngFor="let productosPresupuestoPedidos of productosPresupuestoPedidos ;let u = index;" >
			    		
				    	
					    	<div class="{{productosPresupuestoPedidos.id}}Datos" id="datosMeter{{u}}" style="float:right;width:25%;text-align:center" *ngIf="productosPresupuestoPedidos.dimensionesProductoTipo !== null && i == 0 && orden > u">
					    		<strong class="queremosquenosevea" style="display:none;text-align: center;margin-top:5px;">{{productosPresupuestoPedidos.productosDormitorio?.nombre}}</strong>
					    		<p style="font-size:30px" id="pNombreProd"><strong>{{productosPresupuestoPedidos.productosDormitorio?.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="precioTotal{{i}}">{{productosPresupuestoPedidos.dimensionesProductoTipo?.precio}}</span> pp</strong><i id="precioFabrica{{i}}" style="display:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;198<strong>&euro;</strong></i><i id="precioGanancias{{i}}" style="display:none"></i></p>
					    		<p id="pimprimirdatostexto"><span style="font-weight:600">Ancho</span> &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.ancho}}</p>
					    		<p id="pimprimirdatostexto"><span style="font-weight:600">Alto</span> &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.alto}}</p>
					    		<p id="pimprimirdatostexto"><span style="font-weight:600">Fondo</span> &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.fondo}}</p>
					    		
					    		<div *ngIf="productosPresupuestoPedidos.dimensionesProductoTipo.incremento !== undefined">
					    			<p>Incremento del 30% &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.incremento}} PP</p>
					    		</div>
					    		<div id="primeroint"></div>
					    		<div id="segundopuerta"></div>
					    	</div>
					    	<div class="{{productosPresupuestoPedidos.id}}Datos" id="datosMeter{{u}}" style="float:right;width:25%;text-align:center" *ngIf="productosPresupuestoPedidos.dimensionesProductoTipo !== null && i != 0 && orden > u && u>= arraysaberimagenes[i-1]">
					    		<strong class="queremosquenosevea" style="display:none;text-align: center;margin-top:5px;">{{productosPresupuestoPedidos.productosDormitorio?.nombre}}</strong>
					    		<p style="font-size:30px" id="pNombreProd"><strong>{{productosPresupuestoPedidos.productosDormitorio?.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="precioTotal{{i}}">{{productosPresupuestoPedidos.dimensionesProductoTipo?.precio}}</span> pp</strong><i id="precioFabrica{{i}}" style="display:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;198<strong>&euro;</strong></i><i id="precioGanancias{{i}}" style="display:none"></i></p>
					    		<p id="pimprimirdatostexto"><span style="font-weight:600">Ancho</span> &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.ancho}}</p>
					    		<p id="pimprimirdatostexto"><span style="font-weight:600">Alto</span> &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.alto}}</p>
					    		<p id="pimprimirdatostexto"><span style="font-weight:600">Fondo</span> &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.fondo}}</p>
					    		
					    		<div *ngIf="productosPresupuestoPedidos.dimensionesProductoTipo.incremento !== undefined">
					    			<p>Incremento del 30% &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.incremento}} PP</p>
					    		</div>
					    		<div id="primeroint"></div>
					    		<div id="segundopuerta"></div>
					    	</div>
					    	<div class="{{productosPresupuestoPedidos.id}}Datos" id="datosMeter{{u}}" style="float:right;width:25%;text-align:center" *ngIf="productosPresupuestoPedidos.productosDormitorio.categoriasDormi.id === 31 && i == 0 && orden > u">
					    		<p style="font-size:30px" id="pNombreProd"><strong>{{productosPresupuestoPedidos.productosDormitorio.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i id="precioTotal{{i}}">{{productosPresupuestoPedidos.precioTotal}}</i> pp</strong><i id="precioFabrica{{i}}" style="display:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;198<strong>&euro;</strong></i><i id="precioGanancias{{i}}" style="display:none"></i></p>
					    		<p id="pimprimirdatostexto">Ancho &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.ancho}}</p>
					    		<p id="pimprimirdatostexto">Alto &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.alto}}</p>
					    		<p id="pimprimirdatostexto">Grosor &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.grosor}}</p>
					    		<p id="pimprimirdatostexto">Canteado &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.canteado}}</p>
					    	</div>
					    	<div class="{{productosPresupuestoPedidos.id}}Datos" id="datosMeter{{u}}" style="float:right;width:25%;text-align:center" *ngIf="productosPresupuestoPedidos.dimensionesProductoTipo === null && productosPresupuestoPedidos.productosDormitorio.categoriasDormi.id !== 31  && i == 0 && orden > u">
					    		<p style="font-size:30px" id="pNombreProd"><strong>{{productosPresupuestoPedidos.tiposApoyo.productoApoyo?.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i id="precioTotal{{i}}">{{productosPresupuestoPedidos.tiposApoyo?.precio}}</i> pp</strong><i id="precioFabrica{{i}}" style="display:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;198<strong>&euro;</strong></i><i id="precioGanancias{{i}}" style="display:none"></i></p>
					    		<p id="pimprimirdatostexto">Ancho &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.tiposApoyo?.ancho}}</p>
					    		<p id="pimprimirdatostexto">Alto &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.tiposApoyo?.alto}}</p>
					    		<p id="pimprimirdatostexto">Fondo &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.tiposApoyo?.fondo}}</p>
					    	</div>
					    	
					    	<div class="{{productosPresupuestoPedidos.id}}Datos" id="datosMeter{{u}}" style="float:right;width:25%;text-align:center" *ngIf="productosPresupuestoPedidos.productosDormitorio.categoriasDormi.id === 31 && i != 0 && orden > u && u>= arraysaberimagenes[i-1] && orden > u">
					    		<p style="font-size:30px" id="pNombreProd"><strong>{{productosPresupuestoPedidos.productosDormitorio.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i id="precioTotal{{i}}">{{productosPresupuestoPedidos.precioTotal}}</i> pp</strong><i id="precioFabrica{{i}}" style="display:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;198<strong>&euro;</strong></i><i id="precioGanancias{{i}}" style="display:none"></i></p>
					    		<p id="pimprimirdatostexto">Ancho &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.ancho}}</p>
					    		<p id="pimprimirdatostexto">Alto &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.alto}}</p>
					    		<p id="pimprimirdatostexto">Grosor &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.grosor}}</p>
					    		<p id="pimprimirdatostexto">Canteado &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.canteado}}</p>
					    	</div>
					    	<div class="{{productosPresupuestoPedidos.id}}Datos" id="datosMeter{{u}}" style="float:right;width:25%;text-align:center" *ngIf="productosPresupuestoPedidos.dimensionesProductoTipo === null && productosPresupuestoPedidos.productosDormitorio.categoriasDormi.id !== 31  && i != 0 && orden > u && u>= arraysaberimagenes[i-1] && orden > u">
					    		<p style="font-size:30px" id="pNombreProd"><strong>{{productosPresupuestoPedidos.tiposApoyo.productoApoyo?.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i id="precioTotal{{i}}">{{productosPresupuestoPedidos.tiposApoyo?.precio}}</i> pp</strong><i id="precioFabrica{{i}}" style="display:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;198<strong>&euro;</strong></i><i id="precioGanancias{{i}}" style="display:none"></i></p>
					    		<p id="pimprimirdatostexto">Ancho &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.tiposApoyo?.ancho}}</p>
					    		<p id="pimprimirdatostexto">Alto &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.tiposApoyo?.alto}}</p>
					    		<p id="pimprimirdatostexto">Fondo &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.tiposApoyo?.fondo}}</p>
					    	</div>
				    	</div>
				    </div>
			    	<div style="display:none" id="divUnidadespedido" >
			    		<p id="referenciapdivreferencia">PUNTOS</p>
			    		<div  *ngFor="let productosPresupuestoPedidos of productosPresupuestoPedidos ;let u = index;" >
			    			<div *ngIf="i == 0 && orden > u" style="height:350px;">
			    				<p style="text-align:center;font-size:14px">{{productosPresupuestoPedidos.precioTotal}} PP</p>
			    			</div>
			    			<div *ngIf="i != 0 && orden > u && u>= arraysaberimagenes[i-1] && orden > u" style="height:350px;">
			    				<p style="text-align:center;font-size:14px">{{productosPresupuestoPedidos.precioTotal}} PP</p>
			    			</div>
			    		</div>
			    	</div>
			    	<div style="display:none" id="divUnidadespedido" >
			    		<p id="referenciapdivreferencia">TOTAL</p>
			    		<div  *ngFor="let productosPresupuestoPedidos of productosPresupuestoPedidos ;let u = index;" >
			    			<div *ngIf="i == 0 && orden > u" style="height:350px;">
			    				<p style="text-align:center;font-size:14px">{{productosPresupuestoPedidos.precioTotal}} PP</p>
			    			</div>
			    			<div *ngIf="i != 0 && orden > u && u>= arraysaberimagenes[i-1] && orden > u" style="height:350px;">
			    				<p style="text-align:center;font-size:14px">{{productosPresupuestoPedidos.precioTotal}} PP</p>
			    			</div>
			    		</div>
			    	</div>
			    	
			    	
			    </div>
			    
			    <div *ngFor="let productosPresupuestoPedidos of productosPresupuestoPedidos ;trackBy: trackId; let u=index;">
			    	<div id="basesImponiblesDiv" style="display:none;margin-left:13.5% !important" *ngIf="u == 0">
				    	<p id="referenciapdivreferencia">-</p>
					   	<p style="text-align:center;font-size:14px;margin-top: 5px;margin-bottom: 5px;">&nbsp;</p>
				    </div>
				    <div id="basesImponiblesDiv" style="display:none" *ngIf="u == 0">
				    	<p id="referenciapdivreferencia">-</p>
					   	<p style="text-align:center;font-size:14px;margin-top: 5px;margin-bottom: 5px;">&nbsp;</p>
				    </div>
				    <div id="basesImponiblesDiv" style="display:none" *ngIf="u == 0">
				    	<p id="referenciapdivreferencia">-</p>
					   	<p style="text-align:center;font-size:14px;margin-top: 5px;margin-bottom: 5px;">&nbsp;</p>
				    </div>
				    <div id="basesImponiblesDiv" style="display:none" *ngIf="u == 0">
				    	<p id="referenciapdivreferencia">-</p>
					   	<p style="text-align:center;font-size:14px;margin-top: 5px;margin-bottom: 5px;">&nbsp;</p>
				    </div>
				    <div id="basesImponiblesDiv" style="display:none" *ngIf="u == 0">
				    	<p id="referenciapdivreferencia">-</p>
					   	<p style="text-align:center;font-size:14px;margin-top: 5px;margin-bottom: 5px;">&nbsp;</p>
				    </div>
				    <div id="basesImponiblesDiv" style="display:none" *ngIf="u == 0">
				    	<p id="referenciapdivreferencia">-</p>
					   	<p style="text-align:center;font-size:14px;margin-top: 5px;margin-bottom: 5px;">&nbsp;</p>
				    </div>
			    	<div id="basesImponiblesDiv" style="display:none" *ngIf="u == 0">
				    	<p id="referenciapdivreferencia">-</p>
					   	<p style="text-align:center;font-size:14px;margin-top: 5px;margin-bottom: 5px;">&nbsp;</p>
				    </div>
				    <div id="basesImponiblesDiv" style="display:none;margin-left:62.5%" *ngIf="u == 0">
				    	<p id="referenciapdivreferencia">-</p>
					   	<p style="text-align:center;font-size:14px;margin-top: 5px;margin-bottom: 5px;">&nbsp;</p>
				    </div>
				    <div id="basesImponiblesDiv" style="display:none" *ngIf="u == 0">
				    	<p id="referenciapdivreferencia">-</p>
					   	<p style="text-align:center;font-size:14px;margin-top: 5px;margin-bottom: 5px;">&nbsp;</p>
				    </div>
				    <div id="basesImponiblesDiv" style="display:none;" *ngIf="u == 0">
				    	<p id="referenciapdivreferencia" style="font-size:13px !important;padding-bottom:4px !important">TOTAL PUNTOS</p>
					   	<p style="text-align:center;font-size:14px;margin-top: 5px;margin-bottom: 5px;" id="divimprimirtotalapagar{{i}}">&nbsp;</p>
				    </div>
			    </div>
			    <div id="divobservacionesparaimprimir1"  style="display:none">
			    </div>
			    </div>
			    <div id="quitamoseldisplaydeldiv" style="float: left;border: 1px solid;width: 21.75%;height: 25px;display:none"></div>
			    <div id="quitamoseldisplaydeldiv" style="float: left;border: 1px solid;width: 21.75%;height: 25px;display:none"></div>
			    <div id="quitamoseldisplaydeldiv" style="float: left;border: 1px solid;width: 43.8%;height: 35px;display:none"></div>
			    
			    
		    </div>
		    <div style="float:right;width:25%;text-align:center;display:none;position: absolute;right: 0;margin-top: 24.8%;" id="datosAnadirEstanteria"></div>
		    <div id="meterEspeciales" style="display:none"></div>
		    
		    
		    
		    
		    
		    
		    
	    </div>
		     <div id="divobservacionesparaimprimir">
			    </div>
    <hr id="idLineaDiv" style="width:100%;background-color:black;float:left;height:0px;margin-top:65px;"></hr>
  	 <div style="float:left;width:100%"></div>

<div style="float:left;width:100%" id="rightImprimir">
		<div style="float:left;width:100%;margin-bottom:15px;display:none">
			<div style="float:left;margin-left:25%;font-size:25px"><p>FORMA DE PAGO</p>
			
			</div>
			<div style="float:right;margin-right:25%" id="pago" (change)="pago()"></div>
		</div>
		<div style="float:left;width:100%;margin-bottom:15px;display:none">
			<div style="float:left;margin-left:25%;font-size:25px"><p>SUBTOTAL</p>
			
			</div>
			<div style="float:right;margin-right:25%;display:none" id="subtotalPago"><p style="font-size:25px" id="precioSubtotal">0</p></div>
		</div>
		<div id="divTotalPuntosParaTodo" style="float:left;width:100%;margin-bottom:15px;">
			<div id="totalPuntosParaCss" style="float:left;margin-left:25%;font-size:25px"><p style="letter-spacing: 2px;font-weight:600" id="bajarFontSize">TOTAL PUNTOS</p>
			
			</div>
			<div style="float:right;margin-right:25%" id="totalDescuento"><span id="totalDescuentoTexto" style="font-size:25px;font-weight:600">0</span><span style="font-size:25px;font-weight:600" id="euro"> pp</span></div>
		</div>
		<div style="float:left;width:100%;margin-bottom:15px;display:none">
			<div style="float:left;margin-left:25%;font-size:25px"><p style="letter-spacing: 2px;" id="bajarFontSize">PRECIO TOTAL SIN IVA</p>
			
			</div>
			<div style="float:right;margin-right:25%" id="totalDescuento"><span id="totalDescuentoTexto" style="font-size:25px"></span><span style="font-size:25px" id="euro"> &euro;</span></div>
		</div>
		<div style="float:left;width:100%;margin-bottom:15px;display:none">
			<div style="float:left;margin-left:25%;font-size:25px;width:70%" id="bajarFontSize"><span style="float:left" onclick="descuentomasDiv()" id="masDescuento">+</span>
			<div style="font-size:25px;float:left;display:none;margin-left: 5%;" id="descuentoTextoDiv"><p id="bajarFontSize" style="letter-spacing: 2px;">DESCUENTO(%)</p>
			
			</div>
			<div style="float:left;margin-left:4%;display:none;" id="cuentatextodiv"><input type="number" min="0" style="width:75px" (change)="descuento()" name="descuento" id="descuentoPago"/></div>
			<div style="float:right;margin-right:28%;display:none;color:red" id="cuentatextodivDescuento">- <span style="font-size:25px;color:red" id="meterQuitadoDescuento"></span> &euro;</div>
			</div>
			
		</div>
		<div style="float:left;width:100%;margin-bottom:15px;display:none" id="descuentoQuitar">
			<div style="font-size:25px"><p style="letter-spacing: 2px;" id="bajarFontSize">DESCUENTO(%)</p>
			
			</div>
			<div style="float:right;margin-right:25%"><input type="number" min="0" (change)="descuento()" name="descuento" id="descuentoPago"/></div>
		</div>
		
		<div style="float:left;width:100%;margin-bottom:15px;display:none">
			<div style="float:left;margin-left:25%;font-size:25px" id="bajarFontSize"><p>TOTAL DESCUENTO</p>
			
			</div>
			<div style="float:right;margin-right:25%" id="descuentoCalculado"></div>
		</div>
		
		<div style="float:left;width:100%;margin-bottom:15px;display:none">
			<div style="float:left;margin-left:25%;font-size:25px" id="bajarFontSize"><p style="letter-spacing: 2px;">IVA (21%)</p>
			</div>
			<div style="float:right;margin-right:25%" id="ivaQuitar"></div>
		</div>
		<div style="float:left;width:100%;margin-bottom:15px;display:none">
			<div style="float:left;margin-left:25%;font-size:25px" id="bajarFontSize"><strong><p style="letter-spacing: 2px;">PRECIO TOTAL CON IVA</p></strong>
			
			</div>
			<div style="float:right;margin-right:25%" id="precioCalculadoIva"></div>
		</div>
		
		<hr style="width:100%;background-color:black;float:left;height:0px" id="hrUltimo"></hr>
		<div id="divObserPoner" style="float:left;width:100%;margin-bottom:60px;display:none">
			<textarea style="margin-left: 38%;"  rows="4" cols="50" id="textAreaObs" onclick="borrarTextoObservaciones()">Observaciones...</textarea>
			<button id="botonGuardarobser" style="margin-top: 110px;position: absolute;" (click)="textoObservacionesFuncion()">Guardar</button>
		</div>
</div>
</div>
		<div style="float:left;width:100%">
			<!-- <p style="text-align:center;"><a id="aparadescargarpdf" href="../../../content/images/pedido.pdf" download="pedido" >Descarga PDF</a></p> -->
	  		<!-- <p style="text-align:center"><button id="botonTodosTamaño" style="width: 300px;background-color: black;color: white;height: 65px;font-size: 21px;" data-toggle="modal" data-target="#modalEnviarPorCorreo">ENVIAR PDF POR CORREO</button></p> -->
	  		<!-- <p style="text-align:center;display:none" id="botonsepuededescargar"><button class="btn btn-info btn-sm" id="botonTodosTamaño" style="width: 300px;color: white;height: 65px;font-size: 21px;"><a id="aparadescargarpdf" href="https://pedidostorga:Torga56pedidos123.@pedidospdftorga.com/confirmaciones/{{iddelpedido}}.pdf" target="_blank" style="color:black;font-weight: 400;font-size:20px;">CONFIRMACION DISPONIBLE</a></button></p>
	  		<p style="text-align:center" id="botonnosepuededescargar"><button id="botonTodosTamaño" style="width: 300px;background-color: #B5BABD;color: white;height: 65px;font-size: 21px;" data-toggle="modal" data-target="#modalmostrarmensajenodispo"><a style="color:white">CONFIRMACION NO DISPONIBLE</a></button></p>		
	  		<p style="text-align:center;display:none" id="botonsepuededescargar1"><button class="btn btn-info btn-sm" id="botonTodosTamaño" style="width: 300px;color: white;height: 65px;font-size: 21px;" ><a id="aparadescargarpdf" href="https://pedidostorga:Torga56pedidos123.@pedidospdftorga.com/confirmaciones/{{iddefactura}}.pdf" target="_blank" style="color:black;font-weight: 400;font-size:20px">FACTURA DISPONIBLE</a></button></p>
	  		<p style="text-align:center" id="botonnosepuededescargar1"><button id="botonTodosTamaño" style="width: 300px;background-color: #B5BABD;color: white;height: 65px;font-size: 21px;" data-toggle="modal" data-target="#modalmostrarmensajenodispo1"><a style="color:white">FACTURA NO DISPONIBLE</a></button></p> -->
	  		<!-- <p style="text-align:center" data-toggle="modal" data-target="#modalsubirarchivo" id="modalnoestasubidoarchivo"><button id="botonTodosTamaño" style="width: 300px;color: white;height: 65px;font-size: 21px;background-color: #17a2b8;"><a style="color:white">SUBIR ARCHIVO</a></button></p> -->
	  		<!--<p style="text-align:center;display:none" id="botonarchivosubido"><button class="btn btn-info btn-sm" id="botonTodosTamaño" style="width: 300px;color: white;height: 65px;font-size: 21px;" ><a id="aparadescargarpdf" target="_blank" style="color:black;font-weight: 400;font-size:20px" (click)="clicdescargarweb()">DESCARGAR ARCHIVO</a></button></p>
	  		<a id="descargararchivoswebsubidos" href="https://pedidostorga:Torga56pedidos123.@pedidospdftorga.com/confirmaciones/{{nombrearchivoadjunto}}" target="_blank" style="display:none"></a> -->
	  		 <!--<p style="text-align:center"><button style="width: 300px;background-color: black;color: white;height: 65px;font-size: 21px;" data-toggle="modal" data-target="#modalDatosCliente" (click)="provinciasCargar()">Datos del Cliente</button></p>-->
	  		<!-- <p style="text-align:center"><button id="botonTodosTamaño" style="width: 300px;background-color: black;color: white;height: 65px;font-size: 21px;" (click)="imprimir()" value='Print'>IMPRIMIR</button></p>
	  		 --><!--  <p id="contacto1" style="text-align:center"><button style="width: 300px;background-color: black;color: white;height: 65px;font-size: 21px;" data-toggle="modal" data-target="#modal" (click)="contactoPresupuesto()">Contacto con Fabrica</button></p>
	  		<p id="contacto2" style="text-align:center"><button style="width: 300px;background-color: black;color: white;height: 65px;font-size: 21px;" data-toggle="modal" data-target="#modal1">Contacto con Fabrica</button></p>-->
	  		<!--  <p style="text-align:center"><button id="botonTodosTamaño" style="width: 300px;background-color: black;color: white;height: 65px;font-size: 21px;" [routerLink]="['/presupuesto-edicion']">EDITAR PRESUPUESTO</button></p>-->
	  		<p style="text-align:center"><button id="botonTodosTamaño" style="width: 300px;background-color: #CDCDCD;color: black;height: 65px;font-size: 21px;margin-top:35px;margin-bottom:30px;"  [routerLink]="['/pedidos-usuario']">SALIR</button></p>
	  		
	  		<!-- <p id="pfilasalir" style="text-align:center;position: absolute;margin-top: -81px;margin-left: 42.16%;z-index: 10;" *jhiHasAnyAuthority="'ROLE_ADMIN'"><button id="botonTodosTamaño" style="width: 300px;background-color: #CDCDCD;color: black;height: 65px;font-size: 21px;" data-toggle="modal" data-target="#modalVistoPresupuesto"">SALIR</button></p>
			 -->
		</div>
  	</div>
<div class="modal fade" id="modalPasarPedido" role="dialog" style="margin-top: 100px;z-index: 1000000000000;">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title">GENERAR PEDIDO</h4>
	        </div>
	        <div class="modal-body">
	        	<!--  <p style="text-align:center">&#191;Escoge una direccion de envio</p>
	        	<p style="text-align:center"><select id="direccion"></select></p>-->
	          <p style="text-align:center">&#191;Est&#225;s Seguro?</p>
	          
	         <p style="text-align:center"> <button style="width:100px;background-color:#9FF781" (click)="pedido()" data-dismiss="modal" >Si</button></p>
	         <p style="text-align:center"> <button style="width:100px;background-color:#9CDBDF" data-dismiss="modal">No</button></p>
	        </div>
	        	<p id="verPresupuesto" style="display:none"> <a data-dismiss="modal" routerLink="../presupuesto-usuario"  routerLinkActive="active"><span>Abrir Presupuesto</span></a></p>
	      </div>
	      
	    </div>
	  </div>
	  
	  <div class="modal fade" id="modalcargandotodo" role="dialog" style="margin-top: 100px;z-index: 1000000000000;">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	       
	        <div class="modal-body">
	        	<!--  <p style="text-align:center">&#191;Escoge una direccion de envio</p>
	        	<p style="text-align:center"><select id="direccion"></select></p>-->
	          <img id="imagenRueda" src="../../../content/images/ruedaGirando.gif">
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  
	  <div class="modal fade" id="modalmostrarmensajenodispo" role="dialog" style="margin-top: 100px;z-index: 1000000000000;">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	       
	        <div class="modal-body">
	        	<p>EL PEDIDO HA LLEGADO A FABRICA.</p>
	        	<p>LE NOTIFICAREMOS TAN PRONTO CUANDO TENGAMOS LA CONFIRMACION DEL PEDIDO DISPONIBLE.</p>
	        	<p style="text-align:center"> <button style="width:100px;background-color:#9CDBDF" data-dismiss="modal">CERRAR</button></p>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  
	  <div class="modal fade" id="modalmostrarmensajenodispo1" role="dialog" style="margin-top: 100px;z-index: 1000000000000;">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	       
	        <div class="modal-body">
	        	<p style="text-align:center">SU FACTURA AUN NO ESTA DISPONIBLE.</p>
	        	<p style="text-align:center">LO ESTARA CUANDO EL PEDIDO SALGA DE FABRICA.</p>
	        	<p style="text-align:center"> <button style="width:100px;background-color:#9CDBDF" data-dismiss="modal">CERRAR</button></p>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  
	  <div class="modal fade" id="modalVistoPresupuesto" role="dialog" style="margin-top: 100px;z-index: 1000000000000;">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title">SALIR</h4>
	        </div>
	        <div class="modal-body">
	        	<p style="text-align:center">&#191;Quiere volver a poner el presupuesto como no visto?</p>
	          
	         <p style="text-align:center"> <button style="width:100px;background-color:#9FF781" (click)="cambiarVisto()" data-dismiss="modal" >Si</button></p>
	         <p style="text-align:center"> <button style="width:100px;background-color:#9CDBDF" data-dismiss="modal" [routerLink]="['/pedidos-usuario']">No</button></p>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  <div class="modal fade" id="modalEnviarPorCorreo" role="dialog" style="margin-top: 100px;z-index: 1000000000000;">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title">SALIR</h4>
	        </div>
	        <div class="modal-body">
	        	<p style="text-align:center">Introduce Correo Electronico al que le va a ser enviado el presupuesto</p>
	          	<input type="text" id="correoEnviarPdf">
	         <p style="text-align:center"> <button style="width:100px;background-color:#9FF781" (click)="generopdfgg()" data-dismiss="modal" >Si</button></p>
	         <p style="text-align:center"> <button style="width:100px;background-color:#9CDBDF" data-dismiss="modal">No</button></p>
	        </div>
	      </div>
	      
	    </div>
	  </div>
<div class="modal fade" id="modalDatosCliente" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title">Datos Cliente</h4>
	        </div>
	        <div class="modal-body">
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="nombre" class="id"/><label style="float:right;padding-bottom:5px;">Nombre y apellidos:</label></div>
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right"type="text" id="correo"/><label style="float:right;padding-bottom:5px;">Correo:</label></div>
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="telefono"/><label style="float:right;padding-bottom:5px;">Telefono:</label></div>
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="direccion"/><label style="float:right;padding-bottom:5px;">Direccion:</label></div>
				<div style="width:100%;float:left">
                             <select style="float:right;margin-left:20px" id="provincia"  (change)="cargarMunicipios()">
                            	<option></option>
                            </select><label style="float:right;padding-bottom:5px;">Ciudad</label>
                </div>
                <div style="width:100%;float:left">
                             <select style="float:right;margin-left:20px" id="municipios">
                            	<option></option>
                            </select><label style="float:right;padding-bottom:5px;">Poblacion</label>
                </div>
                            
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="codPostal"/><label style="float:right;padding-bottom:5px;">Codigo Postal:</label></div>
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="enviar"/><label style="float:right;padding-bottom:5px;">Acepto que mis datos sean tratados<br> para fines comerciales:</label></div>
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="mandar"/><label style="float:right;padding-bottom:5px;">Mandar Presupuesto:</label></div>
				<div style="width:100%;float:left"><p style="text-align:center;margin-top:10px"><button (click)="modificarDatos()">MODIFICAR</button></p></div>
	        </div>
	        	
	      </div>
	      
	    </div>
</div>	 	
<div class="modal fade" id="modal" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Crear un Nuevo Chat</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">
			        <div style="width:100%;margin-bottom:1%">
			        	<label style="font-size:18px">En Relacion A: &nbsp;&nbsp;</label>	          
			          <input id="relacion" style="height:40px" type="text" disabled/>
			        </div>  
			         <div style="width:100%">
			         	<label style="font-size:18px">De Codigo: &nbsp;&nbsp;</label>
				        <input id="relacionCodigo" style="height:40px" type="text" disabled/>
				     </div>
				     <p style="text-align:center"><button (click)="crearChat()">Crear Chat</button></p>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>  	 
	  <div class="modal fade" id="modal1" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Abrir Chat</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">
				     <p style="text-align:center"><button class="btn btn-success" (click)="onSaveSuccess2()">Crear Chat</button></p>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div> 
	  
	  <div class="modal fade" id="modalsubirarchivo" role="dialog" style="margin-top: 100px;z-index: 1000000000000;">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">ADJUNTAR ARCHIVO</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">
		        <input type="file" id="inputfilecoger"> 
				     <p style="text-align:center"><button class="btn btn-success" style="margin-top: 60px;" (click)="pushFileToStorageExcelftp()" data-dismiss="modal">Adjuntar archivo</button></p>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div> 
	  
	  
	  
