<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-presupuesto-pedido-heading" jhiTranslate="torgaPedidosApp.presupuestoPedido.home.createOrEditLabel">Create or edit a Presupuesto Pedido</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!presupuestoPedido.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="presupuestoPedido.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.presupuestoPedido.codigo" for="field_codigo">Codigo</label>
                    <input type="text" class="form-control" name="codigo" id="field_codigo"
                        [(ngModel)]="presupuestoPedido.codigo" maxlength="1024"/>
                    <div [hidden]="!(editForm.controls.codigo?.dirty && editForm.controls.codigo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.codigo?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.presupuestoPedido.pedido" for="field_pedido">Pedido</label>
                    <input type="number" class="form-control" name="pedido" id="field_pedido"
                        [(ngModel)]="presupuestoPedido.pedido" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.presupuestoPedido.fecha_presupuesto" for="field_fecha_presupuesto">Fecha Presupuesto</label>
                    <input type="text" class="form-control" name="fecha_presupuesto" id="field_fecha_presupuesto"
                        [(ngModel)]="presupuestoPedido.fecha_presupuesto" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.presupuestoPedido.fecha_pedido" for="field_fecha_pedido">Fecha Pedido</label>
                    <input type="text" class="form-control" name="fecha_pedido" id="field_fecha_pedido"
                        [(ngModel)]="presupuestoPedido.fecha_pedido" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.presupuestoPedido.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="presupuestoPedido.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === presupuestoPedido.user?.id ? presupuestoPedido.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
