<div>
    <jhi-alert></jhi-alert>
    <br/>
    <div id="imprimir">
	    <div style="margin-top:50px;float:left;width:100%;margin-bottom:40px;margin-left:50px" *ngFor="let productosPresupuestoPedidos of productosPresupuestoPedidos ;trackBy: trackId; let i=index;">
	    	<div style="width:100%;margin-bottom:70px" *ngIf="i===0">
	    		<p style="text-align:center;font-size:30px">PRESUPUESTO: {{productosPresupuestoPedidos.presupuestoPedido?.codigo}}</p>
	    		<p style="text-align:center;font-size:30px">FECHA:{{productosPresupuestoPedidos.presupuestoPedido?.fecha_presupuesto}}</p>
	    		<a style="float:right;margin-right:20%;margin-bottom:50px;" (click)="mostrarPrecioFabrica()"><img style="max-width:50px;" src="../../../content/images/fabrica.png"/></a>
	    	</div>
	    	<div style="float:left;width:40%;margin-left:100px" id="imagen{{i}}">
	    		 		<img width="500px" height="333px" title="Foto de linea de codigo"" class="producto" [src]="'data:' + productosPresupuestoPedidos.productosDormitorio.imagenContentType + ';base64,' + productosPresupuestoPedidos.productosDormitorio.imagen"  alt="productosDormitorio image"/>
	    	</div>
	    	<div class="{{productosPresupuestoPedidos.id}}Datos" style="float:right;width:40%;">
	    		<p style="font-size:30px"><strong>{{productosPresupuestoPedidos.productosDormitorio?.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i id="precioTotal{{i}}">{{productosPresupuestoPedidos.dimensionesProductoTipo?.precio}}</i>&euro;</strong><i id="precioFabrica{{i}}" style="display:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;198<strong>&euro;</strong></i><i id="precioGanancias{{i}}" style="display:none"></i></p>
	    		<p>Ancho &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.ancho}}</p>
	    		<p>Alto &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.alto}}</p>
	    		<p>Fondo &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.fondo}}</p>
	    		<div *ngIf="productosPresupuestoPedidos.dimensionesProductoTipo.incremento !== undefined">
	    			<p>Incremento del 30% &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.incremento}} &euro;</p>
	    		</div>
	    		
	    	</div>
	    </div>
    </div>
    <hr style="width:100%;background-color:black;float:left;height:0px"></hr>
  	
</div>
<div style="float:left;width:100%">
		<div style="float:left;width:100%;margin-bottom:15px">
			<div style="float:left;margin-left:25%;font-size:25px"><p>FORMA DE PAGO</p>
			
			</div>
			<div style="float:right;margin-right:25%" id="pago" (change)="pago()"></div>
		</div>
		<div style="float:left;width:100%;margin-bottom:15px">
			<div style="float:left;margin-left:25%;font-size:25px"><p>SUBTOTAL</p>
			
			</div>
			<div style="float:right;margin-right:25%" id="subtotalPago"><p style="font-size:25px" id="precioSubtotal">0</p></div>
		</div>
		<div style="float:left;width:100%;margin-bottom:15px">
			<div style="float:left;margin-left:25%;font-size:25px"><p>DESCUENTO(%)</p>
			
			</div>
			<div style="float:right;margin-right:25%"><input type="number" min="0" (change)="descuento()" name="descuento" id="descuentoPago"/></div>
		</div>
		
		<div style="float:left;width:100%;margin-bottom:15px">
			<div style="float:left;margin-left:25%;font-size:25px"><p>TOTAL DESCUENTO</p>
			
			</div>
			<div style="float:right;margin-right:25%" id="descuentoCalculado"></div>
		</div>
		<div style="float:left;width:100%;margin-bottom:15px">
			<div style="float:left;margin-left:25%;font-size:25px"><strong><p>PRECIO SIN IVA</p></strong>
			
			</div>
			<div style="float:right;margin-right:25%" id="totalDescuento"><p id="totalDescuentoTexto" style="font-size:25px"></p></div>
		</div>
		<div style="float:left;width:100%;margin-bottom:15px">
			<div style="float:left;margin-left:25%;font-size:25px"><p>IVA</p>
			</div>
			<div style="float:right;margin-right:25%" id="ivaQuitar"></div>
		</div>
		<div style="float:left;width:100%;margin-bottom:15px">
			<div style="float:left;margin-left:25%;font-size:25px"><strong><p>PRECIO CON IVA</p></strong>
			
			</div>
			<div style="float:right;margin-right:25%" id="precioCalculadoIva"></div>
		</div>
		
		
		<div style="float:left;width:100%">
			<p style="text-align:center"><button style="width:200px;background-color:#98F6B7" data-toggle="modal" data-target="#modalPasarPedido">Generar Pedido</button></p>
	  		<p style="text-align:center"><button style="width:200px;background-color:#98F6B7" data-toggle="modal" data-target="#modalDatosCliente" (click)="provinciasCargar()">Datos del Cliente</button></p>
	  		<p style="text-align:center"><button style="width:200px;background-color:#98F6B7" (click)="imprimir()">Imprimir</button></p>
	  		<p id="contacto1" style="text-align:center"><button style="width:200px;background-color:#98F6B7" data-toggle="modal" data-target="#modal" (click)="contactoPresupuesto()">Contacto con Fabrica</button></p>
	  		<p id="contacto2" style="text-align:center"><button style="width:200px;background-color:#98F6B7" data-toggle="modal" data-target="#modal1">Contacto con Fabrica</button></p>
	  		<p style="text-align:center"><button style="width:200px;background-color:#98F6B7" [routerLink]="['/presupuesto-edicion']">Editar Presupuesto</button></p>
	  		<p style="text-align:center"><button style="width:200px;background-color:#98F6B7" (click)="eliminar()" [routerLink]="['/presupuesto-usuario']">Elimiar Presupuesto</button></p>
	  		<p style="text-align:center"><button style="width:200px;background-color:#A4D9F4"[routerLink]="['/presupuesto-usuario']">Salir</button></p>
		</div>
  		
  	</div>
<div class="modal fade" id="modalPasarPedido" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title">GENERAR PEDIDO</h4>
	        </div>
	        <div class="modal-body">
	          <p style="text-align:center">&#191;Est&#225;s Seguro?</p>
	         <p style="text-align:center"> <button style="width:100px;background-color:#9FF781" (click)="pedido()" data-dismiss="modal" >Si</button></p>
	         <p style="text-align:center"> <button style="width:100px;background-color:#9CDBDF" data-dismiss="modal">No</button></p>
	        </div>
	        	<p id="verPresupuesto" style="display:none"> <a data-dismiss="modal" routerLink="../presupuesto-usuario"  routerLinkActive="active"><span>Abrir Presupuesto</span></a></p>
	      </div>
	      
	    </div>
	  </div>
	  
<div class="modal fade" id="modalDatosCliente" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title">Datos Cliente</h4>
	        </div>
	        <div class="modal-body">
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="nombre" class="id"/><label style="float:right;padding-bottom:5px;">Nombre y apellidos:</label></div>
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right"type="text" id="correo"/><label style="float:right;padding-bottom:5px;">Correo:</label></div>
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="telefono"/><label style="float:right;padding-bottom:5px;">Telefono:</label></div>
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="direccion"/><label style="float:right;padding-bottom:5px;">Direccion:</label></div>
				<div style="width:100%;float:left">
                             <select style="float:right;margin-left:20px" id="provincia"  (change)="cargarMunicipios()">
                            	<option></option>
                            </select><label style="float:right;padding-bottom:5px;">Ciudad</label>
                </div>
                <div style="width:100%;float:left">
                             <select style="float:right;margin-left:20px" id="municipios">
                            	<option></option>
                            </select><label style="float:right;padding-bottom:5px;">Poblacion</label>
                </div>
                            
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="codPostal"/><label style="float:right;padding-bottom:5px;">Codigo Postal:</label></div>
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="enviar"/><label style="float:right;padding-bottom:5px;">Acepto que mis datos sean tratados<br> para fines comerciales:</label></div>
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="mandar"/><label style="float:right;padding-bottom:5px;">Mandar Presupuesto:</label></div>
				<div style="width:100%;float:left"><p style="text-align:center;margin-top:10px"><button (click)="modificarDatos()">MODIFICAR</button></p></div>
	        </div>
	        	
	      </div>
	      
	    </div>
</div>	 	
<div class="modal fade" id="modal" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Crear un Nuevo Chat</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">
			        <div style="width:100%;margin-bottom:1%">
			        	<label style="font-size:18px">En Relacion A: &nbsp;&nbsp;</label>	          
			          <input id="relacion" style="height:40px" type="text" disabled/>
			        </div>  
			         <div style="width:100%">
			         	<label style="font-size:18px">De Codigo: &nbsp;&nbsp;</label>
				        <input id="relacionCodigo" style="height:40px" type="text" disabled/>
				     </div>
				     <p style="text-align:center"><button (click)="crearChat(1)">Crear Chat</button></p>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>  	 
	  <div class="modal fade" id="modal1" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Abrir Chat</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">
				     <p style="text-align:center"><button class="btn btn-success" (click)="onSaveSuccess2()">Crear Chat</button></p>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div> 
