<div id="imprimir">
	<div>
	    <br/>
			    <div class="primerDivPresu" style="margin-top:50px;float:left;width:100%;margin-bottom:40px;" *ngFor="let productosPresupuestoPedidos of productosPresupuestoPedidos ;trackBy: trackId; let i=index;">
		    	<div style="width:100%;" *ngIf="i===0">
		    		<p style="text-align:center;font-size:30px">PRESUPUESTO: {{productosPresupuestoPedidos.presupuestoPedido?.codigo}}</p>
		    		<p style="text-align:center;font-size:30px">FECHA:{{productosPresupuestoPedidos.presupuestoPedido?.fecha_presupuesto}}</p>
		    		<div style="margin-top:40px" id="clienteDiv">
		    			<p style="text-align:center;font-size:23px">TIENDA</p>
		    			<p style="text-align:center;font-size:18px">{{datosUsuarioService.tiendaCargadaPresu.nombreComercial}}</p>
		    			<p style="text-align:center;font-size:18px">{{numero}}</p>
		    		</div>
		    		<!--  <a style="float:right;margin-right:20%;margin-bottom:50px;" (click)="mostrarPrecioFabrica()"><img style="max-width:50px;" src="../../../content/images/fabrica.png"/></a>-->
		    	</div>
		    	<div style="float:left;width:40%;margin-left:100px;height:333px;margin-top:4%;" id="imagen{{i}}">
		    	</div>
		    	<div class="{{productosPresupuestoPedidos.id}}Datos" id="datosMeter{{i}}" style="float:right;width:25%;text-align:center" *ngIf="productosPresupuestoPedidos.dimensionesProductoTipo !== null">
		    		<p style="font-size:30px" id="pNombreProd"><strong>{{productosPresupuestoPedidos.productosDormitorio?.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i id="precioTotal{{i}}">{{productosPresupuestoPedidos.dimensionesProductoTipo?.precio}}</i>&euro;</strong><i id="precioFabrica{{i}}" style="display:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;198<strong>&euro;</strong></i><i id="precioGanancias{{i}}" style="display:none"></i></p>
		    		<p>Ancho &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.ancho}}</p>
		    		<p>Alto &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.alto}}</p>
		    		<p>Fondo &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.fondo}}</p>
		    		<div *ngIf="productosPresupuestoPedidos.dimensionesProductoTipo.incremento !== undefined">
		    			<p>Incremento del 30% &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.dimensionesProductoTipo?.incremento}} &euro;</p>
		    		</div>
		    		
		    	</div>
		    	<div class="{{productosPresupuestoPedidos.id}}Datos" id="datosMeter{{i}}" style="float:right;width:25%;text-align:center" *ngIf="productosPresupuestoPedidos.dimensionesProductoTipo === null">
		    		<p style="font-size:30px" id="pNombreProd"><strong>{{productosPresupuestoPedidos.tiposApoyo.productoApoyo?.nombre}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i id="precioTotal{{i}}">{{productosPresupuestoPedidos.tiposApoyo?.precio}}</i>&euro;</strong><i id="precioFabrica{{i}}" style="display:none">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;198<strong>&euro;</strong></i><i id="precioGanancias{{i}}" style="display:none"></i></p>
		    		<p>Ancho &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.tiposApoyo?.ancho}}</p>
		    		<p>Alto &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.tiposApoyo?.alto}}</p>
		    		<p>Fondo &nbsp;&nbsp;&nbsp;{{productosPresupuestoPedidos.tiposApoyo?.fondo}}</p>
		    	</div>
		    </div>
	    </div>
    <hr id="idLineaDiv" style="width:100%;background-color:black;float:left;height:0px"></hr>
  	 <div style="float:left;width:100%"></div>

<div style="float:left;width:100%" id="rightImprimir">
		<div style="float:left;width:100%;margin-bottom:15px;display:none">
			<div style="float:left;margin-left:25%;font-size:25px"><p>FORMA DE PAGO</p>
			
			</div>
			<div style="float:right;margin-right:25%" id="pago" (change)="pago()"></div>
		</div>
		<div style="float:left;width:100%;margin-bottom:15px;display:none">
			<div style="float:left;margin-left:25%;font-size:25px"><p>SUBTOTAL</p>
			
			</div>
			<div style="float:right;margin-right:25%;display:none" id="subtotalPago"><p style="font-size:25px" id="precioSubtotal">0</p></div>
		</div>
		<div style="float:left;width:100%;margin-bottom:15px">
			<div style="float:left;margin-left:25%;font-size:25px"><p style="letter-spacing: 2px;" id="bajarFontSize">PRECIO TOTAL SIN IVA</p>
			
			</div>
			<div style="float:right;margin-right:25%" id="totalDescuento"><span id="totalDescuentoTexto" style="font-size:25px"></span><span style="font-size:25px" id="euro"> &euro;</span></div>
		</div>
		<div style="float:left;width:100%;margin-bottom:15px;display:none">
			<div style="float:left;margin-left:25%;font-size:25px;width:70%" id="bajarFontSize"><span style="float:left" onclick="descuentomasDiv()" id="masDescuento">+</span>
			<div style="font-size:25px;float:left;display:none;margin-left: 5%;" id="descuentoTextoDiv"><p id="bajarFontSize" style="letter-spacing: 2px;">DESCUENTO(%)</p>
			
			</div>
			<div style="float:left;margin-left:4%;display:none;" id="cuentatextodiv"><input type="number" min="0" style="width:75px" (change)="descuento()" name="descuento" id="descuentoPago"/></div>
			<div style="float:right;margin-right:28%;display:none;color:red" id="cuentatextodivDescuento">- <span style="font-size:25px;color:red" id="meterQuitadoDescuento"></span> &euro;</div>
			</div>
			
		</div>
		<div style="float:left;width:100%;margin-bottom:15px;display:none" id="descuentoQuitar">
			<div style="font-size:25px"><p style="letter-spacing: 2px;" id="bajarFontSize">DESCUENTO(%)</p>
			
			</div>
			<div style="float:right;margin-right:25%"><input type="number" min="0" (change)="descuento()" name="descuento" id="descuentoPago"/></div>
		</div>
		
		<div style="float:left;width:100%;margin-bottom:15px;display:none">
			<div style="float:left;margin-left:25%;font-size:25px" id="bajarFontSize"><p>TOTAL DESCUENTO</p>
			
			</div>
			<div style="float:right;margin-right:25%" id="descuentoCalculado"></div>
		</div>
		
		<div style="float:left;width:100%;margin-bottom:15px">
			<div style="float:left;margin-left:25%;font-size:25px" id="bajarFontSize"><p style="letter-spacing: 2px;">IVA (21%)</p>
			</div>
			<div style="float:right;margin-right:25%" id="ivaQuitar"></div>
		</div>
		<div style="float:left;width:100%;margin-bottom:15px">
			<div style="float:left;margin-left:25%;font-size:25px" id="bajarFontSize"><strong><p style="letter-spacing: 2px;">PRECIO TOTAL CON IVA</p></strong>
			
			</div>
			<div style="float:right;margin-right:25%" id="precioCalculadoIva"></div>
		</div>
		<hr style="width:100%;background-color:black;float:left;height:0px" id="hrUltimo"></hr>
</div>
</div>
		<div style="float:left;width:100%">
		
		
			<p style="text-align:center"><button id="botonTodosTamaño" style="width: 300px;background-color: black;color: white;height: 65px;font-size: 21px;" data-toggle="modal" data-target="#modalPasarPedido" (click)="cargarDireccion()">GENERAR PEDIDO</button></p>
	  		<!--<p style="text-align:center"><button style="width: 300px;background-color: black;color: white;height: 65px;font-size: 21px;" data-toggle="modal" data-target="#modalDatosCliente" (click)="provinciasCargar()">Datos del Cliente</button></p>-->
	  		<p style="text-align:center"><button id="botonTodosTamaño" style="width: 300px;background-color: black;color: white;height: 65px;font-size: 21px;" (click)="imprimir()" value='Print'>IMPRIMIR</button></p>
	  		<!--  <p id="contacto1" style="text-align:center"><button style="width: 300px;background-color: black;color: white;height: 65px;font-size: 21px;" data-toggle="modal" data-target="#modal" (click)="contactoPresupuesto()">Contacto con Fabrica</button></p>
	  		<p id="contacto2" style="text-align:center"><button style="width: 300px;background-color: black;color: white;height: 65px;font-size: 21px;" data-toggle="modal" data-target="#modal1">Contacto con Fabrica</button></p>-->
	  		<!--  <p style="text-align:center"><button id="botonTodosTamaño" style="width: 300px;background-color: black;color: white;height: 65px;font-size: 21px;" [routerLink]="['/presupuesto-edicion']">EDITAR PRESUPUESTO</button></p>-->
	  		<p style="text-align:center"><button id="botonTodosTamaño" style="width: 300px;background-color: black;color: white;height: 65px;font-size: 21px;" (click)="eliminar()" [routerLink]="['/presupuesto-usuario']">ELIMINAR PRESUPUESTO</button></p>
	  		<p style="text-align:center"><button id="botonTodosTamaño" style="width: 300px;background-color: #CDCDCD;color: black;height: 65px;font-size: 21px;"[routerLink]="['/presupuesto-usuario']">SALIR</button></p>
		</div>
  	</div>
<div class="modal fade" id="modalPasarPedido" role="dialog" style="margin-top: 100px;">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title">GENERAR PEDIDO</h4>
	        </div>
	        <div class="modal-body">
	        	<p style="text-align:center">&#191;Escoge una direccion de envio</p>
	        	<p style="text-align:center"><select id="direccion"></select></p>
	          <p style="text-align:center">&#191;Est&#225;s Seguro?</p>
	          
	         <p style="text-align:center"> <button style="width:100px;background-color:#9FF781" (click)="pedido()" data-dismiss="modal" >Si</button></p>
	         <p style="text-align:center"> <button style="width:100px;background-color:#9CDBDF" data-dismiss="modal">No</button></p>
	        </div>
	        	<p id="verPresupuesto" style="display:none"> <a data-dismiss="modal" routerLink="../presupuesto-usuario"  routerLinkActive="active"><span>Abrir Presupuesto</span></a></p>
	      </div>
	      
	    </div>
	  </div>
	  
<div class="modal fade" id="modalDatosCliente" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title">Datos Cliente</h4>
	        </div>
	        <div class="modal-body">
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="nombre" class="id"/><label style="float:right;padding-bottom:5px;">Nombre y apellidos:</label></div>
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right"type="text" id="correo"/><label style="float:right;padding-bottom:5px;">Correo:</label></div>
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="telefono"/><label style="float:right;padding-bottom:5px;">Telefono:</label></div>
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="direccion"/><label style="float:right;padding-bottom:5px;">Direccion:</label></div>
				<div style="width:100%;float:left">
                             <select style="float:right;margin-left:20px" id="provincia"  (change)="cargarMunicipios()">
                            	<option></option>
                            </select><label style="float:right;padding-bottom:5px;">Ciudad</label>
                </div>
                <div style="width:100%;float:left">
                             <select style="float:right;margin-left:20px" id="municipios">
                            	<option></option>
                            </select><label style="float:right;padding-bottom:5px;">Poblacion</label>
                </div>
                            
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="codPostal"/><label style="float:right;padding-bottom:5px;">Codigo Postal:</label></div>
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="enviar"/><label style="float:right;padding-bottom:5px;">Acepto que mis datos sean tratados<br> para fines comerciales:</label></div>
				<div style="width:100%;float:left"><input style="margin-left:20px;float:right;"type="text" id="mandar"/><label style="float:right;padding-bottom:5px;">Mandar Presupuesto:</label></div>
				<div style="width:100%;float:left"><p style="text-align:center;margin-top:10px"><button (click)="modificarDatos()">MODIFICAR</button></p></div>
	        </div>
	        	
	      </div>
	      
	    </div>
</div>	 	
<div class="modal fade" id="modal" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Crear un Nuevo Chat</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">
			        <div style="width:100%;margin-bottom:1%">
			        	<label style="font-size:18px">En Relacion A: &nbsp;&nbsp;</label>	          
			          <input id="relacion" style="height:40px" type="text" disabled/>
			        </div>  
			         <div style="width:100%">
			         	<label style="font-size:18px">De Codigo: &nbsp;&nbsp;</label>
				        <input id="relacionCodigo" style="height:40px" type="text" disabled/>
				     </div>
				     <p style="text-align:center"><button (click)="crearChat()">Crear Chat</button></p>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>  	 
	  <div class="modal fade" id="modal1" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Abrir Chat</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">
				     <p style="text-align:center"><button class="btn btn-success" (click)="onSaveSuccess2()">Crear Chat</button></p>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div> 
