<div>
    <h2 id="page-heading">
        <span jhiTranslate="torgaPedidosApp.presupuestoPedido.home.title">Presupuesto Pedidos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-presupuesto-pedido" [routerLink]="['/presupuesto-pedido/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="torgaPedidosApp.presupuestoPedido.home.createLabel">
            Create new Presupuesto Pedido
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="presupuestoPedidos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigo"><span jhiTranslate="torgaPedidosApp.presupuestoPedido.codigo">Codigo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pedido"><span jhiTranslate="torgaPedidosApp.presupuestoPedido.pedido">Pedido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha_presupuesto"><span jhiTranslate="torgaPedidosApp.presupuestoPedido.fecha_presupuesto">Fecha Presupuesto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha_pedido"><span jhiTranslate="torgaPedidosApp.presupuestoPedido.fecha_pedido">Fecha Pedido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span jhiTranslate="torgaPedidosApp.presupuestoPedido.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="usuarioCreadoPre.login"><span jhiTranslate="torgaPedidosApp.presupuestoPedido.usuarioCreadoPre">Usuario Creado Pre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let presupuestoPedido of presupuestoPedidos ;trackBy: trackId">
                <td><a [routerLink]="['/presupuesto-pedido', presupuestoPedido.id, 'view' ]">{{presupuestoPedido.id}}</a></td>
                <td>{{presupuestoPedido.codigo}}</td>
                <td>{{presupuestoPedido.pedido}}</td>
                <td>{{presupuestoPedido.fecha_presupuesto}}</td>
                <td>{{presupuestoPedido.fecha_pedido}}</td>
                <td>
                    {{presupuestoPedido.user?.login}}
                </td>
                <td>
                    {{presupuestoPedido.usuarioCreadoPre?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/presupuesto-pedido', presupuestoPedido.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/presupuesto-pedido', presupuestoPedido.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'presupuesto-pedido/'+ presupuestoPedido.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="presupuestoPedidos && presupuestoPedidos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
