<div id="productosPrincipal">
    <h2 style="text-align:center" id="page-heading">
        <span ><strong>MODULOS BAJOS</strong></span>

    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div style="width:100%" id="producto">
    <h2 style="text-align:center;margin-bottom:4%">PASO 1: Escoge Modelo</h2>
    <table style="margin-top: 2%;">
    	<tbody>

    		<tr>
    			Ancho:
    			<td style="border:1px solid black;width:95px;padding-left:10px" class="selectectAncho" (click)='filtroAncho(0,"ancho")' id="ancho0">Indiferente</td>
				<td style="border:1px solid black" id="ancho1" (click)='filtroAncho(1,"ancho")'>75</td>
				<td style="border:1px solid black" id="ancho2" (click)='filtroAncho(2,"ancho")'>100</td>
				<td style="border:1px solid black" id="ancho3" (click)='filtroAncho(3,"ancho")'>125</td>
				<td style="border:1px solid black" id="ancho4" (click)='filtroAncho(4,"ancho")'>150</td>
				<td style="border:1px solid black" id="ancho5" (click)='filtroAncho(5,"ancho")'>175</td>
				<td style="border:1px solid black" id="ancho6" (click)='filtroAncho(6,"ancho")'>200</td>
    		</tr>
    		<tr>
    			Altura:
    			<td style="border:1px solid black;width:95px;padding-left:10px" class="selectectAltura" (click)='filtroAncho(0,"altura")' id="altura0">Indiferente</td>
    			<td style="border:1px solid black" id="altura1" (click)='filtroAncho(1,"altura")'>27.5</td>
    			<td style="border:1px solid black" id="altura2" (click)='filtroAncho(2,"altura")'>50</td>
    		</tr>
    		<tr>
    			Fondo:
    			<td style="border:1px solid black;width:95px;padding-left:10px" id="fondo0" class="selectectFondo" (click)='filtroAncho(0,"fondo")'>Indiferente</td>
    			<td style="border:1px solid black" id="fondo1" (click)='filtroAncho(1,"fondo")'>42</td>
    			<td style="border:1px solid black" id="fondo2" (click)='filtroAncho(2,"fondo")'>47</td>
    		</tr>
    	</tbody>
    </table>
	    <div id="productosFiltrados" style="margin-top:4%">
		    <div (click)='open1(1)' id="prod1" class="productoColor" style="float:left"></div>
		    <div (click)='open1(2)' id="prod2" class="productoColor" style="float:left"></div>
		    <div (click)='open1(3)' id="prod3" class="productoColor" style="float:left"></div>
		    <div (click)='open1(4)' id="prod4" class="productoColor" style="float:left"></div>
		    <div (click)='open1(5)' id="prod5" class="productoColor" style="float:left"></div>
	        <div (click)='open1(6)' id="prod6" class="productoColor" style="float:left"></div>
	        <div (click)='open1(7)' id="prod7" class="productoColor" style="float:left"></div>
	        <div (click)='open1(8)' id="prod8" class="productoColor" style="float:left"></div>
	        <div (click)='open1(9)' id="prod9" class="productoColor" style="float:left"></div>
	        <div (click)='open1(10)' id="prod10" class="productoColor" style="float:left"></div>
	        <div (click)='open1(11)' id="prod11" class="productoColor" style="float:left"></div>
	        <div (click)='open1(12)' id="prod12" class="productoColor" style="float:left"></div>
	        <div (click)='open1(13)' id="prod13" class="productoColor" style="float:left"></div>
	        <div (click)='open1(14)' id="prod14" class="productoColor" style="float:left"></div>
	        <div (click)='open1(15)' id="prod15" class="productoColor" style="float:left"></div>
	        <div (click)='open1(16)' id="prod16" class="productoColor" style="float:left"></div>
	        <div (click)='open1(17)' id="prod17" class="productoColor" style="float:left"></div>
	        <div (click)='open1(18)' id="prod18" class="productoColor" style="float:left"></div>
	        <div (click)='open1(19)' id="prod19" class="productoColor" style="float:left"></div>
	        <div (click)='open1(20)' id="prod20" class="productoColor" style="float:left"></div>
	        <div (click)='open1(21)' id="prod21" class="productoColor" style="float:left"></div>
	        <div (click)='open1(22)' id="prod22" class="productoColor" style="float:left"></div>
	        <div (click)='open1(23)' id="prod23" class="productoColor" style="float:left"></div>
	        <div (click)='open1(24)' id="prod24" class="productoColor" style="float:left"></div>
	    
    
    </div>
    <div id="ProductosCargados" style="margin-top:4%">
    	
        <div *ngFor="let productosDormitorio of productosDormitorios" [id]='productosDormitorio.id' class="productosColor">
    	<div id="productosDormitorioCargados">
	    	<p  style="text-align:center">{{productosDormitorio.nombre}}</p><hr style="width:100%;color:black"></hr>
	 		<img title="Foto de linea de codigo" class="producto" [src]="'data:' + productosDormitorio.imagenContentType + ';base64,' + productosDormitorio.imagen" height="333px" width="500px" (click)="open(productosDormitorio.id,productosDormitorio.nombre)" alt="productosDormitorio image"/>
    	</div>
    	</div>	
    </div>
    <div *ngIf="productosDormitorios === undefined" id="ProductosCargados" style="margin-top:4%">
        <div *ngFor="let productosDormitorio of productosDormitorioService.todos" [id]='productosDormitorio.id' class="productosColor">
    	<div id="productosDormitorioCargados">
	    	<p  style="text-align:center">{{productosDormitorio.nombre}}</p><hr style="width:100%;color:black"></hr>
	 		<img title="Foto de linea de codigo" class="producto" [src]="'data:' + productosDormitorio.imagenContentType + ';base64,' + productosDormitorio.imagen" height="333px" width="500px" (click)="open(productosDormitorio.id,productosDormitorio.nombre)" alt="productosDormitorio image"/>
    	</div>
    	</div>	
    </div>
	<div id="dimensiones"style="width:100%;float:left;">

		<h2 id="medidas" style='margin-left:40%;float:left;display:none'>Paso 2: Medidas</h2>
		</br>		
		
		<div id="dimensionesColorStyle" class="dimensionesColor1" (click)="dimensionesCogidas(1)"> 
		</div>
		   
		<div id="dimensionesColorStyle" class="dimensionesColor2" (click)="dimensionesCogidas(2)"> 
		</div>  
		 
		<div  id="dimensionesColorStyle" class="dimensionesColor3" (click)="dimensionesCogidas(3)"> 
		</div>  
		 
		<div id="dimensionesColorStyle" class="dimensionesColor4" (click)="dimensionesCogidas(4)"> 
		</div>
		
		<div id="dimensionesColorStyle" class="dimensionesColor5" (click)="dimensionesCogidas(5)"> 
		</div> 
		
		<div id="dimensionesColorStyle" class="dimensionesColor6" (click)="dimensionesCogidas(6)"> 
		</div>
		<div id="dimensionesColorStyle" class="dimensionesColor7" (click)="dimensionesCogidas(7)"> 
		</div>         
	</div>  
	<div id="especiales"style="width:100%;float:left">

			<h2 id="especialesTexto" style='margin-left:40%;float:left;display:none'>&#191;De que lo quieres especial?</h2>
			<div id="especialesAncho" style="" (click)="especiales1(1)"></div>
			<div id="especialesFondo" style="" (click)="especiales1(2)"></div>
			<div id="especialesAlto" style="" (click)="especiales1(3)"></div>
	</div>
	<div id="medidasEspeciales"style="width:100%;float:left">
		
			<h2 id="medidasEspecialesTexto" style='margin-left:40%;float:left;display:none'>Selecciona medidas especiales</h2>
			<div id="imagenProdEspeciales" style="width:42%;float:left"></div>
			<div style="display:none" id="medidasAncho"><p style="float:left;margin-left:2%;font-size:20px">Ancho</p><div style="float:left;margin-left:2%" id="cambioAncho" (change)="cambioMedidas(1)"></div></div>
			<div id="medidasFondo" style="display:none"><p style="float:left;margin-left:2%;font-size:20px">Fondo</p><div style="float:left;margin-left:2%" id="cambioFondo" (change)="cambioMedidas(2)"></div></div>
			<div id="medidasAlto" style="display:none"><p style="float:left;margin-left:2%;font-size:20px">Alto</p><div style="float:left;margin-left:2%" id="cambioAlto" (change)="cambioMedidas(3)"></div></div>
	</div>
	<div id="acabados"style="width:100%;float:left">

			<h2 id="acabado" style='margin-left:40%;float:left;display:none'>Paso 3: Acabados</h2>
			<div id="imagenAcabadoPrincipal"></div>
			<div id="acabadosPartesDivs">
				<div id="aca11" style="float:left"></div>
				<div id="aca12" style="float:left"></div>
				<div id="aca13" style="float:left"></div>
				<div id="aca14" style="float:left"></div>
				<div id="aca15" style="float:left"></div>
				<div id="aca16" style="float:left"></div>
				<div id="aca17" style="float:left"></div>
				<div id="aca18" style="float:left"></div>
				<div id="aca19" style="float:left"></div>
				<div id="aca110" style="float:left"></div>
				<div id="aca111" style="float:left"></div>
				<div id="aca112" style="float:left"></div>
				<div id="aca113" style="float:left"></div>
				<div id="aca114" style="float:left"></div>
			</div>
			
			

	</div>  
	<div id="apoyo"style="width:100%;float:left;margin-top:50px">
			<h2 id="nombreApoyoTitulo" style='margin-left:40%;float:left;display:none'>Paso 4: Sistema de Apoyo</h2>
			</br>	
			<div style="float:left;width:100%;margin-bottom:50px">
				<div id="apoyoStyle" class="apoyoCogido1" (click)="apoyoCogido(1)"> 
				</div>  
			
				<div id="apoyoStyle" class="apoyoCogido2" (click)="apoyoCogido(2)"> 
				</div>
			</div>	
			 
			<div style="float:left;width:100%">
				<div id="apoyoStyle" class="apoyoCogido3" (click)="apoyoCogido(3)"> 
				</div>   
				<div id="apoyoStyle" class="apoyoCogido4" (click)="apoyoCogido(4)"> 
				</div>  
			</div>	
			<div style="float:left;width:100%">
				<div id="apoyoStyle" class="apoyoCogido5" (click)="apoyoCogido(5)"> 
				</div>   

			</div>	
			 
		
	</div>  	
	
	<div id="iluminacion"style="display:none">
		<h2 id="iluminacionTexto" style="margin-left:40%">Paso 5: Iluminacion</h2>
		<div id="ilu1"><img id="imagenIlu" src="../../../content/images/si.png" height="200" width="200" style="opacity:0.7" (click)='ilumina(1)'>
		</div>	
		<div id="ilu2"><img id="imagenIlu" src="../../../content/images/no.png" height="200" width="200" style="opacity:0.7" (click)='ilumina(2)'>
		</div>	
	</div>
	<div id="textoFinal" style="display:none">
		<h2 id="textoFinal" style="margin-left:35%; margin-top:100px;">HAS FINALIZADO CON &#201;XITO</h2>
	</div>
	
	<div class="modal fade" id="modalPresupuesto" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title">Vas a generar un presupuesto</h4>
	        </div>
	        <div class="modal-body">
	          <p style="text-align:center">&#191;Est&#225;s Seguro?</p>
	         <p style="text-align:center"> <button style="width:100px;background-color:#9FF781" (click)="generarPresupuesto()">Si</button></p>
	         <p style="text-align:center"> <button style="width:100px;background-color:#9CDBDF" data-dismiss="modal">No</button></p>
	        </div>
	        	<p id="verPresupuesto" style="display:none"> <a data-dismiss="modal" routerLink="../presupuesto-usuario"  routerLinkActive="active"><span>Abrir Presupuesto</span></a></p>
	      </div>
	      
	    </div>
	  </div>
	   <div class="modal fade" id="modalInformacion" role="dialog">
	    <div class="modal-dialog modal-lg">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title">Interior</h4>
	        </div>
	        <div class="modal-body">
	          <div id="arriba" style="float:left;width:100%"></div>
	          <div id="imagenInterior" style="float:left"></div>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  <div class="modal fade" id="myModalColores1" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Escoge un acabado</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">	          
		          <div class="acabadosModal" id="acabadoImagen0" (click)="cambiarAcabado(0,1,1)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen1" (click)="cambiarAcabado(1,1,1)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen2" (click)="cambiarAcabado(2,1,1)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen3" (click)="cambiarAcabado(3,1,1)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen4" (click)="cambiarAcabado(4,1,1)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen5" (click)="cambiarAcabado(5,1,1)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen6" (click)="cambiarAcabado(6,1,1)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen7" (click)="cambiarAcabado(7,1,1)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen8" (click)="cambiarAcabado(8,1,1)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen9" (click)="cambiarAcabado(9,1,1)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen10" (click)="cambiarAcabado(10,1,1)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen11" (click)="cambiarAcabado(11,1,1)" data-dismiss="modal"></div> 
		          <div class="acabadosModal" id="acabadoImagen12" (click)="cambiarAcabado(12,1,1)" data-dismiss="modal"></div>          
		          <div class="acabadosModal" id="acabadoImagen13" (click)="cambiarAcabado(13,1,1)" data-dismiss="modal"></div>          
		                   
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>
	  <div class="modal fade" id="myModalColores2" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Escoge un acabado</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">	          
		          <div class="acabadosModal" id="acabadoImagen0" (click)="cambiarAcabado(0,1,2)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen1" (click)="cambiarAcabado(1,1,2)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen2" (click)="cambiarAcabado(2,1,2)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen3" (click)="cambiarAcabado(3,1,2)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen4" (click)="cambiarAcabado(4,1,2)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen5" (click)="cambiarAcabado(5,1,2)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen6" (click)="cambiarAcabado(6,1,2)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen7" (click)="cambiarAcabado(7,1,2)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen8" (click)="cambiarAcabado(8,1,2)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen9" (click)="cambiarAcabado(9,1,2)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen10" (click)="cambiarAcabado(10,1,2)"  data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen11" (click)="cambiarAcabado(11,1,2)"  data-dismiss="modal"></div> 
		          <div class="acabadosModal" id="acabadoImagen12" (click)="cambiarAcabado(12,1,2)"  data-dismiss="modal"></div>          
		          <div class="acabadosModal" id="acabadoImagen13" (click)="cambiarAcabado(13,1,2)" data-dismiss="modal"></div>          
		                   
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>
	  <div class="modal fade" id="myModalColores3" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Escoge un acabado</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">	          
		          <div class="acabadosModal" id="acabadoImagen0" (click)="cambiarAcabado(0,1,3)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen1" (click)="cambiarAcabado(1,1,3)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen2" (click)="cambiarAcabado(2,1,3)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen3" (click)="cambiarAcabado(3,1,3)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen4" (click)="cambiarAcabado(4,1,3)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen5" (click)="cambiarAcabado(5,1,3)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen6" (click)="cambiarAcabado(6,1,3)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen7" (click)="cambiarAcabado(7,1,3)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen8" (click)="cambiarAcabado(8,1,3)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen9" (click)="cambiarAcabado(9,1,3)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen10" (click)="cambiarAcabado(10,1,3)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen11" (click)="cambiarAcabado(11,1,3)" data-dismiss="modal"></div> 
		          <div class="acabadosModal" id="acabadoImagen12" (click)="cambiarAcabado(12,1,3)" data-dismiss="modal"></div>          
		          <div class="acabadosModal" id="acabadoImagen13" (click)="cambiarAcabado(13,1,3)" data-dismiss="modal"></div>          
		                   
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>
	  <div class="modal fade" id="myModalColores4" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Escoge un acabado</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">	          
		          <div class="acabadosModal" id="acabadoImagen0" (click)="cambiarAcabado(0,1,4)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen1" (click)="cambiarAcabado(1,1,4)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen2" (click)="cambiarAcabado(2,1,4)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen3" (click)="cambiarAcabado(3,1,4)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen4" (click)="cambiarAcabado(4,1,4)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen5" (click)="cambiarAcabado(5,1,4)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen6" (click)="cambiarAcabado(6,1,4)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen7" (click)="cambiarAcabado(7,1,4)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen8" (click)="cambiarAcabado(8,1,4)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen9" (click)="cambiarAcabado(9,1,4)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen10" (click)="cambiarAcabado(10,1,4)" data-dismiss="modal"></div>
		          <div class="acabadosModal" id="acabadoImagen11" (click)="cambiarAcabado(11,1,4)" data-dismiss="modal"></div> 
		          <div class="acabadosModal" id="acabadoImagen12" (click)="cambiarAcabado(12,1,4)" data-dismiss="modal"></div>          
		          <div class="acabadosModal" id="acabadoImagen13" (click)="cambiarAcabado(13,1,4)" data-dismiss="modal"></div>          
		                   
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>
	  <div class="modal fade" id="myModalColores5" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Escoge un acabado</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">	          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen0" (click)="cambiarAcabado(0,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen1" (click)="cambiarAcabado(1,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen2" (click)="cambiarAcabado(2,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen3" (click)="cambiarAcabado(3,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen4" (click)="cambiarAcabado(4,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen5" (click)="cambiarAcabado(5,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen6" (click)="cambiarAcabado(6,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen7" (click)="cambiarAcabado(7,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen8" (click)="cambiarAcabado(8,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen9" (click)="cambiarAcabado(9,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen10" (click)="cambiarAcabado(10,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen11" (click)="cambiarAcabado(11,1,2)"></div> 
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen12" (click)="cambiarAcabado(12,1,2)"></div>          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen13" (click)="cambiarAcabado(13,1,2)"></div>          
		                   
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>
	  <div class="modal fade" id="myModalColores6" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Escoge un acabado</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">	          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen0" (click)="cambiarAcabado(0,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen1" (click)="cambiarAcabado(1,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen2" (click)="cambiarAcabado(2,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen3" (click)="cambiarAcabado(3,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen4" (click)="cambiarAcabado(4,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen5" (click)="cambiarAcabado(5,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen6" (click)="cambiarAcabado(6,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen7" (click)="cambiarAcabado(7,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen8" (click)="cambiarAcabado(8,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen9" (click)="cambiarAcabado(9,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen10" (click)="cambiarAcabado(10,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen11" (click)="cambiarAcabado(11,1,2)"></div> 
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen12" (click)="cambiarAcabado(12,1,2)"></div>          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen13" (click)="cambiarAcabado(13,1,2)"></div>          
		                   
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>
	  <div class="modal fade" id="myModalColores7" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Escoge un acabado</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">	          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen0" (click)="cambiarAcabado(0,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen1" (click)="cambiarAcabado(1,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen2" (click)="cambiarAcabado(2,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen3" (click)="cambiarAcabado(3,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen4" (click)="cambiarAcabado(4,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen5" (click)="cambiarAcabado(5,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen6" (click)="cambiarAcabado(6,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen7" (click)="cambiarAcabado(7,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen8" (click)="cambiarAcabado(8,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen9" (click)="cambiarAcabado(9,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen10" (click)="cambiarAcabado(10,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen11" (click)="cambiarAcabado(11,1,2)"></div> 
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen12" (click)="cambiarAcabado(12,1,2)"></div>          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen13" (click)="cambiarAcabado(13,1,2)"></div>          
		                   
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>
	  <div class="modal fade" id="myModalColores8" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Escoge un acabado</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">	          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen0" (click)="cambiarAcabado(0,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen1" (click)="cambiarAcabado(1,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen2" (click)="cambiarAcabado(2,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen3" (click)="cambiarAcabado(3,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen4" (click)="cambiarAcabado(4,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen5" (click)="cambiarAcabado(5,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen6" (click)="cambiarAcabado(6,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen7" (click)="cambiarAcabado(7,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen8" (click)="cambiarAcabado(8,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen9" (click)="cambiarAcabado(9,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen10" (click)="cambiarAcabado(10,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen11" (click)="cambiarAcabado(11,1,2)"></div> 
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen12" (click)="cambiarAcabado(12,1,2)"></div>          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen13" (click)="cambiarAcabado(13,1,2)"></div>          
		                   
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>
	  <div class="modal fade" id="myModalColores9" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Escoge un acabado</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">	          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen0" (click)="cambiarAcabado(0,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen1" (click)="cambiarAcabado(1,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen2" (click)="cambiarAcabado(2,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen3" (click)="cambiarAcabado(3,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen4" (click)="cambiarAcabado(4,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen5" (click)="cambiarAcabado(5,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen6" (click)="cambiarAcabado(6,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen7" (click)="cambiarAcabado(7,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen8" (click)="cambiarAcabado(8,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen9" (click)="cambiarAcabado(9,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen10" (click)="cambiarAcabado(10,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen11" (click)="cambiarAcabado(11,1,2)"></div> 
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen12" (click)="cambiarAcabado(12,1,2)"></div>          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen13" (click)="cambiarAcabado(13,1,2)"></div>          
		                   
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>
	  <div class="modal fade" id="myModalColores10" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Escoge un acabado</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">	          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen0" (click)="cambiarAcabado(0,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen1" (click)="cambiarAcabado(1,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen2" (click)="cambiarAcabado(2,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen3" (click)="cambiarAcabado(3,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen4" (click)="cambiarAcabado(4,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen5" (click)="cambiarAcabado(5,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen6" (click)="cambiarAcabado(6,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen7" (click)="cambiarAcabado(7,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen8" (click)="cambiarAcabado(8,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen9" (click)="cambiarAcabado(9,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen10" (click)="cambiarAcabado(10,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen11" (click)="cambiarAcabado(11,1,2)"></div> 
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen12" (click)="cambiarAcabado(12,1,2)"></div>          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen13" (click)="cambiarAcabado(13,1,2)"></div>          
		                   
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>
	  <div class="modal fade" id="myModalColores11" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Escoge un acabado</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">	          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen0" (click)="cambiarAcabado(0,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen1" (click)="cambiarAcabado(1,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen2" (click)="cambiarAcabado(2,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen3" (click)="cambiarAcabado(3,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen4" (click)="cambiarAcabado(4,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen5" (click)="cambiarAcabado(5,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen6" (click)="cambiarAcabado(6,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen7" (click)="cambiarAcabado(7,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen8" (click)="cambiarAcabado(8,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen9" (click)="cambiarAcabado(9,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen10" (click)="cambiarAcabado(10,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen11" (click)="cambiarAcabado(11,1,2)"></div> 
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen12" (click)="cambiarAcabado(12,1,2)"></div>          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen13" (click)="cambiarAcabado(13,1,2)"></div>          
		                   
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>
	  <div class="modal fade" id="myModalColores12" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Escoge un acabado</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">	          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen0" (click)="cambiarAcabado(0,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen1" (click)="cambiarAcabado(1,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen2" (click)="cambiarAcabado(2,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen3" (click)="cambiarAcabado(3,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen4" (click)="cambiarAcabado(4,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen5" (click)="cambiarAcabado(5,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen6" (click)="cambiarAcabado(6,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen7" (click)="cambiarAcabado(7,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen8" (click)="cambiarAcabado(8,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen9" (click)="cambiarAcabado(9,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen10" (click)="cambiarAcabado(10,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen11" (click)="cambiarAcabado(11,1,2)"></div> 
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen12" (click)="cambiarAcabado(12,1,2)"></div>          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen13" (click)="cambiarAcabado(13,1,2)"></div>          
		                   
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>
	  <div class="modal fade" id="myModalColores13" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Escoge un acabado</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">	          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen0" (click)="cambiarAcabado(0,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen1" (click)="cambiarAcabado(1,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen2" (click)="cambiarAcabado(2,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen3" (click)="cambiarAcabado(3,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen4" (click)="cambiarAcabado(4,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen5" (click)="cambiarAcabado(5,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen6" (click)="cambiarAcabado(6,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen7" (click)="cambiarAcabado(7,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen8" (click)="cambiarAcabado(8,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen9" (click)="cambiarAcabado(9,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen10" (click)="cambiarAcabado(10,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen11" (click)="cambiarAcabado(11,1,2)"></div> 
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen12" (click)="cambiarAcabado(12,1,2)"></div>          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen13" (click)="cambiarAcabado(13,1,2)"></div>          
		                   
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>
	  <div class="modal fade" id="myModalColores14" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Escoge un acabado</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">	          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen0" (click)="cambiarAcabado(0,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen1" (click)="cambiarAcabado(1,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen2" (click)="cambiarAcabado(2,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen3" (click)="cambiarAcabado(3,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen4" (click)="cambiarAcabado(4,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen5" (click)="cambiarAcabado(5,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen6" (click)="cambiarAcabado(6,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen7" (click)="cambiarAcabado(7,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen8" (click)="cambiarAcabado(8,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen9" (click)="cambiarAcabado(9,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen10" (click)="cambiarAcabado(10,1,2)"></div>
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen11" (click)="cambiarAcabado(11,1,2)"></div> 
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen12" (click)="cambiarAcabado(12,1,2)"></div>          
		          <div style="float:left; width:280px; height:160px ;margin-left:80px;margin-top: 30px;" id="acabadoImagen13" (click)="cambiarAcabado(13,1,2)"></div>          
		                   
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
	  </div>
	  
</div>
<div id="calculadoraCarrito">

 <ul id="tablaElegirCalcu" class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#calculadora">Calculadora</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#carrito">Carrito</a>
    </li>

  </ul>	
  <div style="background-color:white;width:86%;height: 85%;margin-left:25px;margin-top:10px">
  
 	 <div class="tab-content">

	
			<div id="calculadora" class="container tab-pane fade" style="height:600px;overflow:scroll;">
				<div style="width:100%;height:7%;background-color:gray;color:white;top:0;">		
					<div style="float:left" (click)="borrarProdCalculadora()"><img width="16px" height="16px" src="../../../content/images/marca-de-prohibido.png"></div>		
					<strong style="float:left;margin-left:20px"><p id="nombreMesita"></p></strong><p  style="float:right;margin-right:20px"><strong id="precioDimension">0</strong>&euro;</p >
				</div>
			
					<div id="productoCalculadora1" style="float:left">
						<div id="datos1" style="float:left;margin-left:5px">
								
						</div>
						<div style="float:left;margin-left:50px;"id="precios1">
						
						</div>
						<div style="float:left;margin-left:20px;"id="precioCalculado1">
							
						</div>
					</div>
					<div id="productoCalculadora2" style="float:left">
						<div id="datos2" style="float:left;margin-left:5px">
								
						</div>
						<div style="float:left;margin-left:50px;"id="precios2">
						
						</div>
						<div style="float:right;margin-right:20px;"id="precioCalculado2">
							
						</div>
					</div>
					<div id="productoCalculadora3" style="float:left">
						<div id="datos3" style="float:left;margin-left:5px">
								
						</div>
						<div style="float:left;margin-left:50px;"id="precios3">
						
						</div>
						<div style="float:left;margin-left:20px;"id="precioCalculado3">
							
						</div>
					</div>
					
					<div style="width:100%;height:7%;background-color:gray;color:white;margin-top: 520px;">				
						<p>Precio Total <strong id="total">0</strong>&euro;</p>
					</div>
				<button id="botonCalculadora" style="width: 86%;height: 7%; bottom: 35px;position: absolute;font-size:16px;background-color:#FBCD13" (click)="enviarCarrito()">Mandar articulo/s al carro de la compra</button>
					
			</div>
			
			<div id="carrito" class="container tab-pane fade" style="height:600px;overflow:scroll;">
					<div id="productoCarrito1" style="display:none">
					<div style="float:left" (click)="borrarCarritoProd(1)"><img width="16px" height="16px" src="../../../content/images/marca-de-prohibido.png"></div>
						<div id="datos1" style="float:left;margin-left:5px">
								
						</div>
						<div style="float:left;margin-left:50px;"id="precios1">
						
						</div>
						<div style="float:left;margin-left:20px;"id="precioCalculado1">
							
						</div>
					</div>
					<div id="productoCarrito2" style="display:none">
					<div style="float:left" (click)="borrarCarritoProd(2)"><img width="16px" height="16px" src="../../../content/images/marca-de-prohibido.png"></div>
						<div id="datos2" style="float:left;margin-left:5px">
								
						</div>
						<div style="float:left;margin-left:50px;"id="precios2">
						
						</div>
						<div style="float:left;margin-left:20px;"id="precioCalculado2">
							
						</div>
					</div>
					<div id="productoCarrito3" style="display:none">
					<div style="float:left" (click)="borrarCarritoProd(3)"><img width="16px" height="16px" src="../../../content/images/marca-de-prohibido.png"></div>
						<div id="datos3" style="float:left;margin-left:5px">
								
						</div>
						<div style="float:left;margin-left:50px;"id="precios3">
						
						</div>
						<div style="float:left;margin-left:20px;"id="precioCalculado3">
							
						</div>
					</div>	
					<div id="productoCarrito4" style="display:none">
					<div style="float:left" (click)="borrarCarritoProd(4)"><img width="16px" height="16px" src="../../../content/images/marca-de-prohibido.png"></div>
						<div id="datos4" style="float:left;margin-left:5px">
								
						</div>
						<div style="float:left;margin-left:50px;"id="precios4">
						
						</div>
						<div style="float:left;margin-left:20px;"id="precioCalculado4">
							
						</div>
					</div>	
					<div id="productoCarrito5" style="display:none">
						<div style="float:left" (click)="borrarCarritoProd(5)"><img width="16px" height="16px" src="../../../content/images/marca-de-prohibido.png"></div>
						<div id="datos5" style="float:left;margin-left:5px">
								
						</div>
						<div style="float:left;margin-left:50px;"id="precios5">
						
						</div>
						<div style="float:left;margin-left:20px;"id="precioCalculado5">
							
						</div>
					</div>	
					<div id="productoCarrito6" style="display:none">
						<div style="float:left" (click)="borrarCarritoProd(6)"><img width="16px" height="16px" src="../../../content/images/marca-de-prohibido.png"></div>
						<div id="datos6" style="float:left;margin-left:5px">
								
						</div>
						<div style="float:left;margin-left:50px;"id="precios6">
						
						</div>
						<div style="float:left;margin-left:20px;"id="precioCalculado6">
							
						</div>
					</div>	
					<div id="productoCarrito7" style="display:none">
						<div style="float:left" (click)="borrarCarritoProd(7)"><img width="16px" height="16px" src="../../../content/images/marca-de-prohibido.png"></div>
						<div id="datos7" style="float:left;margin-left:5px">
								
						</div>
						<div style="float:left;margin-left:50px;"id="precios7">
						
						</div>
						<div style="float:left;margin-left:20px;"id="precioCalculado7">
							
						</div>
					</div>	
					<div id="productoCarrito8"  style="display:none">
						<div style="float:left" (click)="borrarCarritoProd(8)"><img width="16px" height="16px" src="../../../content/images/marca-de-prohibido.png"></div>
						<div id="datos8" style="float:left;margin-left:5px">
								
						</div>
						<div style="float:left;margin-left:50px;"id="precios8">
						
						</div>
						<div style="float:left;margin-left:20px;"id="precioCalculado8">
							
						</div>
					</div>	<div id="productoCarrito9" style="display:none">
					<div style="float:left"  (click)="borrarCarritoProd(9)"><img width="16px" height="16px" src="../../../content/images/marca-de-prohibido.png"></div>
						<div id="datos9" style="float:left;margin-left:5px">
								
						</div>
						<div style="float:left;margin-left:50px;"id="precios9">
						
						</div>
						<div style="float:left;margin-left:20px;"id="precioCalculado9">
							
						</div>
					</div>	
					<div id="productoCarrito10"  style="display:none">
					<div style="float:left" (click)="borrarCarritoProd(10)"><img width="16px" height="16px" src="../../../content/images/marca-de-prohibido.png"></div>
						<div id="datos10" style="float:left;margin-left:5px">
								
						</div>
						<div style="float:left;margin-left:50px;"id="precios10">
						
						</div>
						<div style="float:left;margin-left:20px;"id="precioCalculado10">
							
						</div>
					</div>	
				<button style="width: 86%;height: 7%; bottom: 35px;left:35px;position: absolute;font-size:16px;background-color:#75D775" data-toggle="modal" data-target="#modalPresupuesto" >Finalizar y Generar<br> Presupuesto</button>
			</div>
	
	</div>
</div>
</div>
<a ><img id="botonEsconderCarr"  onclick="mostrarCarrito()" style="max-width:40%" src="../../../content/images/carr.png"></a>
<a ><img id="botonEsconderCalcu" onclick="mostrarCalculadora()" style="max-width:40%" src="../../../content/images/calcu.png"></a>


