
<nav class="navbar navbar-dark navbar-expand-md bg-white" id="menuPrincipal">
<div style="float:left;witdh:100%;top:50px;position:fixed">
			  
					
	<div id="menuUnico">				
					<ul style="list-style:none;margin-left:-40px;margin-top:30px">
	       		 		<li style="margin-top: -20px;" *jhiHasAnyAuthority="['ROLE_REPRESENTATE','ROLE_USER','ROLE_ADMIN', 'ROLE_CLIENTE']"  ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
	                    <a  id="noticias" data-toggle="collapse" data-target="#menuNoticias">
	                        <span>
	                            <span style="color:black;font-size:18px;margin-top: 18px;">NOTICIAS</span>
	                        </span>
						</a>
						</li>
						<div id="menuNoticias" class="collapse">
						   <ul aria-labelledby="#menuNoticias">
						     	<li style="list-style: none;">
		                               
					                        <span>
					                            <span style="color:#7AB5CA;font-size:16px;">TORGA</span>
					                        </span>
										
								</li>
							</ul>
					</div>
					</ul>
		
	    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
	        <fa-icon icon="bars"></fa-icon>
	    </a>
	   
      	 
      	 
      	  <ul style="list-style:none;margin-left:-40px;margin-top:30px">
       		 <li style="margin-top: -20px;" *jhiHasAnyAuthority="['ROLE_REPRESENTATE','ROLE_USER','ROLE_ADMIN', 'ROLE_CLIENTE']"  ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a  id="tarifa" data-toggle="collapse" data-target="#menuTarifa">
                        <span>
                            <span style="color:black;font-size:18px;margin-top: 18px;">TARIFA</span>
                        </span>
					</a>
					<div id="menuTarifa" class="collapse">
						   <ul aria-labelledby="#menuTarifa">
						     	<li style="list-style: none;">
		                                <a  id="torgaTarifa" data-toggle="collapse" data-target="#menuTarifaTorga">
					                        <span>
					                            <span style="color:#7AB5CA;font-size:16px;">TORGA</span>
					                        </span>
										</a>
										<div id="menuTarifaTorga" class="collapse">
												<li style="list-style: none;">
						                            <a  id="torgaTarifaComedoresPrincipal" data-toggle="collapse" data-target="#torgaTarifaComedores">
								                        <span>
								                            <span style="color:#7AB5CA;font-size:14px;">NATIV COMEDORES</span>
								                        </span>
													</a>
													<div id="torgaTarifaComedores" class="collapse" style="font-size:12px;">
                  												<li>
										                            <a routerLink="productos-modulos-bajos"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Módulos Bajos</span>
										                            </a>
											                    </li>
											                    <li>
										                            <a routerLink="productos-aparadores"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Aparadores</span>
										                            </a>
											                    </li>
											                    <li>
										                            <a routerLink="productos-modulos-bajos"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Vitrinas</span>
										                            </a>
											                    </li>
											                    <li>
										                            <a routerLink="productos-modulos-bajos"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Singulares</span>
										                            </a>
											                    </li>
											                    <li>
										                            <a routerLink="productos-modulos-bajos"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Escritorios</span>
										                            </a>
											                    </li>
											                    <li>
										                            <a routerLink="productos-modulos-bajos"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Sistemas de Apoyo</span>
										                            </a>
											                    </li>
											                    <li>
										                            <a routerLink="productos-modulos-bajos"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Estanterias colgantes y estantes</span>
										                            </a>
											                    </li>
											                    <li>
										                            <a routerLink="productos-modulos-bajos"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Colgantes Verticales</span>
										                            </a>
											                    </li>
											                    <li>
										                            <a routerLink="productos-modulos-bajos"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Colgantes Verticales Estantería</span>
										                            </a>
											                    </li>
											                    <li>
										                            <a routerLink="productos-modulos-bajos"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Colgantes Horizontales</span>
										                            </a>
											                    </li>
											                    <li>
										                            <a routerLink="productos-modulos-bajos"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Estanterías</span>
										                            </a>
											                    </li>
											                    <li>
										                            <a routerLink="productos-modulos-bajos"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Suplementos TV</span>
										                            </a>
											                    </li>
											                    <li>
										                            <a routerLink="productos-modulos-bajos"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Paneles</span>
										                            </a>
											                    </li>
											                    <li>
										                            <a routerLink="productos-modulos-bajos"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Mesas</span>
										                            </a>
											                    </li>
											                    <li>
										                            <a routerLink="productos-modulos-bajos"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Composiciones</span>
										                            </a>
											                    </li>
												 	</div>
						                    	</li>
						                        
						                    
						                            <a  id="torgaTarifaDormitoriosPrincipal" data-toggle="collapse" data-target="#torgaTarifaDormitorios">
								                        <span>
								                            <span style="color:#7AB5CA;font-size:14px;">NATIV DORMITORIOS</span>
								                        </span>
													</a>
														<div id="torgaTarifaDormitorios" class="collapse" style="font-size:12px">
														     	<li>
										                            <a routerLink="productos-dormitorio/cabeceros"  routerLinkActive="active" >
										                                <span style="color:#7AB5CA;">Cabeceros</span>
										                            </a>
											                        </li>
											                        
											                        <li>
											                            <a routerLink="productos-dormitorio/categoria/1"  routerLinkActive="active" >
											                                <span style="color:#7AB5CA;">Mesitas</span>
											                            </a>
											                        </li>
											                        
											                    
											                        <li>
											                            <a routerLink="productos-dormitorio/chinfonier"  routerLinkActive="active" >
											                                <span style="color:#7AB5CA;">Chifonieres</span>
											                            </a>
											                        </li>
											                        <li>
											                            <a routerLink="productos-dormitorio/apoyo"  routerLinkActive="active" >
											                                <span style="color:#7AB5CA;">Sistemas de apoyo</span>
											                            </a>
											                        </li>
											                         <li>
											                            <a routerLink="productos-dormitorio/canape"  routerLinkActive="active" >
											                                <span style="color:#7AB5CA;">Ba&ntilde;eras y canapes</span>
											                            </a>
											                        </li>
											                        <li>
											                            <a routerLink="composicion-ver"  routerLinkActive="active" >
											                                <span style="color:#7AB5CA;">Composiciones</span>
											                            </a>
											                        </li>
											                        <li>
											                            <a routerLink="armarios-dormitorio"  routerLinkActive="active" >
											                                <span style="color:#7AB5CA;">Armarios</span>
											                            </a>
											                        </li>
									         
									                        
													  </div>
														                      
					                        
									  </div>
		                        </li>
	                        </ul>
	                        
					  </div>
      	 </ul>
      	 
      	 <ul style="list-style:none;margin-left:-40px;margin-top:30px">
       		 <li style="margin-top: -20px;" *jhiHasAnyAuthority="['ROLE_REPRESENTATE','ROLE_USER','ROLE_ADMIN','ROLE_CLIENTE']"  ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a  id="comercial" data-toggle="collapse" data-target="#menuComercial">
                        <span>
                            <span style="color:black;font-size:20px;margin-top: -20px;">Comercial</span>
                        </span>
					</a>
					<div id="menuComercial" class="collapse">
						   <ul aria-labelledby="menuComercial">
						     	<li>
		                            <a routerLink="presupuesto-usuario"  routerLinkActive="active" >
		                                <span >Presupuestos</span>
		                            </a>
		                        </li>
		                        
		                        <li>
		                            <a routerLink="pedidos-usuario"  routerLinkActive="active" >
		                                <span >Pedidos</span>
		                            </a>
		                        </li>
		                        
		                    
		                        <li>
		                            <a routerLink="contacto-incidencias"  routerLinkActive="active" >
		                                <span >Inciencias</span>
		                            </a>
		                        </li>
		                        <li>
		                            <a routerLink="contacto-proyectos"  routerLinkActive="active" >
		                                <span >Proyectos</span>
		                            </a>
		                        </li>
		                        <li>
		                            <a routerLink="productos-dormitorio/apoyo"  routerLinkActive="active" >
		                                <span >Mis Clientes</span>
		                            </a>
		                        </li>
	                        </ul>
	                        
					  </div>
      	 </ul>
      	 
      	 <ul style="list-style:none;margin-left:-40px;margin-top:30px">
       		 <li style="margin-top: -20px;" *jhiHasAnyAuthority="['ROLE_REPRESENTATE','ROLE_USER','ROLE_ADMIN','ROLE_CLIENTE']"  ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a  id="cntacto" data-toggle="collapse" data-target="#menuContactoTorga">
                        <span>
                            <span id="textoContactoFabrica" style="color:black;font-size:20px;margin-top: -20px;">Contacto Fabrica</span>
                        </span>
					</a>
					<div id="menuContactoTorga" class="collapse">
						<ul>
							<li style="list-style: none;">
							 <a  routerLink="contacto-fabrica-clientes"  routerLinkActive="active"  id="fabricanteTorga" data-toggle="collapse">
		                        <span>
		                            <span style="color:#7AB5CA;font-size:16px;margin-top: -20px;">TORGA</span>
		                        </span>
							</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
      	  <ul style="list-style:none;margin-left:-40px;margin-top:30px">
       		 <li style="margin-top: -20px;" *jhiHasAnyAuthority="['ROLE_REPRESENTATE','ROLE_USER','ROLE_ADMIN']"  ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a  id="fabricante" data-toggle="collapse" data-target="#menuFabricanteTorga">
                        <span>
                            <span style="color:black;font-size:20px;margin-top: -20px;">Gestion Fabricantes</span>
                        </span>
					</a>
					<div id="menuFabricanteTorga" class="collapse">
						<ul>
							<li style="list-style: none;">
							 <a  routerLink="gestion-fabricantes"  routerLinkActive="active"  id="fabricanteTorga" data-toggle="collapse">
		                        <span>
		                            <span style="color:#7AB5CA;font-size:16px;margin-top: -20px;">TORGA</span>
		                        </span>
							</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
      	 <ul style="list-style:none;margin-left:-40px;margin-top:30px">
       		 <li style="margin-top: -20px;" *jhiHasAnyAuthority="['ROLE_REPRESENTATE','ROLE_USER','ROLE_ADMIN']"  ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a  id="comercial" data-toggle="collapse" data-target="#menuComercialTorga">
                        <span>
                            <span style="color:black;font-size:20px;margin-top: -20px;">Gestion Tienda</span>
                        </span>
					</a>
					<div id="menuComercialTorga" class="collapse">
					<ul>
						<li style="list-style: none;">
						 <a  id="comercialTorga" data-toggle="collapse" data-target="#menuTienda">
	                        <span>
	                            <span style="color:#7AB5CA;font-size:16px;margin-top: -20px;">TORGA</span>
	                        </span>
						</a>
					
						<div id="menuTienda" class="collapse" style="font-size:12px;color:#7AB5CA;">
							  
							     	<li >
			                            <a routerLink="datos-generales"  routerLinkActive="active" >
			                                <span style="color:#7AB5CA;">Datos Generales</span>
			                            </a>
			                        </li>
			                        <li>
			                            <a routerLink="vendedores-usuario"  routerLinkActive="active" >
			                                <span style="color:#7AB5CA;">Usuarios</span>
			                            </a>
			                        </li>
			                        <li>
			                            <a routerLink="datos-usuario"  routerLinkActive="active" >
			                                <span style="color:#7AB5CA;">datos</span>
			                            </a>
			                        </li>
			                        
		                     
		                        
						  </div>
						 </li></ul>
					  </div>
      	 </ul>
      	 <ul style="list-style:none;margin-left:-40px;margin-top:30px">
       		 <li style="margin-top: -20px;" *jhiHasAnyAuthority="['ROLE_ADMIN']"  ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a  id="comercial" data-toggle="collapse" data-target="#menuComercial">
                        <span>
                           <p style="text-align:center"> <span id="contadorDatos" style="color:black;font-size:20px;">{{contador}}</span></p>
                        </span>
					</a>
			</li>
		</ul> 
						<a  *jhiHasAnyAuthority="['ROLE_REPRESENTATE','ROLE_USER','ROLE_ADMIN','ROLE_CLIENTE']" routerLink ="contacto-sugerencias" routerLinkActive="active">
                            <span>SUGERENCIAS</span>
                        </a><br>
                        <a *jhiHasAnyAuthority="['ROLE_REPRESENTATE','ROLE_USER','ROLE_ADMIN','ROLE_CLIENTE']"  (click)="logout()" id="logout">
                            <span>CERRAR SESION</span>
                        </a>
    </div>
     
    
    
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed"    [ngSwitch]="isAuthenticated()" style="margin-top:350px;POSITION:FIXED">
      
        <ul class="navbar-nav ml-auto" style=" display: block;">
            
             <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>-->  
            <!--    <li *jhiHasAnyAuthority="'ROLE_ADMIN'" class="nav-item pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="clientetorga" routerLinkActive="active" id="admin-menu">
                        <span>
                            <fa-icon icon="save"></fa-icon>
                            <span jhiTranslate="global.menu.admin.datos">Adjuntar Datos</span>
                        </span>
                    </a>
            </li> -->   
      
            
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                        <span>
                            <fa-icon icon="user-plus" style="color:black"></fa-icon>
                            <span jhiTranslate="global.menu.admin.main" style="color:black">Administration</span>
                        </span>
					</a>

				

                    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                        <li>
                            <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="user" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="admin/jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="admin/jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="heart" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="admin/jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="list" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="bell" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li *ngIf="swaggerEnabled">
                            <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="book" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                    </ul>
                    
                </li>
                
                
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'"  ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu-composicion">
                    <span>
                        <fa-icon icon="th-list" style="color:black"></fa-icon>
                        <span style="color:black">
                            Entidades Composicion
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu-composicion">
                    <li>
                        <a class="dropdown-item" routerLink="composicion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>composicion</span>
                        </a>
                    </li>
                      <li>
                        <a class="dropdown-item" routerLink="productos-composicion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>productos-composicion</span>
                        </a>
                    </li>
                     <li>
                        <a class="dropdown-item" routerLink="acabados-composicion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>acabados-composicion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="interiores" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Interiores</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="medidas-especiales" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Medidas Especiales</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="interiores-armarios" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Interiores Armarios</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="precio-tienda" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Precio Tienda</span>
                        </a>
                    </li>
                  </ul>
             </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'"  ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <fa-icon icon="th-list" style="color:black"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main" style="color:black">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <li>
                        <a class="dropdown-item" routerLink="cliente" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.cliente">Cliente</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pagos-torga-tiendas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Dar pagos de torga a tiendas</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="interior-armario-dentro" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>interior-armario</span>
                        </a>
                    </li><li>
                        <a class="dropdown-item" routerLink="puertas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>puertas</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="referencia-clientes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.referenciaClientes">Referencia Clientes</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="represen-torga" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.representante">Representante</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="representante-tienda" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Representante Tienda</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="logistica" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.logistica">Logistica</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pedidos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.pedidos">Pedidos</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estados" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.estados">Estados</span>
                        </a>
                    </li>
                     
                    <li>
                        <a class="dropdown-item" routerLink="transportistas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.transportistas">Transportistas</span>
                        </a>
                    </li>
                        <li>
                        <a class="dropdown-item" routerLink="categorias-dormi" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Categorias</span>
                        </a>
                    </li>
                     <li>
                        <a class="dropdown-item" routerLink="dimensiones-producto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Dimensiones</span>
                        </a>
                    </li>
                    
                    
                     <li>
                        <a class="dropdown-item" routerLink="productos-dormitorio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Productos</span>
                        </a>
                    </li>
                    
                    <li>
                        <a class="dropdown-item" routerLink="acabados" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Acabados</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="dimensiones-producto-tipo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>                    dimensiones-producto-tipo
</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="dimensiones-producto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>dimensiones-producto</span>
                        </a>
                    </li>
                     <li>
                        <a class="dropdown-item" routerLink="aca-prod" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>acabados-productos</span>
                        </a>
                    </li>
                     <li>
                        <a class="dropdown-item" routerLink="tipos-apoyo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Tipos Apoyo</span>
                        </a>
                    </li>   
                    <li>
                        <a class="dropdown-item" routerLink="tipo-producto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>tipo-producto</span>
                        </a>
                    </li> 
                    <li>
                        <a class="dropdown-item" routerLink="tiradores-armario" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>tiradores</span>
                        </a>
                    </li> 
                </ul>
            </li>
            
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                    <span>
                        <fa-icon icon="flag" style="color:black"></fa-icon>
                        <span jhiTranslate="global.menu.language" style="color:black">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <div *ngSwitchCase="true">

                    <li  *jhiHasAnyAuthority="'ROLE_CLIENTE'"  class="nav-item pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        
                        <a class="nav-link" routerLink="clientetorga" routerLinkActive="active" id="account-panel">
                        <span *ngIf="!getImageUrl()">
                            <fa-icon icon="book" style="color:black"></fa-icon>
                            <span jhiTranslate="global.menu.account.panel" style="color:black">
                            Pedidos 
                            </span>
                        </span>
                        </a>


                       
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_REPRESENTATE'" class="nav-item pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link" routerLink="representantetorga" routerLinkActive="active" id="account-panel">
                            <span *ngIf="!getImageUrl()">
                                <fa-icon icon="book" style="color:black"></fa-icon >
                                <span jhiTranslate="global.menu.account.panel" style="color:black">
                                Pedidos 
                                </span>
                            </span>
                            </a>
                            
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'"  class="nav-item pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link" routerLink="admintorga" routerLinkActive="active" id="account-panel">
                            <span *ngIf="!getImageUrl()">
                                <fa-icon icon="book" style="color:black"></fa-icon>
                                <span jhiTranslate="global.menu.account.panel" style="color:black">
                                Pedidos 
                                </span>
                            </span>
                            </a>
                    </li>
               
            </div>
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user" style="color:black"></fa-icon>
                    <span jhiTranslate="global.menu.account.main" style="color:black">
                      Account
                    </span>
                  </span>
                  <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                  </span>
                </a>
                <ul  class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="clock" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>
</nav>
<a id="botonEsconder" onclick="esconderMenu()"><img style="max-width:100%" src="../../../content/images/icono-hamburguesa.png"></a>
<a  *jhiHasAnyAuthority="'ROLE_CLIENTE','ROLE_USER'" class="navbar-brand logo" routerLink="inicio" (click)="collapseNavbar()" style="margin-left: 100px;z-index: 1;position: fixed;top: 0;">
	                <span class="logo-img"></span>
</a>
<a  *jhiHasAnyAuthority="'ROLE_ADMIN'" class="navbar-brand logo" routerLink="inicio" (click)="collapseNavbar()" style="margin-left: 100px;z-index: 1;position: fixed;top: 0;">
	                <span class="logo-img"></span>
</a>
<a  *jhiHasAnyAuthority="'ROLE_USER'" class="navbar-brand logo" routerLink="inicio" (click)="collapseNavbar()" style="margin-left: 100px;z-index: 1;position: fixed;top: 0;">
	                <span class="logo-img"></span>
</a>
<a  *jhiHasAnyAuthority="'ROLE_CLIENTE'" class="navbar-brand logo" routerLink="inicio" (click)="collapseNavbar()" style="margin-left: 100px;z-index: 1;position: fixed;top: 0;">
	                <span class="logo-img"></span>
</a>
    