<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="interioresArmarioNuevos">
            <h2><span jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.detail.title">Interiores Armario Nuevos</span> {{interioresArmarioNuevos.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.nombre">Nombre</span></dt>
                <dd>
                    <span>{{interioresArmarioNuevos.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.ancho">Ancho</span></dt>
                <dd>
                    <span>{{interioresArmarioNuevos.ancho}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.precio">Precio</span></dt>
                <dd>
                    <span>{{interioresArmarioNuevos.precio}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.luz">Luz</span></dt>
                <dd>
                    <span>{{interioresArmarioNuevos.luz}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.a">A</span></dt>
                <dd>
                    <span>{{interioresArmarioNuevos.a}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.b">B</span></dt>
                <dd>
                    <span>{{interioresArmarioNuevos.b}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.c">C</span></dt>
                <dd>
                    <span>{{interioresArmarioNuevos.c}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.d">D</span></dt>
                <dd>
                    <span>{{interioresArmarioNuevos.d}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.e">E</span></dt>
                <dd>
                    <span>{{interioresArmarioNuevos.e}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.piloto">Piloto</span></dt>
                <dd>
                    <span>{{interioresArmarioNuevos.piloto}}</span>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.productosDormitorio">Productos Dormitorio</span></dt>
                <dd>
                    <div *ngIf="interioresArmarioNuevos.productosDormitorio">
                        <a [routerLink]="['/productos-dormitorio', interioresArmarioNuevos.productosDormitorio?.id, 'view']">{{interioresArmarioNuevos.productosDormitorio?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.armario">Armario</span></dt>
                <dd>
                    <div *ngIf="interioresArmarioNuevos.armario">
                        <a [routerLink]="['/armario', interioresArmarioNuevos.armario?.id, 'view']">{{interioresArmarioNuevos.armario?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.casco">Casco</span></dt>
                <dd>
                    <div *ngIf="interioresArmarioNuevos.casco">
                        <a [routerLink]="['/casco', interioresArmarioNuevos.casco?.id, 'view']">{{interioresArmarioNuevos.casco?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/interiores-armario-nuevos', interioresArmarioNuevos.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
