<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-interiores-armario-nuevos-heading" jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.home.createOrEditLabel">Create or edit a Interiores Armario Nuevos</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!interioresArmarioNuevos.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="interioresArmarioNuevos.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="interioresArmarioNuevos.nombre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.ancho" for="field_ancho">Ancho</label>
                    <input type="number" class="form-control" name="ancho" id="field_ancho"
                        [(ngModel)]="interioresArmarioNuevos.ancho" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.precio" for="field_precio">Precio</label>
                    <input type="number" class="form-control" name="precio" id="field_precio"
                        [(ngModel)]="interioresArmarioNuevos.precio" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.luz" for="field_luz">Luz</label>
                    <input type="number" class="form-control" name="luz" id="field_luz"
                        [(ngModel)]="interioresArmarioNuevos.luz" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.a" for="field_a">A</label>
                    <input type="number" class="form-control" name="a" id="field_a"
                        [(ngModel)]="interioresArmarioNuevos.a" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.b" for="field_b">B</label>
                    <input type="number" class="form-control" name="b" id="field_b"
                        [(ngModel)]="interioresArmarioNuevos.b" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.c" for="field_c">C</label>
                    <input type="number" class="form-control" name="c" id="field_c"
                        [(ngModel)]="interioresArmarioNuevos.c" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.d" for="field_d">D</label>
                    <input type="number" class="form-control" name="d" id="field_d"
                        [(ngModel)]="interioresArmarioNuevos.d" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.e" for="field_e">E</label>
                    <input type="number" class="form-control" name="e" id="field_e"
                        [(ngModel)]="interioresArmarioNuevos.e" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.piloto" for="field_piloto">Piloto</label>
                    <input type="number" class="form-control" name="piloto" id="field_piloto"
                        [(ngModel)]="interioresArmarioNuevos.piloto" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.productosDormitorio" for="field_productosDormitorio">Productos Dormitorio</label>
                    <select class="form-control" id="field_productosDormitorio" name="productosDormitorio" [(ngModel)]="interioresArmarioNuevos.productosDormitorio" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productosDormitorioOption.id === interioresArmarioNuevos.productosDormitorio?.id ? interioresArmarioNuevos.productosDormitorio : productosDormitorioOption" *ngFor="let productosDormitorioOption of productosdormitorios; trackBy: trackProductosDormitorioById">{{productosDormitorioOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.armario" for="field_armario">Armario</label>
                    <select class="form-control" id="field_armario" name="armario" [(ngModel)]="interioresArmarioNuevos.armario" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="armarioOption.id === interioresArmarioNuevos.armario?.id ? interioresArmarioNuevos.armario : armarioOption" *ngFor="let armarioOption of armarios; trackBy: trackArmarioById">{{armarioOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.interioresArmarioNuevos.casco" for="field_casco">Casco</label>
                    <select class="form-control" id="field_casco" name="casco" [(ngModel)]="interioresArmarioNuevos.casco" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cascoOption.id === interioresArmarioNuevos.casco?.id ? interioresArmarioNuevos.casco : cascoOption" *ngFor="let cascoOption of cascos; trackBy: trackCascoById">{{cascoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
