<div>
    <h2 id="page-heading">
        <span jhiTranslate="torgaPedidosApp.direccionTiendas.home.title">Direccion Tiendas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-direccion-tiendas" [routerLink]="['/direccion-tiendas/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="torgaPedidosApp.direccionTiendas.home.createLabel">
            Create new Direccion Tiendas
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="direccionTiendas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numero"><span jhiTranslate="torgaPedidosApp.direccionTiendas.numero">Numero</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codPostal"><span jhiTranslate="torgaPedidosApp.direccionTiendas.codPostal">Cod Postal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="direccion"><span jhiTranslate="torgaPedidosApp.direccionTiendas.direccion">Direccion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="provincias.id"><span jhiTranslate="torgaPedidosApp.direccionTiendas.provincias">Provincias</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="municipios.id"><span jhiTranslate="torgaPedidosApp.direccionTiendas.municipios">Municipios</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="datosUsuario.id"><span jhiTranslate="torgaPedidosApp.direccionTiendas.datosUsuario">Datos Usuario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let direccionTiendas of direccionTiendas ;trackBy: trackId">
                <td><a [routerLink]="['/direccion-tiendas', direccionTiendas.id, 'view' ]">{{direccionTiendas.id}}</a></td>
                <td>{{direccionTiendas.numero}}</td>
                <td>{{direccionTiendas.codPostal}}</td>
                <td>{{direccionTiendas.direccion}}</td>
                <td>
                    <div *ngIf="direccionTiendas.provincias">
                        <a [routerLink]="['../provincias', direccionTiendas.provincias?.id, 'view' ]" >{{direccionTiendas.provincias?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="direccionTiendas.municipios">
                        <a [routerLink]="['../municipios', direccionTiendas.municipios?.id, 'view' ]" >{{direccionTiendas.municipios?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="direccionTiendas.datosUsuario">
                        <a [routerLink]="['../datos-usuario', direccionTiendas.datosUsuario?.id, 'view' ]" >{{direccionTiendas.datosUsuario?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/direccion-tiendas', direccionTiendas.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/direccion-tiendas', direccionTiendas.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'direccion-tiendas/'+ direccionTiendas.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="direccionTiendas && direccionTiendas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
