<div>
    <h2 id="page-heading">
        <span jhiTranslate="torgaPedidosApp.precioTiendaProductos.home.title">Precio Tienda Productos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-precio-tienda-productos" [routerLink]="['/precio-tienda-productos/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="torgaPedidosApp.precioTiendaProductos.home.createLabel">
            Create new Precio Tienda Productos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="precioTiendaProductos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="porcentaje"><span jhiTranslate="torgaPedidosApp.precioTiendaProductos.porcentaje">Porcentaje</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productosDormitorio.id"><span jhiTranslate="torgaPedidosApp.precioTiendaProductos.productosDormitorio">Productos Dormitorio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="datosUsuario.id"><span jhiTranslate="torgaPedidosApp.precioTiendaProductos.datosUsuario">Datos Usuario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let precioTiendaProductos of precioTiendaProductos ;trackBy: trackId">
                <td><a [routerLink]="['/precio-tienda-productos', precioTiendaProductos.id, 'view' ]">{{precioTiendaProductos.id}}</a></td>
                <td>{{precioTiendaProductos.porcentaje}}</td>
                <td>
                    <div *ngIf="precioTiendaProductos.productosDormitorio">
                        <a [routerLink]="['../productos-dormitorio', precioTiendaProductos.productosDormitorio?.id, 'view' ]" >{{precioTiendaProductos.productosDormitorio?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="precioTiendaProductos.datosUsuario">
                        <a [routerLink]="['../datos-usuario', precioTiendaProductos.datosUsuario?.id, 'view' ]" >{{precioTiendaProductos.datosUsuario?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/precio-tienda-productos', precioTiendaProductos.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/precio-tienda-productos', precioTiendaProductos.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'precio-tienda-productos/'+ precioTiendaProductos.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="precioTiendaProductos && precioTiendaProductos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
