<!-- <div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

        <p jhiTranslate="home.question">
            If you have any question on JHipster:
        </p>

        <ul>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener" jhiTranslate="home.link.homepage">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener" jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.link.chat">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener" jhiTranslate="home.link.follow">follow @java_hipster on Twitter</a></li>
        </ul>

        <p>
            <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.github">GitHub</a>!
        </p>
    </div>
</div> -->

<div>
	<div class="row" style="float:left;width:55%;"><img src="../../content/images/TG_SA18_Sc30-CL02 copia.jpg" style="width:100%"></div>
    <div class="row" style="background-color:#CDCFCE;float:right;width:35%;height:845px;">
        <div style="width:100%"> 
            <!-- <div class="modal-body"> -->
            <div >
            <div style="width:100%">
            <br><br>
            <div class="row justify-content-center">
            
                <div class="col-md-8">
                    <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                        <strong>Failed to sign in!</strong> Please check your credentials and try again.
                    </div>
                </div>


                <div style="width:80%">
                <div style="float:left;width:100%">
	                <button (click)="iniciarSesion()" style="width: 40%;height: 70px;float:left">Iniciar Sesion</button>
	                <button (click)="registro()" style="width: 40%;height: 70px;float:right">No tengo claves de acceso</button>
                </div>
               
                    <form class="form" style="display:none;" role="form" (ngSubmit)="login()">
                        <div class="form-group">
                            <label class="username-label" for="username" jhiTranslate="global.form.username">Login</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                            [(ngModel)]="username">
                        </div>
                        <div class="form-group">
                            <label for="password" jhiTranslate="login.form.password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                                [(ngModel)]="password">
                        </div>
                        
                        <br>
                       <p style="text-align:center"> <button type="submit" class="btn btn-primary " style="background-color:white;color:black"  jhiTranslate="login.form.button">Access</button></p>
                    
               
                       <p style="text-align:center"> <a class="alert-link" data-toggle="modal" data-target="#modalInformacion" jhiTranslate="login.password.forgot">Did you forget your password?</a></p>

                    </form>
                    
                    <div class="form1" style="display:none">
                        <div class="form-group">
                            <label >Nombre y Apellidos</label>
                            <input type="text" class="form-control"  id="nombre">
                        </div>
                        <div class="form-group">
                            <label >Telefono de Contacto</label>
                            <input type="number" class="form-control"  id="telefono">
                        </div>
                        <div class="form-group">
                            <label >Correo Electronico</label>
                            <input type="email" class="form-control"  id="email">
                        </div>
                        <div class="form-group">
                            <label >Nombre Comercial de la Tienda</label>
                           	<input type="text" class="form-control"  id="comercial">
                        </div>
                        <div class="form-group">
                            <label >Provincia donde se encuentra la tienda</label>
                             <select id="provincia" class="form-control" (change)="cargarMunicipios()">
                            	<option></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label >Municipio</label>
                            <select id="municipios" class="form-control">
                            	<option></option>
                            </select>
                        </div>
                        <br>
                        <p style="text-align:center"><button type="submit" class="btn btn-primary " data-toggle="modal" data-target="#modalAcceso" (click)="solicitarClaves()"  style="background-color: white;color:black">Solicitar Claves</button></p>
                    
                    
                    </div>
       				
                     <!--<div class="alert alert-warning">
                        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                        <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>
                    </div>--> 
                </div>
            </div>
        </div>
        </div>
     </div>
    </div>
</div>
 <div class="modal fade" id="modalInformacion" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <h4 class="modal-title">&#191;Has olvidado las claves de acceso?</h4>
	        </div>
	        <div class="modal-body">
	         <p style="font-size: 20px;text-align: center;">Llama a este numero para restaurarlas</p>
	         <h2 style="font-size:92px">635 762 551</h2>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>
  
   <div class="modal fade" id="modalAcceso" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-body">
	         <p style="font-size: 20px;text-align: center;">Las claves de acceso se han solicitado correctamente</p>
	         <p style="font-size: 16px;text-align: center;">Te llamaremos en breve para verificar que los datos son correctos y proporcionarte el usuario y contrase&ntilde;a</p>
	         <p style="text-align:center;"> <button type="button" class="btn btn-default" data-dismiss="modal" style="border:1px solid black">Aceptar</button></p>
	        </div>
	      </div>
	      
	    </div>
	  </div>
  
