/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

body {
    background: white;
}

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
    /* make sure browsers use the pointer cursor for anchors, even with no href */
    cursor: pointer;
}
.modal-lg {
    max-width: 80%;
}
/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.hidetext {
    -webkit-text-security: disc; /* Default */
}

.selectectAncho {
    background-color: #dfdddc;
}
.selectectAltura {
    background-color: #dfdddc;
}
.selectectFondo {
    background-color: #dfdddc;
}
.selectectProd {
    background-color: #dfdddc;
}
/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid green;
}

#menuPrincipal {
    width: 15%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    top: 0;
    background-color: white;
}
#botonEsconder {
    display: block;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 80px;
    height: 30px;
}
#botonEsconderCalcu {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 80px;
    height: 30px;
}
#botonEsconderCarr {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 80px;
    height: 30px;
}
@media screen and (max-width: 1500px) {
    #menuPrincipal {
        float: left;
        width: 60%;
        position: fixed;
        z-index: 1;
    }

    #botonEsconder {
        display: block;
        position: fixed;
        top: 0;
        z-index: 1;
        width: 50px;
        height: 30px;
    }
    #textoBienvenido {
        text-align: center;
        margin-top: 50%;
    }
}

#productosDormitorioCargados {
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}
#productosPrincipal {
    width: 75%;
    margin-left: 69px;
}
.producto {
    max-height: 333px;
    max-width: 500px;
    opacity: 0.7;
}
.productoSin {
    max-height: 892.75px;
    max-width: 500px;
    opacity: 0.7;
}
.productoApa {
    max-height: 337.4px;
    max-width: 500px;
    opacity: 0.7;
}

@media screen and (max-width: 1800px) {
    .producto {
        max-height: 283px;
        max-width: 450px;
        opacity: 0.7;
    }
}
@media screen and (max-width: 1650px) {
    .producto {
        max-height: 233px;
        max-width: 400px;
        opacity: 0.7;
    }
}
#imagenDimensiones {
    opacity: 0.7;
    margin-left: 50px;
    margin-right: 50px;
}

#imagenDimensionesApa {
    opacity: 0.7;
    margin-left: 50px;
    margin-right: 50px;
}

#dimensionesColorStyleApa {
    float: left;
    margin-left: 0%;
    height: 443px;
}

#dimensionesColorStyle {
    float: left;
    margin-left: 0%;
    height: 400px;
}

#dimensionesColorStyleSin {
    float: left;
    margin-left: 0%;
    height: 592.75px;
    width: 44%;
}

#interiorMuebles {
    position: absolute;
}

.imagenAcabadoPrincipalImg {
    opacity: 0.7;
    margin-left: 150px;
    max-height: 333px;
    max-width: 500px;
}

.imagenAcabadoPrincipalImgSin {
    opacity: 0.7;
    margin-left: 150px;
    max-height: 592.75px;
    max-width: 500px;
    margin-right: 150px;
}

.acabadoPartes {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
}
.pietrasin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
    filter: brightness(125%);
}
.norwaysin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
    filter: brightness(140%);
}
.broncesin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
}
.transparentesin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
}
.nocesin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
    filter: brightness(140%);
}
.naturesin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
    filter: brightness(150%);
}
.tabaksin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
    filter: brightness(150%);
}
.kobesin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
    filter: brightness(150%);
}
.blancosin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
    filter: brightness(140%);
}
.beigesin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
    filter: brightness(140%);
}
.lattesin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
    filter: brightness(190%);
}
.grafenosin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
    filter: brightness(150%);
}
.lagosin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
    filter: brightness(130%);
}
.maresin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
    filter: brightness(130%);
}
.marmolblancosin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
    filter: brightness(190%);
}
.marmolnegrosin {
    position: absolute;
    max-width: 500px;
    max-height: 592.75px;
    margin-top: -592.75px;
    margin-left: 150px;
    filter: brightness(190%);
}

.acabadoPartes {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
}
.pietra {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
    filter: brightness(125%);
}
.norway {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
    filter: brightness(140%);
}
.bronce {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
}
.transparente {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
}
.noce {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
    filter: brightness(140%);
}
.nature {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
    filter: brightness(150%);
}
.tabak {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
    filter: brightness(150%);
}
.kobe {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
    filter: brightness(150%);
}
.blanco {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
    filter: brightness(140%);
}
.beige {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
    filter: brightness(140%);
}
.latte {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
    filter: brightness(190%);
}
.grafeno {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
    filter: brightness(150%);
}
.lago {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
    filter: brightness(130%);
}
.mare {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
    filter: brightness(130%);
}
.marmolblanco {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
    filter: brightness(190%);
}
.marmolnegro {
    position: absolute;
    max-width: 500px;
    max-height: 333px;
    margin-top: -333px;
    margin-left: 150px;
    filter: brightness(190%);
}

#acabadosPartesDivs {
    float: right;
    width: 35%;
}

.acabadosModal {
    float: left;
    width: 280px;
    height: 160px;
    margin-left: 80px;
    margin-top: 30px;
}
.productosColor {
    float: left;
    border: 1px solid #dfdddc;
}
.productosColorSin {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
}
.productosColorSin72 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
}
.productosColorSin73 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
}
.productosColorSin74 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
}
.productosColorSin75 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
}
.productosColorSin76 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
}
.productosColorSin77 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
}
.productosColorSin78 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
    margin-right: 100%;
}
.productosColorSin79 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
    margin-right: 100%;
}
.productosColorSin80 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
    margin-right: 100%;
}
.productosColorSin81 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
    margin-right: 100%;
}
.productosColorSin81 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
    margin-right: 100%;
}
.productosColorSin82 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
    margin-right: 100%;
}
.productosColorSin83 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
    margin-right: 100%;
}
.productosColorSin84 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
    margin-right: 100%;
}
.productosColorSin85 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
    margin-right: 100%;
}
.productosColorSin86 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
}
.productosColorSin87 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
}
.productosColorSin88 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
}
.productosColorSin89 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
}
.productosColorSin90 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
    margin-right: 100%;
}
.productosColorSin91 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
    margin-right: 100%;
}
.productosColorSin92 {
    float: left;
    border: 1px solid #dfdddc;
    width: 44%;
    margin-right: 100%;
}
.productosColor33 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor14 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor69 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor62 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor63 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor64 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor65 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor66 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor67 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor68 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor69 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor53 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor107 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor108 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor109 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor119 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor114 {
    float: left;
    border: 1px solid #dfdddc;
    margin-right: 100%;
}
.productosColor110 {
    float: left;
    border: 1px solid #dfdddc;
}
.productosColor111 {
    float: left;
    border: 1px solid #dfdddc;
}
.productosColor112 {
    float: left;
    border: 1px solid #dfdddc;
}
.productosColor113 {
    float: left;
    border: 1px solid #dfdddc;
}
.productosColor115 {
    float: left;
    border: 1px solid #dfdddc;
}
.productosColor116 {
    float: left;
    border: 1px solid #dfdddc;
}
.productosColor117 {
    float: left;
    border: 1px solid #dfdddc;
}
.productosColor118 {
    float: left;
    border: 1px solid #dfdddc;
}
#imagenAcabadoPrincipal {
    float: left;
    width: 500px;
}

#apoyoStyle {
    float: left;
    margin-left: 10%;
}
#ilu1 {
    float: left;
    margin-left: 200px;
}
#ilu2 {
    float: left;
    margin-left: 200px;
}
#calculadoraCarrito {
    width: 25%;
    background-color: #dfdddc;
    margin-left: 57%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

#tablaElegirCalcu {
    margin-left: 75px;
    margin-bottom: 20px;
}

#logoImagen {
    width: 100px;
    height: 65px;
    position: absolute;
}

@media screen and (max-width: 500px) {
    #productosPrincipal {
        width: 100%;
        margin-left: 0px;
        margin-top: 70px;
    }

    #productosDormitorioCargados {
        margin-left: 3%;
        margin-bottom: 50px;
        margin-right: 15px;
    }
    .producto {
        max-height: 100px;
        max-width: 150px;
        opacity: 0.7;
    }
    .productoSin {
        max-height: 292.75px;
        max-width: 150px;
        opacity: 0.7;
    }

    #imagenDimensiones {
        max-height: 160px;
        max-width: 320px;
        opacity: 0.7;
        margin-left: 7px;
        margin-right: 8px;
        margin-bottom: 50px;
    }
    #imagenDimensionesApa {
        max-height: 160px;
        max-width: 320px;
        opacity: 0.7;
        margin-left: 7px;
        margin-right: 8px;
        margin-bottom: 50px;
    }

    #dimensionesColorStyle {
        float: left;
        margin-left: 0%;
        margin-bottom: 0px;
        height: 100%;
    }
    #interiorMuebles {
        position: absolute;
        margin-top: -30px;
    }

    .imagenAcabadoPrincipalImg {
        opacity: 0.7;
        max-height: 183px;
        max-width: 300px;
        margin-left: 18px;
    }
    .acabadoPartes {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
    }
    .pietra {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
        filter: brightness(125%);
    }
    .norway {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
        filter: brightness(140%);
    }
    .bronce {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
    }
    .transparente {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
    }
    .noce {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
        filter: brightness(140%);
    }
    .nature {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
        filter: brightness(150%);
    }
    .tabak {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
        filter: brightness(150%);
    }
    .kobe {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
        filter: brightness(150%);
    }
    .blanco {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
        filter: brightness(140%);
    }
    .beige {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
        filter: brightness(140%);
    }
    .latte {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
        filter: brightness(190%);
    }
    .grafeno {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
        filter: brightness(150%);
    }
    .lago {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
        filter: brightness(130%);
    }
    .mare {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
        filter: brightness(130%);
    }
    .marmolblanco {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
        filter: brightness(190%);
    }
    .marmolnegro {
        position: absolute;
        max-width: 300px;
        max-height: 183px;
        margin-left: 20px;
        margin-top: -183px;
        filter: brightness(190%);
    }

    #acabadosPartesDivs {
        float: left;
        width: 100%;
    }
    .acabadosModal {
        float: left;
        width: 100%;
        height: 160px;
        margin-left: -6px;
        margin-top: 30px;
    }
    #imagenAcabadoPrincipal {
        float: left;
        width: 300px;
    }

    #apoyoStyle {
        float: left;
        margin-left: 5%;
        max-width: 150px;
        max-height: 100px;
    }
    #imagenApoyo {
        max-width: 150px;
        max-height: 100px;
    }
    #ilu1 {
        float: left;
        margin-left: 10px;
    }
    #ilu2 {
        float: left;
        margin-left: 10px;
    }
    #imagenIlu {
        max-width: 150px;
        max-height: 100px;
    }

    #botonEsconderCalcu {
        display: block;
        position: fixed;
        top: 0;
        z-index: 1;
        width: 45px;
        height: 30px;
        right: 50px;
    }
    #botonEsconderCarr {
        display: block;
        position: fixed;
        top: 0;
        z-index: 1;
        width: 40px;
        height: 30px;
        right: 5px;
    }
    #calculadoraCarrito {
        width: 100%;
        background-color: #dfdddc;
        margin-left: 57%;
        height: 91%;
        position: fixed;
        top: 32px;
        right: 0;
        bottom: 0;
        display: none;
        z-index: 1;
    }
    #tablaElegirCalcu {
        margin-left: 75px;
        margin-bottom: 20px;
        display: none;
    }

    #logoImagen {
        width: 100px;
        height: 50px;
        position: absolute;
    }
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

#imagenInicio {
    float: left;
    width: 55%;
}
#cuadroInicio {
    background-color: #cdcfce;
    float: right;
    width: 35%;
    height: 845px;
}

@media screen and (max-width: 680px) {
    #cuadroInicio {
        background-color: #cdcfce;
        float: left;
        width: 100%;
        height: 110%;
    }
    #imagenInicio {
        float: left;
        width: 100%;
    }
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
    text-overflow: ellipsis;
}
.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding {
    padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.card-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-secondary {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ui-autocomplete {
    width: 100%;
}

.ui-autocomplete-input {
    width: 100%;
}

/* jhipster-needle-css-add-main JHipster will add new css style */
