<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="acabadosProducto">
            <h2><span jhiTranslate="torgaPedidosApp.acabadosProducto.detail.title">Acabados Producto</span> {{acabadosProducto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="torgaPedidosApp.acabadosProducto.productosDormitorio">Productos Dormitorio</span></dt>
                <dd>
                    <div *ngIf="acabadosProducto.productosDormitorio">
                        <a [routerLink]="['/productos-dormitorio', acabadosProducto.productosDormitorio , 'view']">{{acabadosProducto.productosDormitorio}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/acabados-producto', acabadosProducto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
