<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-referencia-clientes-heading" jhiTranslate="torgaPedidosApp.referenciaClientes.home.createOrEditLabel">Create or edit a Referencia Clientes</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!referenciaClientes.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="referenciaClientes.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.referenciaClientes.referenciaCliente" for="field_referenciaCliente">Referencia Cliente</label>
                    <input type="text" class="form-control" name="referenciaCliente" id="field_referenciaCliente"
                        [(ngModel)]="referenciaClientes.referenciaCliente" required/>
                    <div [hidden]="!(editForm.controls.referenciaCliente?.dirty && editForm.controls.referenciaCliente?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.referenciaCliente?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="torgaPedidosApp.referenciaClientes.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" [(ngModel)]="referenciaClientes.cliente" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id === referenciaClientes.cliente?.id ? referenciaClientes.cliente : clienteOption" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.nombre}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
