<div>

    <h2 id="page-heading" style="text-align:center;font-size:45px;margin-bottom:2%">
        <span><strong>Contacto Con Fabrica</strong></span>
    </h2>
    <p style="text-align:center"><label>Fecha:&nbsp;&nbsp;&nbsp;&nbsp;</label><input style="text-align:center" value="{{contactoFabrica.fechaInicio}}" disabled/></p>
    <p style="text-align:center"><label>En relacion a:&nbsp;&nbsp;&nbsp;&nbsp;</label><input style="text-align:center" value="{{contactoFabrica.tipo}}" disabled/></p>
    <p style="text-align:center"><label>Con codigo:&nbsp;&nbsp;&nbsp;&nbsp;</label><input style="text-align:center" value="{{contactoFabrica.codigo}}" disabled/></p>
    
    <div id="mensajes" style="border:1px solid gray;width:60%;margin-left:20%;height:500px;overflow: scroll;">
    	
    </div>
    <div style="width:60%;background-color:gray;margin-left:20%;height:120px">
    	<div style="float:left;width:65%">
    		<input style="width:80%" id="textoMensaje" />
    		<form>
			  <div class="form-group">
			    <input type="file" class="form-control-file" id="exampleFormControlFile1">
			  </div>
			</form>
    	</div>
    	<div style="float:right;width:35%;height:85%">
    		<button (click)="mensajes()" style="height:100%;width:90%">Mandar</button>
    	</div>
    </div>
</div>

